/*
Theme Name: StartupHub Version 1
Theme URI: 
Author: Tattoo FZ LLC
Author URI: http://www.tattoo360.com
Description: Dubai Chamber's Startup Hub initiative theme for events, news, forums etc
Version: 1.0
*/

.width100p
{
	width: 100%;
}

/*Forum start page*/
/*
body.forumPage .section-page-hero, body.single-forum .section-page-hero, body.single-topic .section-page-hero
{
	height: 950px;
}
*/
 
body.single-topic .section-page-hero
{
	height: 950px;
}
.menuColumn, .JoinConversation, .RefineSearch {
    background-color: transparent!important;
    border: solid 1px #F37421;
    padding-bottom: 15px!important;
    padding-top: 15px!important;
}
.panel-title:after {
	/*content: "\f078";*/
	content: "";
	color: #292723;
	float:right;
	display: block;
	font-family: 'FontAwesome';
	font-size: 13px;
	margin-top:-20px;
	pointer-events: none;
	position:relative;
	line-height: 20px;
	text-transform: none;
}
.panel-body h4 {
	font-size: 16px;
	margin: 10px 0 20px;
	padding:0 !important;
}
.panel-body .form-control {
	margin-bottom:0;
}
.panel-group .panel-heading + .panel-collapse .panel-body,
.panel-default {
   border: 0 solid #FFFFFF !important;
	box-shadow: 0 0 #FFFFFF;
	background: none;
}
.panel-title {
	padding: 0;
}
.panel-default > .panel-heading {

	padding:10px 20px;
	border-bottom: 1px solid #2A56EA;
	background: none;

}
.panel-default > .panel-heading a:hover {
	background:none !important; 
	/*color:#222222 !important; */
	color:#FFFFFF !important;
}
.panel-default > .panel-heading a {
	/*color:#222222; */
	color:#FFFFFF;
	font-size: 18px;
	width: 100%;
	display: block;
}
.JoinConversation {
background-color:#0035E6!important;
margin-top:10px;
}
.nextOrange {
    color:#F37421;
    margin-right:15px;
}
.titleOrangeBox {
    margin-bottom: 19px;
    font-size: 18px;
}
.bgdWhite {
	background-color:#fff!important;
}

.JoinConversation, .single-forum .JoinConversation {
    width:100%;
	float:left!important;
	text-align:left!important;
	margin-bottom:20px;
	padding:15px;
}
.forumPage .overlay_blue {
    background-color: rgba(6,34,190,1 );
}
.conversationBox .submitOk {
    background-color:transparent!important;
    color:#0035E6!important;
}
.titleEvent {
    color: #0C3EE7!important;
    font-size: 24px;
    margin-top: 12px;
    display: inline-block;
    width: 	100%;
}
.titleEventbold, .titleEventNormal {
    color: #F37523;
    font-weight: bold;
    font-size: 15px;
}
.NewsletterInput {
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    background-color: transparent!important;
    border-radius: 2px;
    margin-bottom: 10px;
}
.tagCopy {
    color: #F37421;
    margin-right: 10px;
}
.no-border {
    border-width: 0;
}
.BannerCopyForum {
    font-size: 33px;
	color:#fff;
}
.conversationBox .leftColDiscussion{
    border:0px!important;
}
.conversationBox .rightColDiscussion{
	border-left:1px solid #D3D1E8;
}
.conversationBox .form-control {
	border:1px solid #0135E6;
}
.conversationBox .send {
    color:#0135E6;
}
.conversationBox .NewsletterInput {
    border: 1px solid #0135E6;
    color: #0135E6;
}
.conversationBox .KeywordHolder{
    background:#fff!important;
    border:1px solid #0135E6;
    border-top:0px;
}
.conversationBox .keywordTitle {
	color:#D5DDF8;
}
.conversationBox .keywordTitle:hover {
    color:#0035E6;
}
.conversationBox .submitOk {
	background-color:#fff;
	color:#0135E6!important;
}
.conversationBox ::-webkit-input-placeholder  { 
	color: #D3D1E9!important;
	font-size:11px;
}
.conversationBox ::-moz-placeholder { 
	color: #D3D1E9;font-size:11px;
}
.conversationBox :-ms-input-placeholder { 
	color: #D3D1E9;font-size:11px;
}
.conversationBox :-moz-placeholder {
	color: #D3D1E9;font-size:11px;
}
.ForumRowsHolder {
	background-color:#0035E6;
	margin-bottom:80px;
}
.ForumRowsHolder .JoinConversation
{
	float: none;
	text-align: left;
}
.margin-left {
	margin-left:20px;
}
.arrowRight {
	float:right;
	padding-right:5px;
}
.noBgd {
	background-color:transparent!important;
}
.no-margin {
    margin:0px!important;
}
.mostHelpfulRow {
	margin-bottom:8px;
	padding-left:0px;
}
.rowDiscussion {
	background-color:#FDF1E9;
	margin-bottom:30px;
}
.DiscussionAuthor {
	color:#0035E6;
	font-size: 16px;
	margin-top:8px;
	margin-bottom:8px;
}
.DiscussionTitle {
	color:#F37421;
	padding-bottom:10px;
}
.forumImage {
	margin-top:10px;
}
.leftColDiscussion {
	border-right:1px solid #D3D1E8;
}
.lightFont {
    font-size:12px;
    margin-right:5px;
}
.descEvent .bbp-forum-content
{
	font-size:14px;
	font-weight:normal;
}
.commentTitle {
	margin-top:20px;
	margin-bottom:40px;
}
.smallCopy {
    font-size:12px;
}
.margin-left-bit {
	margin-left:10px!important;
}
.commentHeader {
	padding-bottom:8px!important;
	border-bottom-color:#D3D1E8!important;
}
.rowComments {
	display:none;
}
.readmoreComments {
	cursor:pointer;
}

.rowsconversation {
	border-bottom:1px solid #5478EF;
	padding-bottom:15px;
	margin-top:20px;
}
.rowsconversationTitle {
    color: #fff;
    font-size:20px;
    padding-bottom:20px;
}
.ConversationParticipant {
	font-size:12px;
	float:left;
}
.ParticipantOrange {
	font-size:12px;
    color:#F37421;
}

/*Forum end page*/ 

/*start profile page */

.ProfileBox {
    border:solid 1px #F37421;
}

.ProfileCopyholder {
    padding-left:15px;
    padding-right:15px;
    padding-top:18px;
    padding-bottom:18px;
}

.ProfileName {
    font-size: 20px;
color: #fff;
line-height: 180%;

}
.ProfileCopyholder .descEvent {
color:#fff!important;
}
.deactivateaccount .JoinConversation {
    text-align:left!important;

}
.Detailedbox {
border:1px solid #F37421;
padding-top:46px;
padding-bottom:40px;
padding-left:20px;
padding-right:20px;
margin-top:20px;
}
.enlargeBtn {
width:170px;
}
.Detailedbox .form-control {
		border:1px solid #002BDE;
}

.Detailedbox .NewsletterInput, .Detailedbox .form-control {
		color:#002BDE!important;
}

.Detailedbox .submitOk {
	background-color:transparent!important;
	color:#002BDE!important;
	right:21px;
}
.rowField {
		position:relative;
		padding-bottom: 10px;
}
.EditField {
position:absolute;
color:#002BDE;
right:9px;
top:9px;
background-color:#fff;
cursor:pointer;
padding-left:8px;


}
/*end profile page*/

/*Registration start page*/ 
.registrationbox ,.conversationBox {
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	min-height:100px;
	position:relative;
	max-width:630px;
	margin-top:5px;
	border: 1px solid #fff;
	border-radius: 2px;
	padding-left:17px;
	padding-right:17px;
	padding-top:32px;
	padding-bottom:32px;
	display:none;
}
.conversationBox {
	position:fixed;
	top:20%;
	width:90%;
	left: calc(20% );
	max-width:800px;
	z-index:100;
}
.conversationBox .scroll-bar {
	background-color:#0035E6!important;
}
.conversationBox .scroll-element_track {
      background-color:#D5DDF8;
}
.registerBoxTitle {
    color:#0035E6;
}
.btnclosePopup {
	position:absolute;
	background:url(images/closeBtnPopup.png);
	top:20px;
	right:20px;
	cursor:pointer;
	width:15px;
	height:15px;
	background-repeat:no-repeat;
}
.registrationbox .form-control {
    border: 1px solid #0035E6;
}
.form-checkbox {
	//   outline: 1px solid #0035E6!important;
	border-radius: 2px;
}
.registrationbox .submitOk {
	background-color:#fff;
	color:#0035E6!important;
	font-size:11px;
	padding-top:10px!important;
}
.signupCheck {
	padding-left:12px;
}

.imageHolderUpload{
	width: 100%;
	height: 40%;
	text-align: center;
	line-height: 80px;
	color: #D3D1E9;
	padding-top:40px;
	padding-bottom:40px;
	border:solid 1px #0623BF;
	background-image:url(images/bgdUpload.jpg);
	background-position:center;
	background-repeat:no-repeat;
}
.thefilecss{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40%;
	outline: none;
	opacity: 0;
}
.uploadbtn{
	margin: 0;
	color: #fff;
	background: #16a085;
	border: none;
	width: 508px;
	height: 35px;
	margin-top: -20px;
	margin-left: -4px;
	border-radius: 4px;
	border-bottom: 4px solid #117A60;
	transition: all .2s ease;
	outline: none;
	display:none;
}
.registrationbox .form-control, .Detailedbox .form-control
{
	border:1px solid #0035E6 !important;
}
.registrationbox .form-control.has-error, .form-control.has-error
{
	border:1px solid #C00 !important;
}
#registerfrm .error
{
	color:#C00;
	font-size: 11px;
}
/*Registration end page*/

.wp-social-login-provider-list
{
	text-align: center;
}
.wp-social-login-provider-list a {
    margin: 0px 3px;
}
.wp-social-login-provider-list a:hover {
    text-decoration: none;
}

.user_profile
{
	float: right;
    margin-left: 23px;
    margin-right: 23px;
    padding-top: 10px;
}
.user_profile .name
{
	color:#FFF;
}
.user_profile .welcome
{
	color:#F37421;
	font-size: 11px;
	margin-top: 8px;
}
.user_profile .profile_pic
{
	width: 50px;
	height: 50px;
	overflow: hidden;	
	border-radius: 50%;
}
.user_pic
{
	background-size: cover !important;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.user_75_pic
{
	background-size: cover !important;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}
button.btn.col-centered.block.btn-block.btn-primary.apply-now-smrt:hover {
    color: #000;
	text-decoration: none;
}