﻿
@media (min-width: 1200px){
	.home-main-wr > .container > div >.container{
		width: 1170px !important;
	}
}
@media (min-width: 992px){
	.home-main-wr > .container > div >.container{
		width: 1170px !important;
	}
}
@media (min-width: 768px){
	.home-main-wr > .container > div >.container{
		width: 1170px !important;
	}
	.navbar-toggle {
			display: none;
	}
	.navbar-toggle-show{
		display: flex;
	}
}


@media screen and (min-width:993px) {
	
}
@media screen and (max-width:1025px) {
	
}
@media screen and (max-width:1025px) and (min-width:1023px) and (min-height:1024px) and (orientation: portrait){
	
}
@media screen and (max-width:992px) {
	
}

@media screen and (max-width:992px) and (min-width: 768px){
	
}

@media screen and (max-width:992px) and (min-width:481px){
	
	
}

@media screen and (max-width:740px) and (orientation: landscape){
	
}



@media screen and (max-width:480px) {
	.navbar-default .navbar-toggle, 
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		margin: 20px 5px 20px 0;
		margin: 18px 5px 17px 0;
	}
	.btn-main-dropdown,
	.btn-login-dropdown{
		display:none;
	}
	.nav-login {
		padding: 0 7.5px;
	}
	.navbar-collapse {
		box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.7);
	}
	.megamenu .dropdown.megamenu-fw .dropdown-menu{
		display: block !important;
		height: 100% !important;
		opacity: 1 !important;
		padding: 15px 15px 30px;
	}
	.megamenu .dropdown .dropdown-menu,
	.navbar-nav>li> ul.dropdown-menu.login-register-wr{
		display: block !important;
		max-height: 90vh;
		opacity: 1 !important;
		padding: 15px;
		width:100%;
		position: relative;
		height: 100% !important;
		border-top:1px solid rgba(255, 255, 255, 0.5);
	}
	.megamenu-fw .dropdown-menu nav.main-menu ul li a {
		font-size: 30px;
	}
	.secondary-menu-wr .title{
		margin:0;
	}
	.navbar-collapse .navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-collapse{
		float:none;
		padding:0;
		border-top:1px solid rgba(255, 255, 255, 0.5);
	}
	.navbar-default .menu-search-wr,.navbar-default .menu-search-inner-wr {
		padding: 0 15px;
		background: #0623bf;
		border: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:0;
	}
	.navbar-default .menu-search-wr .navbar-form {
		margin: 30px 0;
	}
	.navbar-default .menu-search-wr{
		border-top:1px solid rgba(255, 255, 255, 0.5);
	}
	.megamenu .dropdown.megamenu-fw .dropdown-menu {
		max-height: 90vh;
		border-top:1px solid rgba(255, 255, 255, 0.5);
	}
	.main-menu-outer-wr {
		margin: 0 0 25px;
	}
	.quick-links-outer-wr {
		margin: 0 0 15px;
	}
	.outline-boxes-outer-wr{
	
	}
	.megamenu-fw .dropdown-menu nav.main-menu .social-links-wr ul li,
	.social-links-wr ul li,
	.social-article-share-wr ul li{
		float: none;
		display: inline-block;
	}
	
	.login-wr{
		border-bottom:1px solid rgba(255, 255, 255, 0.5);
	}
	.register-wr {
		margin: 20px 0 15px;
	}
	.social-separator-wr {
		margin: 35px 0 0px;
	}
	span.or-text {
    	top: -14px;
	}
	.section-hero .title {
		font-size: 30px;
		margin: 20px 0 10px;
	}
	.section-hero .sub-title {
		font-size: 24px;
	}
	
	.startup-options.form-inline .input-group.selectpicker-wr {
		width: 100%;
	}
	.startup-options .bootstrap-select.btn-group .dropdown-toggle .filter-option {
		font-size: 18px;
		white-space: normal;
	}
	.startup-options .btn-wr {
		margin: 10px 0 0 !important;
	}
	.startup-options .bootstrap-select.btn-group .dropdown-menu li a span.text {
		white-space: normal;
	}
	.startup-options {
		margin: 30px 0 0px 0;
	}
	
	.section-feeds .bg-wr {
		padding: 30px 0;
	}
	.section-feeds .section-title, section .section-title, aside .section-title {
		margin: 0 0 25px;
	}
	.meet-us-wr{
		margin:50px 0 0;
	}
	.updates-articles-wr > div > [class*="col-sm-"] {
		margin: 0 0 25px;
	}
	.updates-articles-wr > div > [class*="col-sm-"]:last-child{
		margin:0;
	}
	.section-socialmedia .primary-outline-wr {
		margin: 0 0 25px 0;
	}
	.slider-nav-wr {
		bottom: -60px;
		left: 0;
		right: 0;
		text-align: center;
	}
	
	

	.section-testimonials blockquote h3 {
		margin: 20px 0 10px;
	}
	.section-testimonials .bg-wr {
		padding: 50px 0 90px;
	}
	.section-partners .bg-wr {
		padding: 40px 0 40px;
	}
	footer [class*="col-sm-"]:first-child{
		margin:0 0 40px;
	}
	footer [class*="col-sm-"] h4 {
		margin: 0 0 15px 0;
	}
	
	.navbar-default .btn-outline-primary.navbar-toggle,
	.navbar-default .btn-outline-primary.navbar-toggle:focus, 
	.navbar-default .btn-outline-primary.navbar-toggle:hover,
	 body .btn-primary,
	.bootstrap-select .btn-primary:focus,
	.btn-primary.active, .btn-primary:active,
	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,
	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,
	.btn-primary.focus, .btn-primary:focus,body .btn-secondary, .bootstrap-select .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active.focus, .btn-secondary:active:focus, .btn-secondary:active:hover, .open>.dropdown-toggle.btn-secondary.focus, .open>.dropdown-toggle.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:hover, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active.focus, .btn-secondary:active:focus, .btn-secondary:active:hover, .open>.dropdown-toggle.btn-secondary.focus, .open>.dropdown-toggle.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:hover, .btn-secondary.focus, .btn-secondary:focus,
	body .btn-outline-secondary,
	body .btn-outline-light-primary,
	body .btn-outline-light,
	body .btn-outline-primary,
	body .btn-outline-primary-full,
	.form-control,
	.menu-search-wr .input-group .btn{
		padding: 8px 12px 4px 12px;
	}
	.startup-options span.icon-carets {
		line-height: 18px;
		vertical-align: bottom;
	}
	.btn .icon-carets {
		/*top:0;*/
	}
	.social-links-wr .fa,
	.social-article-share-wr .fa{
		line-height:34px;
	}
	.login-tools-wr input[type=checkbox]{
		margin-top:-2px;
	}
	
	.section-events aside.social-article-share-wr {
		margin: 15px 0 15px;
	}
	.section-events .event-info-wr {
		margin: 5px 0 0;
	}
	.section-feeds article h3 {
		margin: 5px 0 10px;
	}
	
	.scroll-wrapper {
		overflow: hidden !important;
		padding: 0 8px 0 0 !important;
		padding: 15px 15px 0 !important;
		position: relative;
	}
	.single-event .events-articles-wr article {
		padding: 0px 0 25px;
	}
	.post-info {
		padding-top: 10px;
		text-align: left;
	}
	body .section-page-hero{
		height:auto;
	}
	.section-page-hero .bg-wr {
		padding: 80px 0;
	}
	.section-page-hero .banner-scroll-to-wr {
		bottom: 25px;
	}
	
	.page-hero-nav {
	}
	.section-page-hero .vertical-middle > .container > .row > [class^="col-"] {
		margin-bottom: 30px;
	}
	.section-page-hero .vertical-middle > .container > .row > [class^="col-"]:last-child{
		margin: 0;
	}
	.section-page-hero .vertical-middle > .container > .row > [class^="col-"]:first-child {
		margin-top: 30px;
	}
	.forum-list .panel-title a small {
		font-weight: 400;
		font-size: 13px;
	}
	.forum-list .panel-title a span.icon-caret {
		right: 0;
	}
	body .section-page-hero-content{
		position: relative;
	}
	.user-list td {
		width: 290px;
	}
	body .section-page-hero .bg-wr .vertical-full-wr>.vertical-middle {
		padding-top: 0;
	}

	
	.modal-convo .media-main {
			width: 100%;
			display: block;
			text-align: center;
			margin: 0 0 15px 0;
	}
	
	.col-contact-details {
		margin: 0 0 20px;
	}
	.view-gmap-wr {
		opacity: 1;
	}
}

@media screen and (max-width:375px) {
	.user-list td {
		width: 250px;
	}
}

@media screen and (max-width:360px) {
	.user-list td {
		width: 230px;
	}
}

@media screen and (max-width:320px) {
	.user-list td {
		width: 190px;
	}
}