.menu .current-menu-item {
	font-family: 'HelveticaNeue-Medium'!important;
	background-image: url(../images/arrow_right_orange.png);
	background-repeat: no-repeat;
	background-position: 0px 16px;
	padding-left: 28px;
}

.quickLinksBox li
{
	list-style-type: none;
}
.quickLinksBox li a
{
	color: #FFF;
}

.quickLinksBox .current-menu-item
{
	font-family: 'HelveticaNeue-Medium'!important;
    cursor:pointer;
}
.quickLinksBox .current-menu-item i
{
	display:inline-block;

}

.questionCopy b
{
	font-size: 20px;
	font-weight: 500;
}

.user_profile
{
	float: right;
    margin-left: 23px;
    margin-right: 23px;
}
.user_profile .name
{
	color:#FFF;
}
.user_profile .welcome
{
	color:#F37421;
	font-size: 11px;
}
.user_profile .profile_pic
{
	width: 50px;
	height: 50px;
	overflow: hidden;	
	border-radius: 50%;
}
.user_pic
{
	background-size: cover !important;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.page-template-forum .overlay_blue, body.forum .overlay_blue {
    background-color: rgba(6,34,190,1 );
}
.login-btn {
	float: right;
    background-color: #0035E6;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
#updateuser .error, #changepassword .error
{
	border: 1px solid #CC0000 !important;
	background: #FBE3E4 url(../images/error.gif) no-repeat 10px center;
	padding: 3px 10px 3px 35px; 
}
.registrationbox .form-control, .Detailedbox .form-control
{
	border:1px solid #0035E6 !important;
}
.has-error
{
	border:1px solid #C00 !important;
}
#registerfrm .error
{
	color:#C00;
	font-size: 11px;
}

