/*
Theme Name: StartupHub
Theme URI: 
Author: Tattoo FZ LLC
Author URI: http://www.tattoo360.com
Description: Dubai Chamber's Startup Hub initiative theme for events, news, forums etc
Version: 0.5
*/

@font-face {
	font-family: 'HelveticaNeue-Italic';
	src: url('fonts/HelveticaNeue-Italic.eot');
	src: url('fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Italic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Italic.woff') format('woff'),
		url('fonts/HelveticaNeue-Italic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue-UltraLightItalic';
	src: url('fonts/HelveticaNeue-UltraLightItalic.eot');
	src: url('fonts/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-UltraLightItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue-LightItalic';
	src: url('fonts/HelveticaNeue-LightItalic.eot');
	src: url('fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-LightItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-LightItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue-BoldItalic';
	src: url('fonts/HelveticaNeue-BoldItalic.eot');
	src: url('fonts/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-BoldItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue-CondensedBold';
	src: url('fonts/HelveticaNeue-CondensedBold.eot');
	src: url('fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
		url('fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
		url('fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
		url('fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('fonts/HelveticaNeue-Light.eot');
	src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Light.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Light.woff') format('woff'),
		url('fonts/HelveticaNeue-Light.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-ThinItalic';
	src: url('fonts/HelveticaNeue-ThinItalic.eot');
	src: url('fonts/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-ThinItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue-UltraLight';
	src: url('fonts/HelveticaNeue-UltraLight.eot');
	src: url('fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
		url('fonts/HelveticaNeue-UltraLight.woff') format('woff'),
		url('fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
		url('fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('fonts/HelveticaNeue-Medium.eot');
	src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Medium.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Medium.woff') format('woff'),
		url('fonts/HelveticaNeue-Medium.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Thin';
	src: url('fonts/HelveticaNeue-Thin.eot');
	src: url('fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Thin.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Thin.woff') format('woff'),
		url('fonts/HelveticaNeue-Thin.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('fonts/HelveticaNeue.eot');
	src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue.woff2') format('woff2'),
		url('fonts/HelveticaNeue.woff') format('woff'),
		url('fonts/HelveticaNeue.ttf') format('truetype'),
		url('fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-CondensedBlack';
	src: url('fonts/HelveticaNeue-CondensedBlack.eot');
	src: url('fonts/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
		url('fonts/HelveticaNeue-CondensedBlack.woff') format('woff'),
		url('fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype'),
		url('fonts/HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('fonts/HelveticaNeue-Bold.eot');
	src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
		url('fonts/HelveticaNeue-Bold.woff') format('woff'),
		url('fonts/HelveticaNeue-Bold.ttf') format('truetype'),
		url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-MediumItalic';
	src: url('fonts/HelveticaNeue-MediumItalic.eot');
	src: url('fonts/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
		url('fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
		url('fonts/HelveticaNeue-MediumItalic.ttf') format('truetype'),
		url('fonts/HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}


	body {
	font-family: 'HelveticaNeue';
		font-size:14px;
		color:#686868;
	
		background-color:#fff;
		background-repeat:repeat;
	}
	h1,h2,h3,h4,h5,h6{ 
		letter-spacing:0px;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;         
		font-weight:normal;
		font-family: 'PT Sans',sans-serif;
		line-height:140% !important;
		color:#222222;
	}
	h1{
		font-size: 22px; 
	}
	h2{
		font-size: 20px; 	
	}
	h3{
		font-size: 18px; 
	}
	h4{
		font-size: 16px; 		
	}
	h5{
		font-size: 14px; 		
	}
	h6{
		font-size: 13px;  	
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
		color:#222222 !important;
		text-decoration:none !important; 
	}
	h1 a:hover,
	h2 a:hover,
	h3 a:hover,
	h4 a:hover,
	h5 a:hover,
	h6 a:hover{
		color:#fff !important;
	}
	a { 
		color:#222222;
		padding: 0;
		margin: 0;
		text-decoration: none; 
		-webkit-transition: background-color .2s linear, color .2s linear;
		-moz-transition: background-color .2s linear, color .2s linear;
		-o-transition: background-color .2s linear, color .2s linear;
		-ms-transition: background-color .2s linear, color .2s linear;
		transition: background-color .2s linear, color .2s linear;
	}
	a:hover,
	a:focus {
	  text-decoration: none;
	  color:#686868;
	}
	a.readmore {
		display:block;
		font-style:italic;
	}
	a.navbar-brand {
		background: url(images/logo.png) no-repeat scroll left top rgba(0, 0, 0, 0);
		color: #222222 !important;
		font-size: 35px;
		font-weight: 400;
		margin-top: 0;
		padding-left: 55px !important;
		line-height: 36px;
        width:200px;
        height:53px;
        background-size:contain;
	}
.navbar-header {

padding-bottom:16px;}
.alignmenuRight {

    float:right;
    margin-top:3px;

}
.copyHolder {
	margin-top:7%;
	padding-left:1.2%;
	padding-right:23%;
}
.BannerCopy_1 {

color:#fff;
font-size:30px;
}
.BannerCopy_2 {
    font-size:30px;
    color:#F37421;
    margin-top:10px;
    line-height:140%;
    font-family: 'HelveticaNeue-Light';
}
.BannerCopy_3 {
color:#fff;
font-size:18px;
margin-top:82px;
padding-left:25px;
background-image:url(images/arrow_right_orange.png);
background-repeat:no-repeat;
background-position:0px 5px;
margin-left:0px;
    font-family: 'HelveticaNeue-Light';
    margin-bottom:12px;

}

.menu_Holder {
position:absolute;
width:100%;

height: calc(100% - 90px);
background-color:rgba(0, 46, 199,0.9);


display:none;
z-index:10;
}


.login_Holder {
position:absolute;
width:100%;

height: 120px;

display:none;
z-index:10;
}
.burgermenu {

float:right;
background-image:url(images/menu_button.png);
cursor:pointer;
width:35px;
height:26px;
margin-top:2px;

}


.JoinConversation {
    float:right;

cursor:pointer;
padding-left:10px;
padding-right:10px;
padding-bottom:6px;
padding-top:6px;
border:1px solid #fff;


text-align:center;
cursor:pointer;
color:#fff;


}
.JoinConversationF {
    float:right;

cursor:pointer;
padding-left:10px;
padding-right:10px;
padding-bottom:6px;
padding-top:6px;
border:1px solid rgb(243, 116, 33);
background-color: rgb(0, 53, 230);
float: left;
text-align:center;
cursor:pointer;
color:#fff;


}
.RegisterBtn {

float:right;
background-color:#0035E6;
cursor:pointer;
padding-left:10px;
padding-right:10px;
padding-bottom:6px;
padding-top:6px;


text-align:center;
cursor:pointer;
color:#fff;

}
.EditBtn {

float:right;

cursor:pointer;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
padding-top:5px;


text-align:center;
cursor:pointer;
color:#fff;
border:1px solid #fff;
margin-right:20px;
}
.EditBtn i {
    padding-left:8px;
}
.RegisterBtn:hover {
    background-color:#F37421;

}
.activeMenu {
    	font-family: 'HelveticaNeue-Medium'!important;
	background-image: url(images/arrow_right_orange.png);
background-repeat: no-repeat;
    background-position: 0px 16px;
    padding-left: 28px;
}


.loginBtn {

float:right;
margin-left:23px;
margin-right:23px;
text-align:center;
color:#fff;
padding-left:13px;
padding-right:13px;
padding-top:6px;
padding-bottom:6px;
cursor:pointer;
font-size:12px;
border:1px solid #F37421; 
    border-radius:2px;

}
.loginBtnArrows {
	float:left;
	margin-left:15px;
	margin-right:15px;
	text-align:center;
	color:#fff;
	padding-left:13px;
	padding-right:13px;
	padding-top:6px;
	padding-bottom:6px;
	cursor:pointer;
	font-size:12px;
	border:1px solid #F37421; 
	border-radius:2px;

}
.SearchHolder {

    border:1px solid #F37421; 
    border-radius:2px;
    float:right;
    width:277px;

    height:31px;
}


.loginFieldHolder {

    border:1px solid #F37421; 
    border-radius:2px;
    float:left;
    width:180px;

    height:31px;
    margin-right:10px;
}
.searchInput {
border:0px;
background-color:transparent!important;
color:#fff;
padding-left:10px;
font-size:12px;
padding-top:2px;
width:230px;
height:28px;
}
.LoginFields {

    border:0px;
background-color:transparent!important;
color:#fff;
/*padding-left:10px;*/
font-size:12px;
padding-top:2px;
width:150px;
height:28px;
/*margin-left:10px;*/
outline: none!important;
outline-style:none;
box-shadow:none;
border-color:transparent;
}
input:focus {outline:0;}

.looptosearch {
    float:right;
    cursor:pointer;
    background-image:url(images/search_button.png);
    height:31px;
        width:31px;
        background-repeat:no-repeat;
        background-position:center center;


}
	a.remove{
		display:block;
		height:18px;
		width:18px;
		margin:10px;
		padding-left:0 !important;
		text-indent:-9999px;
		background:url(images/remove.png) #798184;
		border-radius:100px;
		border-style:solid;
		border-width:1px
	}	
	ul {
		padding-left:0;
	}
	
	.hidden{
		display:none
	}
	.alignleft{
		float:left
	}
	.alignright{
		float:right
	}
	.aligncenter{
		margin-left:auto;
		margin-right:auto;
		display:block;
		clear:both
	}
	.text-left {
		text-align:left !important;
	}
	mark {
		padding: 6px 12px;
	}
	section::before,
	section::after {
		position: absolute;
		content: '';
		pointer-post-wraps: none;
	}	
	.first {
		clear:both !important
	}
	.last{
		margin-right:0 !important
	}
	.nopadding {
		padding: 0 !important;
	}
	.padding-top {
		padding:30px 0 10px;
	}
	.margin-top {
		margin-top:12px;
	}
	.make-center img {
		margin:auto;
	}
	
	
	
	.rev_video_slider {
		width:100%;
		height:100%;
	}
	
	.rsNav {
		display:block;
		clear:both;
		margin-bottom:80px !important;
	}
/* ----------------------------------------------------
	TOPBAR & HEADER
------------------------------------------------------- */

	.header_center a.navbar-brand {
		margin: 0 auto !important;
		display: inline-block;
		position: relative;
		float: none !important;
	}
	
	.dark_header a.navbar-brand {
		color:#fff !important;
	}

	#header-style-1.affix a.navbar-brand {
		font-size:31px !important;
		margin:5px 0 0;
	}
	
	#header-style-1.affix {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		margin-top:0;
		padding:10px 0;
		min-height:inherit;
		z-index: 999;
		background:#ffffff;
		background: rgba(255,255,255,1);
		border-bottom: 1px solid #efefef;
	}	
	#header-style-1.affix .navbar {
		margin-top:0px;
	}
	#header-style-1.affix .navbar-nav > li > .dropdown-menu {
		margin-top:12px !important;
	}
	#header-style-1.affix .navbar-brand img {
		width:80%;
		margin-top:7px
	}
	#header-style-1.affix .navbar-brand {
		line-height:38px;
	}
	.dark_header .arrow-up {
		border-bottom-color:#121214 !important;
	}
	.dark_header .navbar-nav > li > a {
		color:#fff !important;
	}
	.dark_header .topbar-email, 
	.dark_header .topbar-phone, 
	.dark_header .topbar-login, 
	.dark_header .topbar-cart {
		border-left: 1px solid #313131 !important;
		border-right: 1px solid #313131 !important;
	}
	.dark_header .social-icons span.last a {
		border-right-color:#313131 !important
	}
	.dark_header .social-icons span a {
		border-left-color:#313131 !important
	}
	.dark_header .navbar-default {
		background:#121214 !important;
	}
	.dark_header {
		background:#121214 !important;
		border-bottom-color:#212121 !important
	}
	.header_center .navbar-collapse.collapse {
		text-align: center;
		height: auto !important;
		overflow: visible !important;
	}
	.header_center .navbar-nav {
		display:inline-block;
		float: none;
		margin: 0;
	}
	.header_center .logo_center {
		padding:20px 0 30px !important
	}
	#header-style-1 {
		padding-top:17px;
	
		
	}
	#header-style-1 .navbar-default {
		/*background-color:#ffffff;
		background: rgba(255, 255, 255, 1);
		border-color: rgba(0, 0, 0, 0);*/
	}
	#header-style-1 .navbar-brand {
		padding:0;
	}
	#header-style-1 .navbar {
		margin-bottom:0;
	}
	#header-style-1 .yamm .nav,
	#header-style-1 .yamm .collapse,
	#header-style-1 .yamm .dropup,
	#header-style-1 .yamm .dropdown {
		position: static;
	}
	#header-style-1 .yamm .container {
		position: relative;
	}
	#header-style-1 .yamm .dropdown-menu {
		left: auto;
		right:auto;
	}
	.white-wrapper .testimonial h3,
	#header-style-1 .yamm-fw .dropdown-menu li a {
		color:#222222 !important;
	}
	#header-style-1 .yamm-fw .dropdown-menu li a:before {
		font-family: "FontAwesome";
		content: "\f105";
		font-size: 13px;
		padding-right:5px;
	}
	#header-style-1 .yamm-fw .dropdown-menu li {
		list-style:none;
		padding:0;
	}
	#header-style-1 .yamm-fw .nav.navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	#header-style-1 .yamm .yamm-content {
		padding: 20px;
	}
	#header-style-1 a:hover {
		text-decoration:none;
	}
	#header-style-1 .dropdown-menu li a:focus,
	#header-style-1 .dropdown-menu li a:active,
	#header-style-1 .dropdown-menu li a:hover {
		background-color:#fafafa;
	}
	#header-style-1 .yamm img {
		margin-bottom:10px;
	}
	#header-style-1 .yamm h3 {
		text-transform:uppercase;
		font-size:14px;
		color:#222222;
		padding:5px 0;
	}
	#header-style-1 .dropdown-menu,
	#header-style-1 .yamm .dropdown.yamm-fw .dropdown-menu {
		left: 0;
		right: 0;
		background-color:#f5f5f5;
		box-shadow:none;
		margin-top:25px;
		border-top:3px solid #fff;
	}
	#header-style-1 .navbar-nav > li > a {
		text-transform:uppercase;	
		color:#222222;
		font-family: 'PT Sans',sans-serif;
		padding: 7px 18px;
		margin-top:8px;
	}
	#header-style-1 .dropdown-menu li a {
		text-decoration:none;  
		display:block;
		position:relative;
		font-family: 'PT Sans',sans-serif;
		padding:10px 20px;
	}
	#header-style-1 .dropdown-menu {
		padding:0 !important;
		border-radius:0 !important;
	}
	#header-style-1 .yamm-fw .dropdown-menu li a {
		padding:5px 15px;
	}
	#header-style-1 .dropdown-menu li {
		float:none;
		display:block; 
		margin:0; 
		text-align: left;
		border: 0;
		border-bottom: 1px solid #d5d5d5;
	}    
	#header-style-1 .dropdown-menu li:last-child{
		border-bottom: 0;  
	}    
	#topbar {
		background:#fff;
		z-index:99;
		position:relative;
		border-bottom:1px solid #f2f2f2;
		font-family: 'PT Sans',sans-serif;
	}
	.social-icons {
		padding:0;
		display:block; 
		overflow:hidden
	}
	.social-icons span a {
		border-left:1px solid #f2f2f2;
		font-size:14px;
		text-align:center;
		width:40px;
		height:42px;
		line-height:42px;
		overflow:hidden;
		display:block;
		float:left
	}
	#header-style-1 .navbar-nav > li > a:hover,
	#header-style-1 .navbar-nav > li > a:focus,
	#header-style-1 .navbar-nav > li > a:active,
	#header-style-1 .navbar-default .navbar-nav > .open > a,
	#header-style-1 .navbar-default .navbar-nav > .open > a:hover,
	#header-style-1 .navbar-default .navbar-nav > .open > a:focus,
	#topbar .social-icons span:hover a {
		color:#fff !important;
		-webkit-border-radius: 03px;
		-moz-border-radius: 03px;
		border-radius: 03px;
	}
	#topbar,
	#topbar a {
		color:#888888;
	}
	#topbar .social-icons span.last a {
		border-right:1px solid #f2f2f2;
	}
	#topbar .topbar-email,
	#topbar .topbar-phone,
	#topbar .topbar-login,
	#topbar .topbar-cart {
		float:left;
		padding:0 15px;
		line-height:42px;
		border-right:1px solid #f2f2f2;
		border-left:1px solid #f2f2f2;
	}
	#topbar .topbar-phone,
	#topbar .topbar-email,
	#topbar .topbar-login {
		border-right:none;
	}
	#topbar .col-lg-4 {
		padding-left:0;
	}
	#topbar .col-lg-8 {
		padding-right:0;
	}
	#topbar .callus,
	#topbar .topmenu {
		display:block; 
		float:right
	}
	.yamm .dropdown-submenu{
		position:relative;
	}
	.yamm .dropdown-submenu>.dropdown-menu{
		top:0;
		left:100% !important;
		margin-top:-3px !important;
		margin-left:-1px;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
	}
	.yamm .dropdown-submenu:hover>.dropdown-menu{
		display:block;
	}
	.yamm .dropdown-submenu.pull-left{
		float:none;
	}
	.yamm .dropdown-submenu.pull-left>.dropdown-menu{
		left:-100%;
		margin-left:10px;
		-webkit-border-radius:6px 0 6px 6px;
		-moz-border-radius:6px 0 6px 6px;
		border-radius:6px 0 6px 6px;
	}

/* ----------------------------------------------------
	FOOTER STYLES
------------------------------------------------------- */

	
	#footer-style-2,
	#footer-style-3,
	#footer-style-1 {
		background-color:#0623BF;
		padding:60px 0;
		display:block;
		position:relative;
	}
	#footer-style-2 .widget h3,
	#footer-style-3 .widget h3,
	#footer-style-1 .widget h3 {
		font-size:20px;
	}
	#footer-style-2 .social-icons span a,
	#footer-style-3 .social-icons span a,
	#footer-style-1 .social-icons span a {
		border:none;
		color:#686868;
	}
	.footer-menu ul{
		list-style:none;
		list-style-position:outside;
		float:right;
		display:inline;
		margin:5px;
	}   
	.footer-menu li{ 
		line-height:12px;
		float:left;
		padding:0 7px; 
	}
	.footer-menu li a {
		color:#c3c3c3;
	}
	.footer_post li img {
		padding:4px;
		width:80px;
	}
	.footer_post li {
		float:left;
		margin:2px;
		list-style:none;
	}
	#footer-style-2 .widget .title h3,
	#footer-style-3 .widget .title h3,
	#footer-style-1 .widget .title h3 {
		text-transform:none;
	}
	
/* ----------------------------------------------------
	SIDEBAR & WIDGETS
------------------------------------------------------- */

	.text-widget p {
		margin-bottom:15px;
	}
	.text-widget h1 {
	font-family: 'HelveticaNeue';
		font-size:36px;
		font-weight:bold;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	.custom-widget h2 {
		font-size:24px;
		text-transform:uppercase;
	}
	.custom-widget p {
		font-size:18px;
		font-weight:300;
	}
	.popular_items img{
		width:100px;
		padding-right:10px;
		float:left
	}
	.popular_items{
		margin:20px 0
	}
	.popular_items .popular_items_div{
		display:block;
		margin-bottom:25px;
		overflow:hidden;
		position:relative
	}
	.popular_items .popular_items_div h4{
		margin-bottom:5px !important;
		padding-bottom:0;
	}
	.popular_items .meta,
	.popular_items .meta a {
		color:#222;
	}
	.popular_items .meta {
		font-size:12px;
	} 
	.popular_items .meta span,
	.popular_items .meta span i {
		padding-right:3px;
	}
	 .blog-carousel img {
		width:100%;
	 }
	.blog-masonry .blog-carousel {
		margin:20px 0;
		overflow:hidden;
		padding:20px;
		background:#fff;
		border:1px solid #efefef;
	}
	.blog-carousel-meta span a {
		color:#686868;
	}
	.blog-carousel-meta span i,
	.blog-carousel-meta span {
		font-size:12px;
		padding-right:5px;
	}
	.blog-carousel-header h3 {
		padding-bottom:0;
		font-size:18px;
		margin-bottom:5px;
	}
	.blog-carousel-header h1 {
		padding-bottom:0;
		margin-bottom:5px;
		text-transform:uppercase;
	}
	.blog-carousel-header {
		position:relative;
		display:block;
		margin-bottom:0;
		padding-bottom:10px;
	}
	.post-type {
		color: #FFFFFF;
		font-size: 18px;
		height: 42px;
		line-height: 42px;
		position: absolute;
		right: 0;
		text-align: center;
		bottom: 0;
		z-index:10;
		width: 52px;
		background:#222;
	}
	.entry:hover .post-type {
		opacity:0
	}

	#sidebar .widget {
		margin-bottom:30px;
		overflow:hidden;
	}
	.reviews_widget .recent_posts_widget > li img,
	#tabbed_widget .recent_posts_widget img {
		max-width:120px !important;
		padding:4px;
	}
	#tabbed_widget .nav-tabs {
		border-bottom:none;
	}
	#tabbed_widget .tab-content {
		padding:20px 5px;
		border:none;
	}
	.reviews_widget .recent_posts_widget a {
		color:#222 !important;
		font-weight:normal;
	}
	.meta_widget a {
		font-weight:300 !important;
	}
	.title h2 {
		text-transform:uppercase;
		font-size:24px;
	}
	.widget h3 {
		font-size:24px;
	}
	.twitter_feed {
		padding-left:0
	}
	.twitter_feed li {
		list-style:none;
		overflow:hidden;
		margin-bottom:30px;
	}
	.twitter_feed li p {
		margin-top: -30px;
		padding-left:30px;
	}
	.twitter_feed li span:before {
		color: #4f4f4f;
		padding-left:0 !important;
		font-family: 'FontAwesome';
		content: "\f099";
		padding:10px;
		vertical-align: text-top;
		font-size:21px;
	}
	.widget .title h3 {
		text-transform:uppercase;
	}
	.newsletter_form .form-control {
		background-color: #121214;
		border: 1px solid #343436;
	}
	#two-sidebar .newsletter_form .form-control,
	#sidebar .newsletter_form .form-control {
		background-color: #f5f5f5;
		border: 1px solid #efefef;
	}
	.newsletter_form .btn {
		margin-top:10px;
	}
	

/* ----------------------------------------------------
	PARALLAX & SECTIONS
------------------------------------------------------- */
	
	.custom-wrapper .col-lg-6 {
		padding:0;
	}
	.custom-wrapper .overlay {
		background-color:rgba(0, 0, 0, 0.4);
		padding:0;
	}
	.parallax {
		/*background-attachment: fixed !important;*/
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.jt-shadow {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	}
	.custom-overlay {
		padding: 60px 0;
	}
	.overlay {
		padding: 60px 0;
		background-color:rgba(6, 34,182, 0.9);
	}
	.dark-wrapper {
		background-color:#222222;
		padding:60px 0;
	}
	.grey-wrapper {
		background-color:#f5f5f5;
		padding:60px 0;
	}
	.white-wrapper {
		background-color:#ffffff;
		padding:60px 0;
	}

 .dirt-white-wrapper {
		background-color:#FDF0E7;
		padding:60px 0;
	}
.overlay_blue {
    	background-color:rgba(14, 36, 152,0.9 );
      min-height:600px;
      height:auto;
        position:relative;

}
.blue-wrapper {
		background-color:rgba(6,34,190,0.9 );
             height:auto;
        min-height:600px;
        background-image:url(images/homeBanner.jpg);
        background-size:cover;
        background-position:center center;

}
	#boxed #wrapper {
		background:#fff; 
		margin:50px auto;
	}
	#boxed .white-wrapper,
	#boxed .grey-wrapper {
		margin:0 -15px;
	}
	#boxed #topbar .social-icons span a,
	#boxed #topbar .social-icons span.last a,
	#boxed #topbar .topbar-email, 
	#boxed #topbar .topbar-phone, 
	#boxed #topbar .topbar-login, 
	#boxed #topbar .topbar-cart,
	#boxed #topbar {
		border:none;
	}
	.grey-wrapper #accordion-second .accordion-heading .accordion-toggle,
	.grey-wrapper #accordion-second .accordion-heading, 
	.grey-wrapper #accordion-second .accordion-toggle:hover, 
	.grey-wrapper #accordion-second .accordion-heading .accordion-toggle.active,
	.grey-wrapper #accordion-second .accordion-inner,
	.grey-wrapper .testimonial-wrap {
		background:#fff;
	}
	.general-title hr {
		width:30px;
		margin-bottom:0;
		margin-top:0;
		border-width: 2px 0 0;
	}
	.general-title h2 {
		font-size:31px;
		text-rendering: optimizeSpeed;
		letter-spacing:0.6px;
		padding-bottom:0;
		font-weight:bold;
	}
	.general-title,
	.messagebox {
		text-align:center;
	}
	.general-title .lead {
		margin-top:10px !important;
	}


/* ----------------------------------------------------
	MODULES
------------------------------------------------------- */
	#revvideo {
		with:100%;
		height:100%;
	}
	.custom-select {
		background: none repeat scroll 0 0 #FFFFFF !important;
		border: 1px solid #E9E9E9 !important;
		box-shadow: 0 0 0 1px #FFFFFF inset, 1px 2px 0 #E9E9E9 !important;
		outline: medium none;
		position: relative;
	}
	#video {
		border:1px solid #fff;
	}
	#soundcloud {
		border:1px solid #fff;
		width:100%;
	}
	.contact_form {
		overflow:hidden;
		margin:50px 0 25px;
	}
	.overlay .contact_details {
		color:#fff !important;
	}
	.contact_form textarea {
		height:133px !important;
	}
	.contact_form .form-control {
		margin-bottom:10px;
		height:62px;
		border-color:#dddddd;
		box-shadow:none;
	}
	#contactform fieldset {
		padding:10px;
		border:1px solid #eee;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	}
	#contactform legend {
		padding:7px 10px; 
		font-weight:bold; 
		color:#000; 
		border:1px solid #eee; 
		-webkit-border-radius:5px; 
		-moz-border-radius:5px; 
		margin-bottom:0 !important; 
		margin-bottom:20px;
	}
	#contactform span.required{ 
		font-size: 13px; 
		color: #ff0000;
	}
	#message {
		margin: 10px 0; 
		padding: 0;
	}
	.error_message {
		display: block; 
		height: 22px; 
		line-height: 22px; 
		background: #FBE3E4 url(images/error.gif) no-repeat 10px center;
		 padding: 3px 10px 3px 35px; 
		 color:#8a1f11;
		 border: 1px solid #FBC2C4; 
		 -webkit-border-radius:5px;
	}
	.loader {
		padding: 0 10px;
	}
	#contactform #success_page h1 {
		background: url(images/success.gif) left no-repeat; 
		padding-left:22px;
	}
	acronym {
		border-bottom:1px dotted #ccc;
	}
	#map{
		height:450px;
		width:100%
	}
	#map img{
		max-width:inherit
	}
	.map{
		position:relative
	}
	.map .row .col-lg-4{
		float:right;
		margin-top:-450px;
		z-index:9
	}
	.contact-icon {
		margin:20px 0;
		overflow:hidden;
	}
	.map .row{
		position:relative
	}
	.infobox img {
		width:100% !important;
	}
	.map .searchmodule {
		padding:18px 10px
	}
	.infobox {
		display: inline-block;
		padding: 5px;
		position: relative;
		width: 270px;
	}
	.infobox img {
		width:80px !important;
		padding-right:10px
	}
	.infobox .title {
		font-size:13px;
		font-weight:bold;
		margin-top:0;
		margin-bottom:0;
		text-transform:uppercase;
		padding-bottom:5px;
	}
	.infobox .title a {
		font-weight:bold;
	}
	.search_form {
		position:relative;
	}
	.search_form:after {
		color: #d9d9d9;
		font-size: 12px;
		height: 40px;
		line-height: 40px;
		position: absolute;
		width: 40px;
		right:0;
		top:0;
		font-family: 'FontAwesome';
		content: "\f002";
	}
	.grey-wrapper .pricing_detail {
		background:#fff;
	}
	.grey-wrapper .pricing_detail .priceamount {
		border-color:#f5f5f5;
	}
	.pricing_detail {
		border:1px solid #e3e3e3;
		padding:30px 20px;
		text-align:center;
		-webkit-transition: background-color .2s linear, color .2s linear;
		-moz-transition: background-color .2s linear, color .2s linear;
		-o-transition: background-color .2s linear, color .2s linear;
		-ms-transition: background-color .2s linear, color .2s linear;
		transition: background-color .2s linear, color .2s linear;
	}
	.pricing_detail:hover h3,
	.pricing_detail:hover ul li {
		color:#fff;
	}
	.pricing_detail:hover header {
		border-color:#ededed;
	}
	.pricing_detail header {
		border-bottom:1px solid #e3e3e3;
	}
	.pricing_detail header h3 {
		font-size:30px;
		margin-top:35px;
		padding:0;
		display:block;
		overflow:hidden;
	}
	.pricing_info {
		display:block;
	}
	.pricing_info ul {
		padding-left:0;
	}
	.pricing_info ul li {
		list-style:none;
		padding:15px 0;
	}
	.pricing_boxes {
		padding:80px 0;
		display:block;
		overflow:hidden;
		position:relative;
	}
	.pricing_detail:hover .btn{
		color:#ffffff !important;
		background:#222 !important;
	}
	.pricing_detail .priceamount {
		-webkit-border-radius:500px;
		-moz-border-radius:500px;
		border-radius:500px;
		color: #FFFFFF;;
		background:#222222;
		display: block;
		border:10px solid #fff;
		font-size: 16px;
		height: 120px;
		margin: 0 auto;
		text-align: center;
		width: 120px;
		position: absolute;
		top: -70px;
		left: 0;
		right: 0;
		padding-top:23px;
		line-height: 1.6;
	}
	.banners li {
		list-style:none;
		margin:5px;
		float:left !important;
	}
	.banners li .img-thumbnail {
		background-color: #bbbbbb;
		border: 1px solid #DDDDDD;
		border-radius: 0;
		padding: 5px;
	}
	
	.long-twitter i {
		font-size:31px;
	}
	.long-twitter a {
		text-decoration:underline;
		color:#ffffff;
	}
	.long-twitter {
		color:#ffffff;
	}
	.tab-content {
		border-left:1px solid #efefef;
		border-bottom:1px solid #efefef;
		border-right:1px solid #efefef;
	}
	.nav-tabs > li > a {
		border: 1px solid #EFEFEF;
		line-height: 1.42857;
		margin-right: 0;
	}
	.nav-stacked li:last-child {
		border-bottom:0 solid #efefef !important;
	}
	.nav-stacked > li > a {
		color:#222222;
		border:0 solid #efefef !important;
	}
	.nav-stacked li {
		border-top:0 solid #efefef !important;
		border-left:0 solid #efefef !important;
		border-bottom:1px solid #efefef !important;
		border-right:0 solid #efefef !important;
	}
	.panel-title:after {
		content: "\f078";
		color: #292723;
		float:right;
		display: block;
		font-family: 'FontAwesome';
		font-size: 13px;
		margin-top:-20px;
		pointer-events: none;
		position:relative;
		line-height: 20px;
		text-transform: none;
	}
	.panel-body h4 {
		font-size: 16px;
		margin: 10px 0 20px;
		padding:0 !important;
	}
	.panel-body .form-control {
		margin-bottom:0;
	}
	.panel-group .panel-heading + .panel-collapse .panel-body,
	.panel-default {
	   border: 0 solid #FFFFFF !important;
		box-shadow: 0 0 #FFFFFF;
		background: none;
	}
	.panel-title {
		padding: 0;
	}
	.panel-default > .panel-heading {

		padding:10px 20px;
		border-bottom: 1px solid #2A56EA;
	
	}
	.panel-default > .panel-heading a:hover {
		background:none !important; 
		color:#222222 !important;
	}
	.panel-default > .panel-heading a {
		color: #222222;
		font-size: 18px;
		width: 100%;
		display: block;
	}
	.stat {
		text-align:center;
	}
	.highlight {
		color:#ffffff;
		padding:30px 0;
		font-weight:bold;
		display:block;
		overflow:hidden;
		margin-bottom:0;
		font-size:48px;
	}
	.milestone-details {
		font-weight:bold;
		font-size:18px;
		color:#fff;
	}
	.dmtop {
		background-color:#161616;
		background-image: url(images/arrow.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		z-index: 9999;
		width: 40px;
		height: 40px;
		text-indent: -99999px;
		position: fixed;
		bottom: -100px;
		right: 25px;
		cursor: pointer;
		-webkit-transition: all .7s ease-in-out;
		-moz-transition: all .7s ease-in-out;
		-o-transition: all .7s ease-in-out;
		-ms-transition: all .7s ease-in-out;
		transition: all .7s ease-in-out;
		overflow: auto;
	}
	.progress {
		position:relative;
		overflow:visible
	}
	
	#accordion-second .accordion-group{
		margin-bottom:10px;
	}
	#accordion-second .accordion-heading{
		border-bottom:0;
		font-size:16px;
	}
	#accordion-second .accordion-heading .accordion-toggle{
		display:block;
		cursor:pointer;
		padding:0 !important;
		color:#222222;
		background:#f5f5f5;
		outline:none!important;
		text-decoration:none
	}
	#accordion-second .accordion-heading,
	#accordion-second .accordion-toggle:hover,
	#accordion-second .accordion-heading .accordion-toggle.active{
		background:#f5f5f5;
	}
	#accordion-second .accordion-heading .accordion-toggle > em {
		background-color: #222222;
		border-radius:0;
		color: #FFFFFF;
		font-size:14px;
		height: 37px;
		line-height: 40px;
		margin-right: 10px;
		text-align: center;
		width: 40px;
	}
	#accordion-second .accordion-inner{
		padding:9px 10px;
		background:#f5f5f5;
	}	
	#accordion-first .accordion-group{
		margin-bottom:10px;
	}
	#accordion-first .accordion-heading{
		border-bottom:0;
		font-size:16px;
	}
	#accordion-first .accordion-heading .accordion-toggle{
		display:block;
		cursor:pointer;
		padding:5px 0 !important;
		color:#222222;
		outline:none!important;
		text-decoration:none
	}
	#accordion-first .accordion-heading,
	#accordion-first .accordion-toggle:hover,
	#accordion-first .accordion-heading .accordion-toggle.active{
		background:none;
	}
	#accordion-first .accordion-heading .accordion-toggle > em {
		background-color: #222222;
		-webkit-border-radius:100px;
		-moz-border-radius:100px;
		border-radius:100px;
		color: #FFFFFF;
		font-size:14px;
		height: 32px;
		line-height: 32px;
		margin-right: 10px;
		text-align: center;
		width: 32px;
	}
	#accordion-first .accordion-inner{
		padding:9px 10px;
	}
	.check li:before {
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 16px;
		left: 0;
		padding-right:5px;
		position: relative;
		top: 2px;
	}
	.check li {
		font-size:13px;
		list-style:none;
		margin-bottom:4px;
	}
	.check {
		margin-left:0; 
		padding-left:0
	}
	.check li a {
		color:#656565;
	}
	#services .item {
		padding:15px;
	}
	.item h3 {
		padding-top:15px;
		padding-bottom:0;
	}
	.item .icon-container {
		font-size:24px;
		float:left;
		margin:0 20px 0 0;
	}
	 .servicesbox_content p {
		display:inline-block;
		margin-top:10px;	
	}
	 .servicesbox_content {
		display:block !important;
		width:100% !important;
		padding:2px
	}
	.services_lists_boxes .service-icon-circle {
		text-align:center;
	}
	.services_lists_boxes {
		margin: 20px 0 20px 0;
		display:block;
		color:#fff;
		position:relative;
		overflow:hidden;
	}
	.services_lists_boxes h4 {
		color:#fff;
		font-size: 21px;
		padding-bottom: 0;
		font-weight:500;
		text-transform:uppercase;
	}
	.custom-services {
		position:relative !important;
		padding:0;
		margin:20px 0;
		display:block;
		overflow:visible;
	}
	.ch-item {
		position:relative !important;
		padding:0;
		margin:20px 0;
		height:200px;
		display:block;
		overflow:visible;
	}
	.ch-info-wrap{
		position: absolute;
		width: 100%;
		height: 200px;
		border-radius: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		-o-perspective: 800px;
		-ms-perspective: 800px;
		perspective: 800px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		background: #ffffff;
	}
	.ch-info-back  {
		padding:15px;
		text-align:center;
	}
	.ch-info-front {
		padding-top:40px;
		text-align:center;
	}
	.ch-info-back h3 {
		font-size:20px;
		margin-bottom:0;
		padding-bottom:0;
		color:#ffffff;
		font-weight:bold;
	}
	.ch-info-back p {
		color:#ffffff;
	}
	.ch-info-front h3 {
		font-size:20px;
		color:#222222;
		font-weight:bold;
	}
	.ch-info{
		position: absolute;
		width: 100%;
		height: 200px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.ch-info > div {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	}
	.ch-info .ch-info-back {
		-webkit-transform: rotate3d(0,1,0,180deg);
		-moz-transform: rotate3d(0,1,0,180deg);
		-o-transform: rotate3d(0,1,0,180deg);
		-ms-transform: rotate3d(0,1,0,180deg);
		transform: rotate3d(0,1,0,180deg);
	}
	.ch-item:hover .ch-info {
		-webkit-transform: rotate3d(0,1,0,-180deg);
		-moz-transform: rotate3d(0,1,0,-180deg);
		-o-transform: rotate3d(0,1,0,-180deg);
		-ms-transform: rotate3d(0,1,0,-180deg);
		transform: rotate3d(0,1,0,-180deg);
	}
	.service-with-image .entry {
		position:relative;
	}
	.service-with-image {
		overflow:hidden;
		margin:20px 0;
	}
	.service-desc {
		padding:20px 0;
	}
	.service-title a i {
		padding-right:5px;
	}
	.service-title a {
		font-weight:bold;
		text-transform:uppercase;
	}
	.service-title {
		background:#FFFFFF;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		max-width: 120px;
		margin: auto;
		text-align: center;
		padding: 4px;
	}
	.service_vertical_box {
		overflow: hidden;
		display: block;
		margin-bottom: 20px;
	}
	.services_vertical .general-title h2 {
		padding:0 !important;
		color:#fff !important;
		text-align:left;
		font-size:30px !important;
	}
	.services_vertical p {
		padding:0 !important;
		text-align:left;
	}
	.services_vertical 
	 {
		overflow:hidden;
		padding:30px 0;
	}
	.services_vertical h3 {
		padding: 0 !important;
		font-size:18px;
	}
	.service_vertical_box .service-icon {
		float:left;
		clear: both;
		display: block;
		height: 60px;
		line-height: 60px;
		margin: 35px 20px;
		width: 60px;
	}
	.service_vertical_box a.readmore {
		padding-left:98px;
	}
	.services_vertical .icon-container {
		float:left;
	}
	.icon-container {
		border: 1px solid #FFFFFF;
		border-radius: 100px;
		-webkit-border-radius:100px;
		-moz-border-radius:100px;
		clear: both;
		color: #FFFFFF;
		display: block;
		font-size: 21px;
		height: 55px;
		line-height: 55px;
		margin: 38px 20px;
		text-align: center;
		width: 55px;
	}
	.servicebox {
		margin:20px 0;
	}
	.servicebox h3 {
		padding:0
	}
	.border-none {
		-webkit-border-radius:0 !important;
		-moz-border-radius: 0 !important;
		border-radius:0 !important;
	}
	.border-radius {
		-webkit-border-radius:500px !important;
		-moz-border-radius: 500px !important;
		border-radius:500px !important;
	}
	.service-icon i {
		color:#666666;
	}
	.little-padding {
		padding:5px 0 0 !important;
		overflow:hidden;
	}
	.make-bg {
		line-height:113px !important;
	}
	.make-bg i{
		font-size:2.6em !important;
		color:#fff !important;
	}
	.servicebox:hover .make-bg {
		background:#222222 !important;
		border-color:#232323 !important;
	}
	.servicebox:hover .border-none {
		border-bottom-color:#fff;
	}
	.service-icon-circle {
		overflow:hidden;
		margin:20px auto;
		display:block;
		position:relative;
		border:1px solid #222;
		height:100px;
		width:100px;
		line-height:107px;
		-webkit-border-radius: 0 100px 100px;
		-moz-border-radius: 0 100px 100px;
		border-radius: 0 100px 100px;
		-webkit-transition: background-color .2s linear, color .2s linear;
		-moz-transition: background-color .2s linear, color .2s linear;
		-o-transition: background-color .2s linear, color .2s linear;
		-ms-transition: background-color .2s linear, color .2s linear;
		transition: background-color .2s linear, color .2s linear;
	}
	.sr-only {
		display:block !important;
		overflow:visible;
		visibility:visible
	}
	.service-icon-circle i {
		font-size:24px;
	}
	.btn {
		font-family: 'PT Sans',sans-serif;
	}
	.btn-dark {
		background-color:#222222;
		color:#ffffff;
		border:none;
	}
	.btn-lg {
		padding:10px 30px;
		font-size:16px;
	}
	.btn-dark:hover,
	.btn-dark:focus,
	.btn-dark:active,
	.btn-dark.active,
	.btn-primary {
		color: #ffffff;
		border:none;
	}
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active {
		color: #ffffff;
		background-color: #222222;
	}
	.arrow-up {
		border-bottom: 5px solid #FFFFFF;
		border-left: 5px solid rgba(0, 0, 0, 0);
		border-right: 5px solid rgba(0, 0, 0, 0);
		bottom: -1px;
		height: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 0;
	}
	.doc li a {
		color:#222 !important;
	}
	.doc .flexslider a {
		color:#fff !important
	}
	.doc .blog-carousel {
		padding:15px !important;
	}
	.doc .highlight {
		margin-top:10px;
		font-size:72px !important;
		font-weight:normal;
		color:#222;
	font-family: 'HelveticaNeue';
	}
	.doc .green {
		color:#77be32 !important;
	}
	.doc .red {
		color:#f2333a !important;
	}
	.doc .yellow {
		color:#F7C221 !important;
	}
	.doc .milestone-details {
		font-size:21px !important;
		font-weight:100;
		color:#222;
	font-family: 'HelveticaNeue';
		text-transform:uppercase;
		padding:20px;
	}
	.tabbed-menu ul {
		list-style:none;
		list-style-position:outside;
		display:inline;
		margin:10px 0;
	}    
	.tabbed-menu li { 
		line-height:12px;
		float:left;
		padding:10px 7px; 
	}
	.tabbed-menu li a {
		color:#222;
	}
	.general-title .lead,
	.messagebox .lead {
		font-family: 'HelveticaNeue';
		font-weight:300;
		line-height:1.9;
		margin:15px 0;
	}
	.messagebox h1 {
		color:#fff;
		font-weight:bold;
		font-size:30px;
	}
	.messagebox .btn-dark,
	.messagebox .btn-dark:hover {
		background:#222 !important;
		color:#fff !important;
	}
	.messagebox h2 {
		font-size:30px;
	}
	.calloutbox-full-mini .lead,
	.calloutbox-full .lead {
		color:#fff;
		margin:10px 0 20px;
	}
	.calloutbox-full-mini {
		padding:20px 0;
		text-align:center;	
	}
	.calloutbox-full {
		padding:60px 0;
		text-align:center;
	}
	.calloutbox .form-control {
		height:35px;
	}
	#bilding label, 
	#bilding .form-control {
		margin:10px 0 0;
	}
	#payment p.small {
		font-weight:100
	}
	#payment label {
		border: 1px solid #EDEDED;
		padding: 15px 40px !important;
	}
	.calloutbox {
		position:relative;
	}
	.bggrey h2 {
		color:#222222 !important;
		font-weight:bold;
	}
	.bgdark {
		background:#222222 !important;
	}
	.bggrey {
		color:#222222 !important;
		background:#f5f5f5 !important;
		border-left:8px solid #fff;
	}
	.calloutbox-full-mini h2,
	.calloutbox-full h2 {
		font-size:36px;
		padding:0;
		margin:0;
		text-transform:uppercase;
		color:#fff;
	}
	.calloutbox h2 {
		font-size:28px;
		padding:0;
		margin:0;
		text-transform:uppercase;
		color:#fff;
	}
	.calloutbox {
		margin:20px 0;
		color:#fff;
		padding:30px 20px 20px;
		overflow:hidden;
	}
	.calloutbox .btn-dark:hover {
		background:#232323;
	}
	.white-clients .client-wrap {
		border-color:#dedede;
	}
	.client-wrap {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-color:#444647;
		border-right-style: solid;
		border-right-width: 1px;
		padding: 30px;
	}
	.client-wrap.last {
		border-right-width: 0;
	}
	.client-wrap.no-border {
		border-bottom-width: 0;
	}
	.not_found h1 {
		margin-bottom:0;
		font-size: 200px;
		padding-bottom:0;
		font-weight: bold;
		line-height: 1;
	}
/* ----------------------------------------------------
	ANIMATIONS
------------------------------------------------------- */

	.bubble-bottom {
		display: inline-block;
		position: relative;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	}
	.bubble-bottom:before {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		content: '';
		border-style: solid;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-property: bottom;
		transition-property: bottom;
		left: calc(50% - 10px);
		bottom: 0;
		border-width: 10px 10px 0 10px;
		border-color: #e1e1e1 transparent transparent transparent;
	}
	.bubble-bottom:hover:before, .bubble-bottom:focus:before, .bubble-bottom:active:before {
		bottom: -10px;
	}
	.rotating {
	  display: inline-block;
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  -ms-transform-style: preserve-3d;
	  -o-transform-style: preserve-3d;
	  transform-style: preserve-3d;
	  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
	  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
	  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
	  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
	  transform: rotateX(0) rotateY(0) rotateZ(0);
	  -webkit-transition: 0.5s;
	  -moz-transition: 0.5s;
	  -ms-transition: 0.5s;
	  -o-transition: 0.5s;
	  transition: 0.5s;
	  -webkit-transform-origin-x: 50%;
	}
	.rotating.flip {
	  position: relative;
	}
	.rotating .front, .rotating .back {
	  left: 0;
	  top: 0;
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  -ms-backface-visibility: hidden;
	  -o-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
	.rotating .front {
	  position: absolute;
	  display: inline-block;
	  -webkit-transform: translate3d(0,0,1px);
	  -moz-transform: translate3d(0,0,1px);
	  -ms-transform: translate3d(0,0,1px);
	  -o-transform: translate3d(0,0,1px);
	  transform: translate3d(0,0,1px);
	}
	.rotating.flip .front {
	  z-index: 1;
	}
	.rotating .back {
	  display: block;
	  opacity: 0;
	}
	.rotating.spin {
	  -webkit-transform: rotate(360deg) scale(0);
	  -moz-transform: rotate(360deg) scale(0);
	  -ms-transform: rotate(360deg) scale(0);
	  -o-transform: rotate(360deg) scale(0);
	  transform: rotate(360deg) scale(0);
	}
	.rotating.flip .back {
	  z-index: 2;
	  display: block;
	  opacity: 1;
	  
	  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
	  -moz-transform: rotateY(180deg) translate3d(0,0,0);
	  -ms-transform: rotateY(180deg) translate3d(0,0,0);
	  -o-transform: rotateY(180deg) translate3d(0,0,0);
	  transform: rotateY(180deg) translate3d(0,0,0);
	}
	.rotating.flip.up .back {
	  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
	  -moz-transform: rotateX(180deg) translate3d(0,0,0);
	  -ms-transform: rotateX(180deg) translate3d(0,0,0);
	  -o-transform: rotateX(180deg) translate3d(0,0,0);
	  transform: rotateX(180deg) translate3d(0,0,0);
	}
	.rotating.flip.cube .front {
	  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
	  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
	  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
	  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
	  transform: translate3d(0,0,100px) scale(0.85,0.85);
	}
	.rotating.flip.cube .back {
	  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
	  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	}
	.rotating.flip.cube.up .back {
	  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
	  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
	}	
	
	
	
/* ----------------------------------------------------
	RESPONSIVE
------------------------------------------------------- */




@media (max-width: 800px) {
    .conversationBox {
    left:5%!important;
    height:60%;
    overflow-y:scroll;
    }
    .registrationbox  .margin-left{
        margin-left:0px!important;
        margin-bottom:10px;
    
    }
    .login_Holder{
        background-color:#0623BF!important;
    }


        .contactIcon {
        
        max-width:50%!important;
        }
        .aboutHolderimg {
                    max-width:100%!important;
        }


  
        .AboutBtn {
        margin-top:12px!important;
          margin-bottom:12px!important;
        }

        .AboutCopyRight ,.aboutCopyleft{
        font-size:12px!important;
        }
        .aboutContentBanner {
        margin-top:8px!important;
        }
        .orangeHolder {
            padding-right: 30px!important;
        padding-left:0px!important;
        margin-top:10px!important;
        }
.removerightpadding {
    padding-right: 15px!important;
    padding-left: 0px!important;
}
        a.navbar-brand {
        
        width:100px;
        }
        .copyHolder {
        
        padding-right:10px!important;
        }
        .BannerCopy_1 {
        font-size:18px!important;
        
        }
         .BannerCopy_2 {
        font-size:16px!important;
        
        }
            .BannerCopy_3 {
        font-size:14px;
        margin-left:10px!important;
        margin-top:2px!important;
        
        }




        .titleEventbold, .titleEventNormal {
        
        
        margin-top:10px;}

	.portfolio-filter li a {
		border-radius: 2px;
		margin: -3px;
		padding: 5px !important;
	}
	.footer-menu,
	.slider_title_a,
	.tp-caption .btn {display:none !important;}

	.header_center .navbar-collapse.collapse {
		text-align: left;
		height: auto !important;
		overflow:auto !important;
	}
	.header_center .navbar-nav {
		display:inherit !important;
		float: inherit !important;
		margin: 0;
	}
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
	.btn-lg,
	.mini_title2 {
		font-size:11px !important;
	}
	#topbar .topbar-email, 
	#topbar .topbar-phone, 
	#topbar .topbar-login, 
	#topbar .topbar-cart,
	.topmenu,
	.copyright-text,
	.menu,
	.callus {
		border:none;
		float:none !important;
		clear:both !important;
		text-align:center !important;
		margin:auto;
	} 
	}


    @media (max-width: 980px) {
        .removerightpadding , .orangeHolder {
        padding-left:0px!important;
        
        }
        .removeLeftpadding ,.orangeHolder{
        
          padding-right:0px!important;
        }
              .contactIcon{
        
        max-width:18%!important;
        }

                    .aboutHolderimg {
                    max-width:100%!important;
        }

        .BannerCopy_1 {
        font-size:28px!important;
        
        }
         .BannerCopy_2 {
        font-size:24px!important;
        
        }
            .BannerCopy_3 {
        font-size:14px;
        margin-left:10px!important;
        margin-top:2px!important;
        
        }

}
	@media (max-width: 380px) {
	#topbar .topbar-email, 
	#topbar .topbar-phone, 
	#topbar .topbar-login, 
	#topbar .topbar-cart,
	.topmenu,
	.callus{
		display:block
	} 
	}
	

        .imageEvents .img-responsive {
    width:100%;
    }
	.animationload {
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:#fff; /* change if the mask should have another color then white */
		z-index:999999; /* makes sure it stays on top */
	}
	
	.loader {
		width:200px;
		text-indent:-99999;
		height:200px;
		font-size:0;
		position:absolute;
		left:50%; /* centers the loading animation horizontally one the screen */
		top:50%; /* centers the loading animation vertically one the screen */
		background-image:url(images/loading.gif); /* path to your loading animation */
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px; /* is width and height divided by two */
	}
	
	#videobgfull {
		width:100% !important;
		height:500px !important;
		position:relative !important;
	}
	
	.videooverlay {
		padding: 60px 0;
		background-color:rgba(0, 0, 0, 0.4);
	}
	
	.videooverlay .general-title h2 {
		color:#fff;
	}

/*start event section*/ 

.removeLeftpadding {


padding-left:0px!important;}
.titleHeader {
    color:#0623BF;
    font-size:33px;
font-family: 'HelveticaNeue-Light';

}
.titleEventbold ,  .titleEventNormal{
    color:#F37523;
    font-weight:bold;
    font-size:15px;


}
.titleEventNormal {
        font-weight:normal;
     

}
.titleEvent {
    color:#0C3EE7!important;
    font-size:24px;
        margin-top:12px;
        display:inline-block;
}
.titleEvent a
{
	color:#0C3EE7!important;
}
.descEvent {
    color:#0C3EE7;
    font-size:14px;
    line-height:155%;
    margin-top:14px;

}
.rowevent {

padding-bottom:36px;
border-bottom:1px solid #ABBCF7;padding-top:36px;
}
    .rowevent img {
    width:100%;
    }


.firstrow {


padding-top:0px!important;}

.quickLinksBox {
padding-bottom:0px;
}
.OrangeColumn ,.quickLinksBox , .JoinConversation , .RefineSearch {

background-color:#F37421;
color:#fff;
padding-top:34px;
padding-bottom:34px;
padding-left:24px;
padding-right:24px;
}
.quickLinksBox {
padding-bottom:0px;
}
.RefineSearch {
background-color:transparent!important;
border: solid 1px #F37421;
margin-top:12px;
}

.smallblueLink {
    color:#2653E9;
    font-size:11px;

}
.QuickLinks{
    margin-bottom:15px!important;

}
.selectedRowOrange {
    font-family: 'HelveticaNeue-Medium'!important;
}
.secondrow:hover  {
        font-family: 'HelveticaNeue-Medium'!important;
        cursor:pointer;
}
.secondrow i {

display:none;
}
.secondrow:hover > i {

display:inline-block;
}
.nextBlue {
    color:#2653E9;
    margin-right:10px;
    


}
.menuColumn #EmailNewsletter {

border:solid 1px #F37421!important;
}
.nextOrange {
    color:#F37421;
    margin-right:15px;
}
.menuColumn ,.JoinConversation , .RefineSearch{
background-color:transparent!important;
border:solid 1px #F37421;
padding-bottom:15px!important;
padding-top:15px!important;

}
.menuColumn .signupTitle , .JoinConversation .signupTitle , .RefineSearch .signupTitle {
    color:#F37421;

}
    .menuColumn .rowOrangeBox , .JoinConversation .rowOrangeBox  , .RefineSearch .rowOrangeBox {
    padding-bottom:0px!important;
    
    }
    .JoinConversation .menuReturn ,   .RefineSearch .menuReturn {
    margin-bottom:0px!important;
    }

    .menuColumn .submitOk {
    background-color:transparent!important;
    font-size:12px!important;
    }
    .RefineSearch .submitOk {
    background-color:transparent!important;
    font-size:11px!important;
    padding-top:10px;
    }
    .JoinConversation {
    background-color:#0035E6!important;
    margin-top:10px;
}
.searchConversation{
    padding:0px!important;
}
.midsize {
width:80%;
}
.titleOrangeBox {
	font-family: 'HelveticaNeue-Light';
	margin-bottom:19px;
	font-size:18px;
}

.rowOrangeBox {
    padding-bottom:24px;
    padding-top:24px;
    border-bottom:1px solid #F7A26A; 


}

.rowOrangeDate ,.rowOrangeLocation{
font-weight:bold;
font-size:11px;

}
.rowOrangeLocation {
font-weight:normal;

}
.rowOrangeTitle {

font-size:16px;
margin-top:10PX;
font-family: 'HelveticaNeue-Medium';
}
/*end event section*/ 

/*start latest updates section*/
.latestupdate_boxes {
    margin-top:55px;



}
.latestupdate .titleHeader {
    color:#fff;

}

.latestupdatecolumn {
		border:1px solid #F37421;
        color:#fff;
        margin-bottom:10px;

	}
.latestupdateImageHolder {



}
.latestupdateDate {
font-family: 'HelveticaNeue-Medium';
    font-size:13px;
    margin-bottom:8px;
    

}
.latestupdatelocation {
  font-family: 'HelveticaNeue-Light';

}

.latestupdateContentBox {
    padding-top:24px;
    padding-bottom:48px;


}

.latestupdateTitle {
    color:#F37421;
font-family: 'HelveticaNeue-Medium';
    font-size:24px;


}
.latestupdateDesc {
    margin-top:10px;
    font-size:14px;
    	font-family: 'HelveticaNeue-Light';
  height: 4.5em;  overflow: hidden;
}
/*end latest updates section*/ 


/*start social media section*/
.social_boxes {
        margin-top:55px;

}
.latestSocialcolumn {

    		border:1px solid #F37421;
        color:#fff;
        margin-bottom:10px;
        padding-left:18px;
        padding-right:18px;
        padding-top:30px;
      padding-bottom:30px;
}
.latestSocialTitle {
    color:#0035E6;
    font-size:24px;
    margin-bottom:22px;



}
.socialIcon {

float:right;

}

.row_twitter {
    padding-top:20px;
    padding-bottom:15px;
    border-bottom:1px solid #ABBCF7;


}
.row_twitter_desc {
font-size:14px;
color:#0F40E7;
}
    .row_twitter_desc:hover {
    color:#F37421;
    }

.removeborder {
    border:0px;

}
/*end social media section*/


/*start partner section*/
.rowPartners {
margin-top:40PX;

}
.Partnerlogo {
    background-repeat:no-repeat!important;

    height:53px;
    background-size:contain!important;
        background-position:bottom center!important;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:50px;

}

/*end partner section*/


/*start footer section*/
.footerLogo {
margin-bottom:50px;
}
.footerCopy {
    margin-top:0px!important;

color:#fff;
}
.socialmediaIcons {
float:left;
margin-left:5px;
}
#footer-style-1 p {

color:#fff!important;
}
/*end footer section*/

/*start menu section*/

.menuRow {
margin-top:5%;
}
.menu {

margin-left:6%;
max-width:300px;    
}
.menu a{  color:#fff;
}
    .menulink {
        display:block;
	font-family: 'HelveticaNeue-Light';

        font-size:34px;
        margin-bottom:15px;

    
    
    }
.lastLink {

           margin-bottom:25px;
}
.menuReturn {
    font-size:14px;


border: 1px solid #F37421;
border-radius: 2px;
text-align:center; padding-left:20px; padding-right:20px;
padding-top:8px;
padding-bottom:8px;
margin-bottom:35px;
display: inline-block;
}
    .menuReturn i {
    color:#F37421;
    
    
    }

.closeMenu {

color:#fff;
text-align:center;
padding-top:17px;
cursor:pointer;
}
/*end menu section*/
/*start about section*/

.aboutContentBanner {

margin-top:92px;
}

.aboutCopyleft {
    font-size:20px;
    

        color:#fff;
        line-height:180%;

}
.colorAboutLight {
color:#F37421;
	font-family: 'HelveticaNeue-Light';
}

.AboutBtn {

    background-color:#F37421;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    padding-bottom:10px;
    padding-top:10px;
    cursor:pointer;
    width:100px;
    margin-top:40px;
     margin-bottom:40px;
}

.startConversation {

        background-color:#F37421;
    color:#fff;
    padding-left:15px;
    padding-right:10px;

    padding-bottom:10px;
    padding-top:8px;
    cursor:pointer;
    width:100%;
    margin-top:20px;
     margin-bottom:20px;
     cursor:pointer;
}
    .startConversation:hover {
    
        background-color:#2A56EA;
    }

.menuReturn  {
color:#fff!important;
}

.AboutCopyRight {
    color:#fff!important;
    	font-family: 'HelveticaNeue-Light';
            font-size:22px;
}

.meetTeamColumn .latestupdateDesc ,.meetTeamColumn  .latestupdateDate{
	color:#0C3EE7!important;
	
	}

	.readmoreBtn{
		
		color:#F37421!important;}
		
			.meetTeamColumn{
		
		margin-bottom:30px!important;}
/*end about section*/

/*start contact section*/
.form-control {
    background-color:transparent!important;
    border: 1px solid #F37421;
border-radius: 2px;
margin-bottom:10px;



}
.FindUsLeft .latestupdateDate   {

    color:#0035E6;
}
.FindUsLeft .latestupdateDesc , .mapBox .latestupdateDesc{

    color:#0035E6;

}
.latestupdateDesc a {

        color:#0035E6;
}
#contactform {

}

.mapBox {
   border: 1px solid #F37421;

}
.removerightpadding {


padding-right:0px;}

.NewsletterInput {

   border: 1px solid #fff;
   color:#fff;
   font-size:11px;
}
.NewsletterInput::placeholder {
  color: rgba(255,255,255,0.8)!important;

}

.submitOk {
position:absolute;
right:10px;  color: #fff!important;
padding:10px;
padding-bottom:7px;
padding-top:7px;
cursor:pointer;
top:2px;
background-color:#F37421;
}
.inpuNewsletterHolder {
position:relative;
}
.signupTitle {
font-weight:normal;
margin-bottom:10px;
}
.no-border {
  border-width: 0;
}
.send {
    font-size:14px;
    cursor:pointer;
    position:absolute;
    bottom:20px;
    left:28px;

}
    .send:hover {
    
    color:#F37421;
    }
/*end contact section*/

.NonFirst {
margin-top:0px;
}
@media (max-width: 1024px) {
	.aboutContentBanner
		{
			margin-top: 30px;
		}
		.BannerCopy_3
		{
			margin-top: 5px;
		}
		.AboutBtn
		{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.aboutleftcontainer
		{
			display: none;
		}
}
@media (max-width: 785px) {

   
    .leftColDiscussion {
    
    border-right:0px solid transparent!important;
    border-bottom:solid 1px #D3D1E8; 
    }
    .mobileBoxes {
    margin-top:66px;
    margin-bottom:10px;

    }

    .btnSearchQuestion {
    margin-top:20px;
    }
.BannerCopy_1
		{
			font-size:22px;
		}
		.BannerCopy_3
		{
			font-size: 16px;
		}
		.BannerCopy_3
		{
			margin-top: 15px;
		}
		.AboutBtn
		{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.aboutContentBanner
		{
			margin-top: 30px;
		}
		.aboutleftcontainer
		{
			display: none;
		}
		.latestupdateImageHolder img
		{
			width: 100%;
		}

    .removeLeftpadding {
        padding-left: 0px !important;
padding-right: 0px;
    }
    .removerightpadding {
    
    padding-right: 0px!important;
    }

    .orangeHolder {
        padding-right: 0px!important;
    }
    .menu_Holder {
    position:relative;
    }
    select {
    font-size:14px!important;
    }
        .JoinConversation {
    margin-top:0px!important;
    padding-bottom:27px!important;
    }
    .RefineSearch {
    margin-top:0px;
    }
	}



@media (max-width: 450px) {

    .profile_pic {

position: absolute;
right: -32px!important;
top: -66px!important;
    
    }

    .login_Holder {
    height: 200px!important;
}
    .btn_article {
    width: 90px!important;
display: inline-block!important;
    }
    .btnSearchQuestion {
    margin-left:0px!important;
    }
    .loginBtnArrows {
        margin-top:10px;
        margin-left:0px;
    
    
    }
    .registerBlock {
    
    background-color:#0035E6;
    padding-top:10px;
    padding-bottom:10px;

    }
    .menu {
    
    text-align:left!important;
    margin-left:0px!important;
    }
    .paddingno .img-responsive {
        padding:5px!important;
    
    }
     .row.reorder-xs {
    transform: rotate(180deg);
    direction: rtl; /* Fix the horizontal alignment */
  }

  .row.reorder-xs > [class*="col-"] {
    transform: rotate(-180deg);
    direction: ltr; /* Fix the horizontal alignment */
  }
  
    .blueColumnPopup {
   
        float:right!important;
       

    }

    .rightColumnPopup {
    right:0%!important;
    float:right!important;
    
    }
    .loginFieldHolder {
    
    margin-top:8px;
    }



    .fancybox-close {
    right:10px!important;
    position:relative;
    z-index:1000;
    background-position:0px 47px;
    }
    .JoinConversation {
    display:none;
    }

    .forumcontainer .JoinConversation ,    .deactivateaccount .JoinConversation {
        display:block;
    }
    .deactivateaccount .JoinConversation {
    width:100%;
    }

    .RefineSearch {
    border:0px!important;
    padding-left:0px;
    }
  .popuHeights ,.PopupContainer,.fancybox-inner{
    height:1000px!important;
    }
    .popuHeights {
    padding:0px!important;
    }
    .fancybox-inner {
    width:100%!important;
    }
    .fancybox-skin {
    padding:0px!important;
    }
    .fancybox-wrap {
    left:0px!important;
    top:0px!important;
    width:100%!important;
    }
    /*.PopupContainer {
    height:100%!important;
    }*/
    .hideMobile {
    display:none!important;
    }
}
@media (max-width: 380px) {


.conversationBox {
  
    height:100%;
    top:20px!important;

    }		.BannerCopy_3
		{
			font-size: 12px;
		}
}


@media (max-width: 765px) {


    .profile_pic {
        top: -65px!important;
        left: -49px!important;
        position: absolute!important;
    
        }
     .loginBtn ,.burgermenu{
        clear:both!important;
    }
    .loginBtn {
    margin-top:10px;margin-bottom:10px; margin-right:0px;
    }
    .login_Holder {
    height:145px;
    }
    .loginBtnArrows{
            float:left!important;
              
    }
    .loginFieldHolder {
    
            float:left!important;
    width:100%;
    }

    .mobileBoxes { float:none!important;
    }
    }		
.loadmoreBtn {

border:1px solid #0035E6!important;
color:#0035E6!important;
margin-top:25px;
}

.orangeSection {
margin-top:30px;
border:1px solid #fff!important;
color:#fff!important;

}
    .orangeSection i {
    
    color:#0035E6!important;
    }
.latestLoadmore {
margin-top:20px;
}

/*start caroussel*/ 
.servicesbox .rowevent{
    padding-top:0px!important;
 padding-bottom:10px!important;
 margin-bottom:10px!important;
}
.authorName {
    color:#F37421;
    font-size:14px;

}
.servicesbox .rowOrangeDate, .servicesbox .rowOrangeLocation {
        
    color:#0035E6!important;

}
/*End caroussel*/ 


.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1 {
  text-align: center;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;

  height: 3em;
  line-height: 3;
  background:#041BAA;
  overflow: hidden;
  border-radius: 1px;
  border:solid 1px #F37421;

}
#slct {
	text-align:center;
	background-color:#F37421!important;
	color:#fff!important;
	line-height: 20px;
}
    #slct option {
   background-color:#0035E6!important; 
    
    }
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #6473CB;
  cursor: pointer;  background:#041BAA; 
  font-size:18px;
}
select::-ms-expand {
  display: none;

}

#new_form_topic select
{
	background: #FFF;
	border: 1px solid #0135E6 !important;
	-webkit-appearance: menulist;
  -moz-appearance: menulist;
  -ms-appearance: menulist;
  appearance: menulist;
}
#new_form_topic textarea#bbp_topic_content
{
	width: 100%;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  color:#fff;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.btnSearchQuestion {

margin-left:23px;

text-align:center;
color:#F37421;
padding-left:13px;
padding-right:13px;
padding-top:11px;
padding-bottom:11px;
cursor:pointer;
font-size:12px;
border:1px solid #F37421; 
    border-radius:2px;
    cursor:pointer;
}
.dropOption {
  
font-size:18px!important;
padding-top:4px!important;
padding-bottom:4px!important;
}
    .dropOption:hover {
        background-image: url(images/arrow_right_orange.png);
        background-repeat: no-repeat;
        background-position: 0px 8px;
        padding-left: 28px;
        background-color:transparent!important;
    }

.questionCopy {

color:#fff;}

.questionBox {
    border:1px solid #F37421; 
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    margin-top:40px;

}
.questionBox .titleEvent{
    cursor:pointer;
}
.keywordTitle {
    color:#6977CC;

font-size:11px;
cursor:pointer;
}
.keywordTitle:hover {
    color:#fff;
}
.KeywordLetter {
border-bottom:1px solid #6977CC;
margin-bottom:4px;
}
.KeywordHolder {
border:1px solid #fff;
border-top:0px;
padding:10px;
color:#fff;
height:100px;
    background-color:#0920AB;
padding:8px!important;
}
.datefield {
    padding-top:10px!important;
color:#F37421!important;
}
.scroll-Area {
    position:absolute;top:40px;
width:95%;
z-index:100;
height:100px;
display:none;
padding-top:10px;
padding-bottom:10px;
}
ui-id-1 {
height:100px;

    }

.tags {
    margin-top:20px;
    padding-bottom:10px;

}
.tagCopy {
color:#F37421; 
font-family:HelveticaNeue-Medium;
margin-right:10px;

}

.blueColumnPopup {

    background-color:#0035E6;
}

.shareArticle {
padding-bottom:10px;
padding-top:20px;

}
.titleArrowPopup {
	color:#fff;
	padding-top:20px;
	margin-bottom:0px!important;
}
.titleArrowPopup a{
	color: #FFF;
}
.copyOrangeBlueCol {
font-size:14px;
color:#F37421;
padding-left:26px;
}
.imageHolder {
margin-top:22px;
margin-left:10px;
margin-bottom:40px;
}
.rightcolumTitles {
color:#0035E6;
}
.readmoreRightcolumn {
	color:#F37421;
	cursor:pointer;
	padding-left:8px;
}
.readmoreRightcolumn a{
	color:#F37421;
}
.rightColumnPopup {
padding-bottom:100px;

}
.rightColumnPopup .rowevent {
    padding-top:0px;

}
.PopupContainer{
    width:100%;

    padding:20px;
    height:500px;
    overflow-y:scroll;
}
.popuHeights {
    padding:20px;
}
.no-margin {
margin:0px!important;
}

.alignCenter {
position:relative;
width:80%;
margin-left:auto;
margin-right:auto;
}
.rowsconversation {


border-bottom:1px solid #5478EF;
padding-bottom:15px;
margin-top:20px;
}

.rowsconversationTitle {
    color: #fff;
    font-size:20px;
    padding-bottom:20px;
}
.ConversationParticipant {

font-size:12px;
float:left;
}
.ParticipantOrange {
    
font-size:12px;
    color:#F37421;
}
.margin-top-big {
    margin-top:25px;

}
.paddingno {
padding:0px!important;
}
.eventBoxHolder {

padding:15px;
}
.coloringBlue {

    color:#0639E6;
}
.coloringOrange {

     color:#F37421;
}

/*Forum start page*/
.bgdWhite {
background-color:#fff!important;
}
.forumPage .JoinConversation {
    width:100%;
float:left!important;
text-align:left!important;
margin-bottom:20px;

}

.forumPage .overlay_blue {
    background-color: rgba(6,34,190,1 );
}
.conversationBox .submitOk {
    background-color:transparent!important;
    color:#0035E6!important;
}
.BannerCopyForum {
    font-size: 33px;
font-family: 'HelveticaNeue-Light';
color:#fff;
}
.conversationBox .leftColDiscussion{


    border:0px!important;
}
.conversationBox .rightColDiscussion{


border-left:1px solid #D3D1E8;
}


.conversationBox .form-control {
border:1px solid #0135E6;

}
.conversationBox .send {
    color:#0135E6;
	font-family: 'HelveticaNeue-Medium';
}


.conversationBox .NewsletterInput {
        border: 1px solid #0135E6;
        color: #0135E6;
}
.conversationBox .KeywordHolder{
    background:#fff!important;
    border:1px solid #0135E6;
    border-top:0px;
}
.conversationBox .keywordTitle {
color:#D5DDF8;

}
    .conversationBox .keywordTitle:hover {
    color:#0035E6;
    
    }

.conversationBox .submitOk {
background-color:#fff;
color:#0135E6!important;
}
.conversationBox ::-webkit-input-placeholder  { 
  color: #D3D1E9!important;
  font-size:11px;
}

.conversationBox ::-moz-placeholder { 
  color: #D3D1E9;font-size:11px;
} 


.conversationBox :-ms-input-placeholder { 
  color: #D3D1E9;font-size:11px;
}



.conversationBox :-moz-placeholder {
  color: #D3D1E9;font-size:11px;
}



.ForumRowsHolder {
    background-color:#0035E6;
    margin-bottom:80px;
}
.ForumRowsHolder .JoinConversation
{
	float: none;
	text-align: left;
}
.margin-left {
margin-left:20px;
}


.arrowRight {
float:right;
padding-right:5px;
}
.noBgd {
background-color:transparent!important;

}
.no-margin {
    margin:0px!important;
}
.mostHelpfulRow {
margin-bottom:8px;
padding-left:0px;
}
.rowDiscussion {
background-color:#FDF1E9;
margin-bottom:30px;

}
.DiscussionAuthor {
    color:#0035E6;
     font-size: 16px;
     	font-family: 'HelveticaNeue-Medium';
         margin-top:8px;
         margin-bottom:8px;
}

.DiscussionTitle {
     color:#F37421;
     padding-bottom:10px;

}
.forumImage {

margin-top:10px;
}
.leftColDiscussion {
border-right:1px solid #D3D1E8;

}
.lightFont {
    font-family: 'HelveticaNeue-Light';
    font-size:12px;
    margin-right:5px;
}
.commentTitle {


margin-top:20px;
margin-bottom:40px;
}
.smallCopy {
    font-size:12px;
}
.margin-left-bit {
margin-left:10px!important;
}
.commentHeader {
padding-bottom:8px!important;
border-bottom-color:#D3D1E8!important;
}
.rowComments {
display:none;
}
.readmoreComments {
cursor:pointer;
}


/*Forum end page*/ 


/*Registration start page*/ 

.registrationbox ,.conversationBox {
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	min-height:100px;
	position:relative;
	max-width:630px;
	margin-top:-35px;
	border: 1px solid #fff;
	border-radius: 2px;
	padding-left:17px;
	padding-right:17px;
	padding-top:32px;
	padding-bottom:32px;
	display:none;
}
.conversationBox {
	position:fixed;
	top:20%;
	width:90%;
	left: calc(20% );
	max-width:800px;
	z-index:100;
}
.conversationBox .scroll-bar {
  background-color:#0035E6!important;

}

.conversationBox .scroll-element_track {
  background-color:#D5DDF8;
}   
.registerBoxTitle {
    color:#0035E6;
}

.btnclosePopup {
	position:absolute;
	background:url(images/closeBtnPopup.png);
	top:20px;
	right:20px;

	cursor:pointer;
	width:15px;
	height:15px;
	background-repeat:no-repeat;
}

.registrationbox .form-control {
    border: 1px solid #0035E6;

}
.form-checkbox {
  //   outline: 1px solid #0035E6!important;
        border-radius: 2px;
}
.registrationbox .submitOk {

background-color:#fff;
color:#0035E6!important;
font-size:11px;
padding-top:10px!important;
}
.signupCheck {
padding-left:12px;
}

 .imageHolderUpload{
  width: 100%;
  height: 40%;
  text-align: center;
  line-height: 80px;
  color: #D3D1E9;
  padding-top:40px;
    padding-bottom:40px;
  border:solid 1px #0623BF;
  background-image:url(images/bgdUpload.jpg);
  background-position:center;
  background-repeat:no-repeat;
}
 .thefilecss{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40%;
  outline: none;
  opacity: 0;
}
 .uploadbtn{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
  display:none;
}
/*Registration end page*/
.subInnerdrop {
padding-top:10px;
border-bottom:solid 1px #2A56EA; 
}
.panel-heading .rowsconversationTitle {
padding-bottom:5px;
}


/*start all pages settings*/

.scroll-DownBtn {
text-align:center;
color:#0035E6;
cursor:pointer;
margin-top:40px;

}
/*end all pages settings*/

.owl-buttons {
position:relative;
width:100px;
margin-left:auto;
margin-right:auto;

}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}


/*start profile page */

.ProfileBox {
    border:solid 1px #F37421;


}

.ProfileCopyholder {
    padding-left:15px;
    padding-right:15px;
    padding-top:18px;
    padding-bottom:18px;



}

.ProfileName {
    font-size: 20px;
color: #fff;
line-height: 180%;

}
.ProfileCopyholder .descEvent {
color:#fff!important;
}
.deactivateaccount .JoinConversation {
    text-align:left!important;

}
.Detailedbox {
border:1px solid #F37421;
padding-top:46px;
padding-bottom:40px;
padding-left:20px;
padding-right:20px;
margin-top:20px;

}
.enlargeBtn {
width:170px;
}
    .Detailedbox .form-control {
    border:1px solid #002BDE;
    }

    .Detailedbox .NewsletterInput, .Detailedbox .form-control {
    
    color:#002BDE!important;
    }

    .Detailedbox .submitOk {
    background-color:transparent!important;
    color:#002BDE!important;
    right:21px;
    }
.rowField {
position:relative;
}
.EditField {
position:absolute;
color:#002BDE;
right:9px;
top:9px;
background-color:#fff;
cursor:pointer;
padding-left:8px;


}
/*end profile page*/


/*start login socialmedia*/

.rowLoginSocialmedia {
padding-top:10px;
}
.socialmediaCopy {
    color:#fff;
    padding-top:10px;
}
.socialmediaIconsLogin{
    margin-left:14px;
    font-size:20px;
    background-color:#F37421;

    text-align:center;
    float:left;
    border-radius:50%;
    cursor:pointer;
width: 32px;
height: 30px;

  




}
/*end login socialmedia*/


.searchInput::-webkit-input-placeholder  ,.LoginFields::-webkit-input-placeholder ,.contactform .form-control::-webkit-input-placeholder    { /* Chrome/Opera/Safari */
  color: #fff!important;  opacity: 1!important;
}
.searchInput::-moz-placeholder ,.LoginFields::-moz-placeholder  ,.contactform .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff!important;
   opacity: 1!important;
}
.searchInput:-ms-input-placeholder ,.LoginFields:-ms-input-placeholder,.contactform .form-control:-ms-input-placeholder{ /* IE 10+ */
  color: #fff!important;  opacity: 1!important;
}
.searchInput:-moz-placeholder , .LoginFields:-moz-placeholder ,.contactform .form-control:-moz-placeholder{ /* Firefox 18- */
    color: #fff!important;  opacity: 1!important;
}
.contactform .form-control{
    color:#fff!important;
}