/**text-colors*/
.black{
    color:#000 !important;
}
.light{
	font-weight: 200 !important;
}
.condensed-row,.condensed{
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.ar .flex-row{
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; 
}
.ar .text-right{
	text-align: left;
}
.ar .text-left{
	text-align: right;
}
.maxh-auto{
	max-height: 100% !important;
}
.relative{
	position: relative;
}

.hidden{
    display: none;
}
.block{
	display:block;
}
.inline{
	display:inline;
}
.inline-block{
	display:inline-block;
}
.table{
	display:table;
}
.table-cell{
	display:table-cell;
}
.table-row{
    display: table-row;
}
.table-footer{
    display: table-footer-group;
}
.full-width{
	width:100%;
}
.max-full-width{
	max-width:100%;
}
.min-full-width{
	min-width:100%;
}
.full-height{
	height:100%;
}
.max-full-height{
	max-height:100%;
}
.min-full-height{
	min-height:100%;
}
.min-auto-height{
	min-height:auto !important;
}
.absolute-top{
	position:absolute;
	top:0;
}
.absolute-bottom{
	position:absolute;
	bottom:0;
}

.capitalize{
  text-transform: capitalize !important;
}
.uppercase{
  text-transform: uppercase !important;
}
.lowercase{
  text-transform: lowercase !important;
}
.nobg{
	background:transparent !important;
}
small {
    font-size: 75%;
}
.rounded{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.circle{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.pull-right{
    float:right !important;   
}
.ar .pull-right{
    float:left !important;   
}
.pull-left{
    float:left !important;   
}
.ar .pull-left{
    float:right !important;   
}
.ar .nav-pills > li {
    float: right;
}
.ar .radio input[type="radio"],
.ar .radio-inline input[type="radio"],
.ar .checkbox input[type="checkbox"],
.ar .checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
    margin-left: auto;
}
/****** BORDER ******/
.noborderall{
	border-width:0px !important;
    border-color: transparent;
}
.noboxshadow{
	box-shadow:none !important;
}

/****** PADDING ******/
.nopaddingtop{
  padding-top: 0 !important;
}
.en .nopaddingright{
  padding-right: 0 !important;
}
.ar .nopaddingright{
  padding-left: 0 !important;
}
.nopaddingbottom{
  padding-bottom: 0 !important;
}
.en .nopaddingleft{
  padding-left: 0 !important;
}
.ar .nopaddingleft{
  padding-right: 0 !important;
}
.nopaddingall{
  padding:0 !important;
}
.xspaddingall{
  padding:5px !important;
}
.smpaddingall{
  padding:10px !important;
}
.mdpaddingall{
  padding:15px !important;
}
.rgpaddingall{
  padding:20px !important;
}
.lgpaddingall{
  padding: 30px !important
}
.xlpaddingall{
  padding:50px !important;
}

/*xs*/
.xspaddingtop{
  padding-top:5px !important;
}
.xspaddingright{
  padding-right:5px !important;
}
.xspaddingbottom{
  padding-bottom:5px !important;
}
.xspaddingleft{
  padding-left:5px !important;
}
.ar .xspaddingright{
  padding-left:5px !important;
}
.ar .xspaddingleft{
  padding-left:5px !important;
}

/*sm*/
.smpaddingtop{
  padding-top:10px !important;
}
.smpaddingright{
  padding-right:10px !important;
}
.smpaddingbottom{
  padding-bottom:10px !important;
}
.smpaddingleft{
  padding-left:10px !important;
}
/*md*/
.mdpaddingtop{
  padding-top:15px !important;
}
.mdpaddingright{
  padding-right:15px !important;
}
.mdpaddingbottom{
  padding-bottom:15px !important;
}
.mdpaddingleft{
  padding-left:15px !important;
}
/*rg*/
.rgpaddingtop{
  padding-top:20px !important;
}
.rgpaddingright{
  padding-right:20px !important;
}
.rgpaddingbottom{
  padding-bottom:20px !important;
}
.rgpaddingleft{
  padding-left:20px !important;
}
/*lg*/
.lgpaddingtop{
  padding-top:30px !important;
}
.lgpaddingright{
  padding-right:30px !important;
}
.lgpaddingbottom{
  padding-bottom:30px !important;
}
.lgpaddingleft{
  padding-left:30px !important;
}
/*xlg*/
.xlgpaddingtop{
  padding-top:50px !important;
}
.xlgpaddingright{
  padding-right:50px !important;
}
.xlgpaddingbottom{
  padding-bottom:50px !important;
}
.xlgpaddingleft{
  padding-left:50px !important;
}



/****** MARGIN ******/
.nomargintop{
  margin-top: 0 !important;
}
.nomarginright{
  margin-right: 0 !important;
}
.nomarginbottom{
  margin-bottom: 0 !important;
}
.nomarginleft{
  margin-left: 0 !important;
}
.nomarginall{
  margin:0 !important;
}
.xsmarginall{
  margin:5px !important;
}
.smmarginall{
  margin:10px !important;
}
.mdmarginall{
  margin:15px !important;
}
.rgmarginall{
  margin:20px !important;
}
.lgmarginall{
  margin: 30px !important
}
.xlmarginall{
  margin:50px !important;
}

/*xs*/
.xsmargintop{
  margin-top:5px !important;
}
.en .xsmarginright,
.ar .xsmarginleft{
  margin-right:5px !important;
}
.xsmarginbottom{
  margin-bottom:5px !important;
}
.en .xsmarginleft,
.ar .xsmarginright{
  margin-left:5px !important;
}
/*sm*/
.smmargintop{
  margin-top:10px !important;
}
.smmarginright{
  margin-right:10px !important;
}
.smmarginbottom{
  margin-bottom:10px !important;
}
.smmarginleft{
  margin-left:10px !important;
}
/*md*/
.mdmargintop{
  margin-top:15px !important;
}
.mdmarginright{
  margin-right:15px !important;
}
.mdmarginbottom{
  margin-bottom:15px !important;
}
.mdmarginleft{
  margin-left:15px !important;
}
/*rg*/
.rgmargintop{
  margin-top:20px !important;
}
.rgmarginright{
  margin-right:20px !important;
}
.rgmarginbottom{
  margin-bottom:20px !important;
}
.rgmarginleft{
  margin-left:20px !important;
}
/*lg*/
.lgmargintop{
  margin-top:30px !important;
}
.lgmarginright{
  margin-right:30px !important;
}
.lgmarginbottom{
  margin-bottom:30px !important;
}
.lgmarginleft{
  margin-left:30px !important;
}
/*xlg*/
.xlgmargintop{
  margin-top:50px !important;
}
.xlgmarginright{
  margin-right:50px !important;
}
.xlgmarginbottom{
  margin-bottom:50px !important;
}
.xlgmarginleft{
  margin-left:50px !important;
}


/****** lg ******/
@media (min-width: 1025px) {
    .col-lg-1_5,
    .col-lg-2_5,
    .col-lg-3_5,
    .col-lg-4_5,
    .col-lg-5_5,
    .col-lg-6_5,
    .col-lg-7_5,
    .col-lg-8_5,
    .col-lg-9_5,
    .col-lg-10_5,
    .col-lg-11_5 {
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .ar .col-lg-1_5,
    .ar .col-lg-2_5,
    .ar .col-lg-3_5,
    .ar .col-lg-4_5,
    .ar .col-lg-5_5,
    .ar .col-lg-6_5,
    .ar .col-lg-7_5,
    .ar .col-lg-8_5,
    .ar .col-lg-9_5,
    .ar .col-lg-10_5,
    .ar .col-lg-11_5 {
        float:right;
    }
    .ar .col-lg-1, 
    .ar .col-lg-2, 
    .ar .col-lg-3, 
    .ar .col-lg-4, 
    .ar .col-lg-5, 
    .ar .col-lg-6, 
    .ar .col-lg-7,
    .ar .col-lg-8,
    .ar .col-lg-9,
    .ar .col-lg-10, 
    .ar .col-lg-11, 
    .ar .col-lg-12 {
        float: right;
    }
    .col-lg-1_5{
      width:12.5%;
    }
    .col-lg-2_5{
      width:20.833333335%;
    }
    .col-lg-3_5{
      width:29.1666666667%;
    }
    .col-lg-4_5{
      width:37.5%;
    }
    .col-lg-5_5{
      width:45.8333333333%;
    }
    .col-lg-6_5{
        width:54.16666666667%;
    }
    .col-lg-7_5{
        width:62.5%;
    }
    .col-lg-8_5{
        width:70.833333333333%;
    }
    .col-lg-9_5{
        width:79.16666666667%;
    }
    .col-lg-10_5{
        width:87.5%;
    }
    .col-lg-11_5{
        width:95.833333333333%;
    }
    .col-lg-offset-1_5,
    .col-lg-offset-2_5,
    .col-lg-offset-3_5,
    .col-lg-offset-4_5,
    .col-lg-offset-5_5,
    .col-lg-offset-6_5,
    .col-lg-offset-7_5,
    .col-lg-offset-8_5,
    .col-lg-offset-9_5,
    .col-lg-offset-10_5,
    .col-lg-offset-11_5{
        float:left;
    }
    .ar .col-lg-offset-1_5,
    .ar .col-lg-offset-2_5,
    .ar .col-lg-offset-3_5,
    .ar .col-lg-offset-4_5,
    .ar .col-lg-offset-5_5,
    .ar .col-lg-offset-6_5,
    .ar .col-lg-offset-7_5,
    .ar .col-lg-offset-8_5,
    .ar .col-lg-offset-9_5,
    .ar .col-lg-offset-10_5,
    .ar .col-lg-offset-11_5{
        float:right;
    }
    .col-lg-offset-1_5{
      margin-left: 12.5%;
    }
    .col-lg-offset-2_5{
      margin-left:20.833333335%;
    }
    .col-lg-offset-3_5{
      margin-left:29.1666666667%;
    }
    .col-lg-offset-4_5{
      margin-left:37.5%;
    }
    .col-lg-offset-5_5{
      margin-left:45.8333333333%;
    }
    .col-lg-offset-6_5{
        margin-left:54.16666666667%;
    }
    .col-lg-offset-7_5{
        margin-left:62.5%;
    }
    .col-lg-offset-8_5{
        margin-left:70.833333333333%;
    }
    .col-lg-offset-9_5{
        margin-left:79.16666666667%;
    }
    .col-lg-offset-10_5{
        margin-left:87.5%;
    }
    .col-lg-offset-11_5{
        margin-left:95.833333333333%;
    }
    /**ar**/
    .ar .col-lg-offset-1_5{
      margin-right: 12.5%;
    }
    .ar .col-lg-offset-2_5{
      margin-right:20.833333335%;
    }
    .ar .col-lg-offset-3_5{
      margin-right:29.1666666667%;
    }
    .ar .col-lg-offset-4_5{
      margin-right:37.5%;
    }
    .ar .col-lg-offset-5_5{
      margin-right:45.8333333333%;
    }
    .ar .col-lg-offset-6_5{
        margin-right:54.16666666667%;
    }
    .ar .col-lg-offset-7_5{
        margin-right:62.5%;
    }
    .ar .col-lg-offset-8_5{
        margin-right:70.833333333333%;
    }
    .ar .col-lg-offset-9_5{
        margin-right:79.16666666667%;
    }
    .ar .col-lg-offset-10_5{
        margin-right:87.5%;
    }
    .ar .col-lg-offset-11_5{
        margin-right:95.833333333333%;
    }
    .ar .col-lg-offset-12 {
        margin-right: 100%;
        margin-left: 0;
    }
    .ar .col-lg-offset-11 {
        margin-right: 91.66666667%;
        margin-left: 0;
    }
    .ar .col-lg-offset-10 {
        margin-right: 83.33333333%;
        margin-left: 0;
    }
    .ar .col-lg-offset-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .ar .col-lg-offset-8 {
        margin-right: 66.66666667%;
        margin-left: 0;
    }
    .ar .col-lg-offset-7 {
        margin-right: 58.33333333%;
        margin-left: 0;
    }
    .ar .col-lg-offset-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .ar .col-lg-offset-5 {
        margin-right: 41.66666667%;
        margin-left: 0;
    }
    .ar .col-lg-offset-4 {
        margin-right: 33.33333333%;
        margin-left: 0;
    }
    .ar .col-lg-offset-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .ar .col-lg-offset-2 {
        margin-right: 16.66666667%;
        margin-left: 0;
    }
    .ar .col-lg-offset-1 {
        margin-right: 8.33333333%;
        margin-left: 0;
    }
    .ar .col-lg-offset-0 {
        margin-right: 0%;
        margin-left: 0;
    }
    
	/****** PADDING ******/
	.lg-nopaddingtop{
	  padding-top: 0 !important;
	}
	.lg-nopaddingright{
	  padding-right: 0 !important;
	}
	.lg-nopaddingbottom{
	  padding-bottom: 0 !important;
	}
	.lg-nopaddingleft{
	  padding-left: 0 !important;
	}
	.lg-nopaddingall{
	  padding:0 !important;
	}
	.lg-xspaddingall{
	  padding:5px !important;
	}
	.lg-smpaddingall{
	  padding:10px !important;
	}
	.lg-mdpaddingall{
	  padding:15px !important;
	}
	.lg-lgpaddingall{
	  padding: 30px !important
	}
	.lg-xlpaddingall{
	  padding:50px !important;
	}

	/*xs*/
	.lg-xspaddingtop{
	  padding-top:5px !important;
	}
	.lg-xspaddingright{
	  padding-right:5px !important;
	}
	.lg-xspaddingbottom{
	  padding-bottom:5px !important;
	}
	.lg-xspaddingleft{
	  padding-left:5px !important;
	}
	/*sm*/
	.lg-smpaddingtop{
	  padding-top:10px !important;
	}
	.lg-smpaddingright{
	  padding-right:10px !important;
	}
	.lg-smpaddingbottom{
	  padding-bottom:10px !important;
	}
	.lg-smpaddingleft{
	  padding-left:10px !important;
	}
	/*md*/
	.lg-mdpaddingtop{
	  padding-top:15px !important;
	}
	.lg-mdpaddingright{
	  padding-right:15px !important;
	}
	.lg-mdpaddingbottom{
	  padding-bottom:15px !important;
	}
	.lg-mdpaddingleft{
	  padding-left:15px !important;
	}
	/*lg*/
	.lg-lgpaddingtop{
	  padding-top:30px !important;
	}
	.lg-lgpaddingright{
	  padding-right:30px !important;
	}
	.lg-lgpaddingbottom{
	  padding-bottom:30px !important;
	}
	.lg-lgpaddingleft{
	  padding-left:30px !important;
	}
	/*xlg*/
	.lg-xlgpaddingtop{
	  padding-top:50px !important;
	}
	.lg-xlgpaddingright{
	  padding-right:50px !important;
	}
	.lg-xlgpaddingbottom{
	  padding-bottom:50px !important;
	}
	.lg-xlgpaddingleft{
	  padding-left:50px !important;
	}



	/****** MARGIN ******/
	.lg-nomargintop{
	  margin-top: 0 !important;
	}
	.lg-nomarginright{
	  margin-right: 0 !important;
	}
	.lg-nomarginbottom{
	  margin-bottom: 0 !important;
	}
	.lg-nomarginleft{
	  margin-left: 0 !important;
	}
	.lg-nomarginall{
	  margin:0 !important;
	}
	.lg-xsmarginall{
	  margin:5px !important;
	}
	.lg-smmarginall{
	  margin:10px !important;
	}
	.lg-mdmarginall{
	  margin:15px !important;
	}
	.lg-lgmarginall{
	  margin: 30px !important
	}
	.lg-xlmarginall{
	  margin:50px !important;
	}

	/*xs*/
	.lg-xsmargintop{
	  margin-top:5px !important;
	}
	.lg-xsmarginright{
	  margin-right:5px !important;
	}
	.lg-xsmarginbottom{
	  margin-bottom:5px !important;
	}
	.lg-xsmarginleft{
	  margin-left:5px !important;
	}
	/*sm*/
	.lg-smmargintop{
	  margin-top:10px !important;
	}
	.lg-smmarginright{
	  margin-right:10px !important;
	}
	.lg-smmarginbottom{
	  margin-bottom:10px !important;
	}
	.lg-smmarginleft{
	  margin-left:10px !important;
	}
	/*md*/
	.lg-mdmargintop{
	  margin-top:15px !important;
	}
	.lg-mdmarginright{
	  margin-right:15px !important;
	}
	.lg-mdmarginbottom{
	  margin-bottom:15px !important;
	}
	.lg-mdmarginleft{
	  margin-left:15px !important;
	}
	/*lg*/
	.lg-lgmargintop{
	  margin-top:30px !important;
	}
	.lg-lgmarginright{
	  margin-right:30px !important;
	}
	.lg-lgmarginbottom{
	  margin-bottom:30px !important;
	}
	.lg-lgmarginleft{
	  margin-left:30px !important;
	}
	/*xlg*/
	.lg-xlgmargintop{
	  margin-top:50px !important;
	}
	.lg-xlgmarginright{
	  margin-right:50px !important;
	}
	.lg-xlgmarginbottom{
	  margin-bottom:50px !important;
	}
	.lg-xlgmarginleft{
	  margin-left
	}
}

/****** md ******/
@media (max-width: 1024px) and (min-width: 993px) {
    .col-md-1_5,
    .col-md-2_5,
    .col-md-3_5,
    .col-md-4_5,
    .col-md-5_5,
    .col-md-6_5,
    .col-md-7_5,
    .col-md-8_5,
    .col-md-9_5,
    .col-md-10_5,
    .col-md-11_5{
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .ar .col-md-1_5,
    .ar .col-md-2_5,
    .ar .col-md-3_5,
    .ar .col-md-4_5,
    .ar .col-md-5_5,
    .ar .col-md-6_5,
    .ar .col-md-7_5,
    .ar .col-md-8_5,
    .ar .col-md-9_5,
    .ar .col-md-10_5,
    .ar .col-md-11_5{
        float:right;
    }
    .ar .col-md-1, 
    .ar .col-md-2, 
    .ar .col-md-3, 
    .ar .col-md-4, 
    .ar .col-md-5, 
    .ar .col-md-6, 
    .ar .col-md-7,
    .ar .col-md-8,
    .ar .col-md-9,
    .ar .col-md-10, 
    .ar .col-md-11, 
    .ar .col-md-12 {
        float: right;
    }
    .col-md-1_5{
      width:12.5%;
    }
    .col-md-2_5{
      width:20.833333335%;
    }
    .col-md-3_5{
      width:29.1666666667%;
    }
    .col-md-4_5{
      width:37.5%;
    }
    .col-md-5_5{
      width:45.8333333333%;
    }
    .col-md-6_5{
        width:54.16666666667%;
    }
    .col-md-7_5{
        width:62.5%;
    }
    .col-md-8_5{
        width:70.833333333333%;
    }
    .col-md-9_5{
        width:79.16666666667%;
    }
    .col-md-10_5{
        width:87.5%;
    }
    .col-md-11_5{
        width:95.833333333333%;
    }
    .col-md-offset-1_5,
    .col-md-offset-2_5,
    .col-md-offset-3_5,
    .col-md-offset-4_5,
    .col-md-offset-5_5,
    .col-md-offset-6_5,
    .col-md-offset-7_5,
    .col-md-offset-8_5,
    .col-md-offset-9_5,
    .col-md-offset-10_5,
    .col-md-offset-11_5{
        float:left;
    }
    .ar .col-md-offset-1_5,
    .ar .col-md-offset-2_5,
    .ar .col-md-offset-3_5,
    .ar .col-md-offset-4_5,
    .ar .col-md-offset-5_5,
    .ar .col-md-offset-6_5,
    .ar .col-md-offset-7_5,
    .ar .col-md-offset-8_5,
    .ar .col-md-offset-9_5,
    .ar .col-md-offset-10_5,
    .ar .col-md-offset-11_5{
        float:right;
    }
    .col-md-offset-1_5{
      margin-left: 12.5%;
    }
    .col-md-offset-2_5{
      margin-left:20.833333335%;
    }
    .col-md-offset-3_5{
      margin-left:29.1666666667%;
    }
    .col-md-offset-4_5{
      margin-left:37.5%;
    }
    .col-md-offset-5_5{
      margin-left:45.8333333333%;
    }
    .col-md-offset-6_5{
        margin-left:54.16666666667%;
    }
    .col-md-offset-7_5{
        margin-left:62.5%;
    }
    .col-md-offset-8_5{
        margin-left:70.833333333333%;
    }
    .col-md-offset-9_5{
        margin-left:79.16666666667%;
    }
    .col-md-offset-10_5{
        margin-left:87.5%;
    }
    .col-md-offset-11_5{
        margin-left:95.833333333333%;
    }
    /**ar**/
    .ar .col-md-offset-1_5{
      margin-right: 12.5%;
    }
    .ar .col-md-offset-2_5{
      margin-right:20.833333335%;
    }
    .ar .col-md-offset-3_5{
      margin-right:29.1666666667%;
    }
    .ar .col-md-offset-4_5{
      margin-right:37.5%;
    }
    .ar .col-md-offset-5_5{
      margin-right:45.8333333333%;
    }
    .ar .col-md-offset-6_5{
        margin-right:54.16666666667%;
    }
    .ar .col-md-offset-7_5{
        margin-right:62.5%;
    }
    .ar .col-md-offset-8_5{
        margin-right:70.833333333333%;
    }
    .ar .col-md-offset-9_5{
        margin-right:79.16666666667%;
    }
    .ar .col-md-offset-10_5{
        margin-right:87.5%;
    }
    .ar .col-md-offset-11_5{
        margin-right:95.833333333333%;
    }
    .ar .col-md-offset-12 {
        margin-right: 100%;
        margin-left: 0;
    }
    .ar .col-md-offset-11 {
        margin-right: 91.66666667%;
        margin-left: 0;
    }
    .ar .col-md-offset-10 {
        margin-right: 83.33333333%;
        margin-left: 0;
    }
    .ar .col-md-offset-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .ar .col-md-offset-8 {
        margin-right: 66.66666667%;
        margin-left: 0;
    }
    .ar .col-md-offset-7 {
        margin-right: 58.33333333%;
        margin-left: 0;
    }
    .ar .col-md-offset-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .ar .col-md-offset-5 {
        margin-right: 41.66666667%;
        margin-left: 0;
    }
    .ar .col-md-offset-4 {
        margin-right: 33.33333333%;
        margin-left: 0;
    }
    .ar .col-md-offset-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .ar .col-md-offset-2 {
        margin-right: 16.66666667%;
        margin-left: 0;
    }
    .ar .col-md-offset-1 {
        margin-right: 8.33333333%;
        margin-left: 0;
    }
    .ar .col-md-offset-0 {
        margin-right: 0%;
        margin-left: 0;
    }
	/****** PADDING ******/
	.md-nopaddingtop{
	  padding-top: 0 !important;
	}
	.md-nopaddingright{
	  padding-right: 0 !important;
	}
	.md-nopaddingbottom{
	  padding-bottom: 0 !important;
	}
	.md-nopaddingleft{
	  padding-left: 0 !important;
	}
	.md-nopaddingall{
	  padding:0 !important;
	}
	.md-xspaddingall{
	  padding:5px !important;
	}
	.md-smpaddingall{
	  padding:10px !important;
	}
	.md-mdpaddingall{
	  padding:15px !important;
	}
	.md-lgpaddingall{
	  padding: 30px !important
	}
	.md-xlpaddingall{
	  padding:50px !important;
	}

	/*xs*/
	body .md-xspaddingtop{
	  padding-top:5px !important;
	}
	body .md-xspaddingright{
	  padding-right:5px !important;
	}
	body .md-xspaddingbottom{
	  padding-bottom:5px !important;
	}
	body .md-xspaddingleft{
	  padding-left:5px !important;
	}
	/*sm*/
	.md-smpaddingtop{
	  padding-top:10px !important;
	}
	.md-smpaddingright{
	  padding-right:10px !important;
	}
	.md-smpaddingbottom{
	  padding-bottom:10px !important;
	}
	.md-smpaddingleft{
	  padding-left:10px !important;
	}
	/*md*/
	.md-mdpaddingtop{
	  padding-top:15px !important;
	}
	.md-mdpaddingright{
	  padding-right:15px !important;
	}
	.md-mdpaddingbottom{
	  padding-bottom:15px !important;
	}
	.md-mdpaddingleft{
	  padding-left:15px !important;
	}
	/*lg*/
	.md-lgpaddingtop{
	  padding-top:30px !important;
	}
	.md-lgpaddingright{
	  padding-right:30px !important;
	}
	.md-lgpaddingbottom{
	  padding-bottom:30px !important;
	}
	.md-lgpaddingleft{
	  padding-left:30px !important;
	}
	/*xlg*/
	.md-xlgpaddingtop{
	  padding-top:50px !important;
	}
	.md-xlgpaddingright{
	  padding-right:50px !important;
	}
	.md-xlgpaddingbottom{
	  padding-bottom:50px !important;
	}
	.md-xlgpaddingleft{
	  padding-left:50px !important;
	}



	/****** MARGIN ******/
	.md-nomargintop{
	  margin-top: 0 !important;
	}
	.md-nomarginright{
	  margin-right: 0 !important;
	}
	.md-nomarginbottom{
	  margin-bottom: 0 !important;
	}
	.md-nomarginleft{
	  margin-left: 0 !important;
	}
	.md-nomarginall{
	  margin:0 !important;
	}
	.md-xsmarginall{
	  margin:5px !important;
	}
	.md-smmarginall{
	  margin:10px !important;
	}
	.md-mdmarginall{
	  margin:15px !important;
	}
	.md-lgmarginall{
	  margin: 30px !important
	}
	.md-xlmarginall{
	  margin:50px !important;
	}

	/*xs*/
	.md-xsmargintop{
	  margin-top:5px !important;
	}
	.md-xsmarginright{
	  margin-right:5px !important;
	}
	.md-xsmarginbottom{
	  margin-bottom:5px !important;
	}
	.md-xsmarginleft{
	  margin-left:5px !important;
	}
	/*sm*/
	.md-smmargintop{
	  margin-top:10px !important;
	}
	.md-smmarginright{
	  margin-right:10px !important;
	}
	.md-smmarginbottom{
	  margin-bottom:10px !important;
	}
	.md-smmarginleft{
	  margin-left:10px !important;
	}
	/*md*/
	body .md-mdmargintop{
	  margin-top:15px !important;
	}
	body .md-mdmarginright{
	  margin-right:15px !important;
	}
	body .md-mdmarginbottom{
	  margin-bottom:15px !important;
	}
	body .md-mdmarginleft{
	  margin-left:15px !important;
	}
	/*lg*/
	.md-lgmargintop{
	  margin-top:30px !important;
	}
	.md-lgmarginright{
	  margin-right:30px !important;
	}
	.md-lgmarginbottom{
	  margin-bottom:30px !important;
	}
	.md-lgmarginleft{
	  margin-left:30px !important;
	}
	/*xlg*/
	.md-xlgmargintop{
	  margin-top:50px !important;
	}
	.md-xlgmarginright{
	  margin-right:50px !important;
	}
	.md-xlgmarginbottom{
	  margin-bottom:50px !important;
	}
	.md-xlgmarginleft{
	  margin-left:50px !important;
	}

}

/****** sm ******/
@media (max-width: 992px) and (min-width: 481px){
    .col-sm-1_5,
    .col-sm-2_5,
    .col-sm-3_5,
    .col-sm-4_5,
    .col-sm-5_5,
    .col-sm-6_5,
    .col-sm-7_5,
    .col-sm-8_5,
    .col-sm-9_5,
    .col-sm-10_5,
    .col-sm-11_5{
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .ar .col-sm-1_5,
    .ar .col-sm-2_5,
    .ar .col-sm-3_5,
    .ar .col-sm-4_5,
    .ar .col-sm-5_5,
    .ar .col-sm-6_5,
    .ar .col-sm-7_5,
    .ar .col-sm-8_5,
    .ar .col-sm-9_5,
    .ar .col-sm-10_5,
    .ar .col-sm-11_5{
        float:right;
    }
    .ar .col-sm-1, 
    .ar .col-sm-2, 
    .ar .col-sm-3, 
    .ar .col-sm-4, 
    .ar .col-sm-5, 
    .ar .col-sm-6, 
    .ar .col-sm-7,
    .ar .col-sm-8,
    .ar .col-sm-9,
    .ar .col-sm-10, 
    .ar .col-sm-11, 
    .ar .col-sm-12 {
        float: right;
    }
    .col-sm-1_5{
      width:12.5%;
    }
    .col-sm-2_5{
      width:20.833333335%;
    }
    .col-sm-3_5{
      width:29.1666666667%;
    }
    .col-sm-4_5{
      width:37.5%;
    }
    .col-sm-5_5{
      width:45.8333333333%;
    }
    .col-sm-6_5{
        width:54.16666666667%;
    }
    .col-sm-7_5{
        width:62.5%;
    }
    .col-sm-8_5{
        width:70.833333333333%;
    }
    .col-sm-9_5{
        width:79.16666666667%;
    }
    .col-sm-10_5{
        width:87.5%;
    }
    .col-sm-11_5{
        width:95.833333333333%;
    }
    .col-sm-offset-1_5,
    .col-sm-offset-2_5,
    .col-sm-offset-3_5,
    .col-sm-offset-4_5,
    .col-sm-offset-5_5,
    .col-sm-offset-6_5,
    .col-sm-offset-7_5,
    .col-sm-offset-8_5,
    .col-sm-offset-9_5,
    .col-sm-offset-10_5,
    .col-sm-offset-11_5{
        float:left;
    }
    .ar .col-sm-offset-1_5,
    .ar .col-sm-offset-2_5,
    .ar .col-sm-offset-3_5,
    .ar .col-sm-offset-4_5,
    .ar .col-sm-offset-5_5,
    .ar .col-sm-offset-6_5,
    .ar .col-sm-offset-7_5,
    .ar .col-sm-offset-8_5,
    .ar .col-sm-offset-9_5,
    .ar .col-sm-offset-10_5,
    .ar .col-sm-offset-11_5{
        float:right;
    }
    .col-sm-offset-1_5{
      margin-left: 12.5%;
    }
    .col-sm-offset-2_5{
      margin-left:20.833333335%;
    }
    .col-sm-offset-3_5{
      margin-left:29.1666666667%;
    }
    .col-sm-offset-4_5{
      margin-left:37.5%;
    }
    .col-sm-offset-5_5{
      margin-left:45.8333333333%;
    }
    .col-sm-offset-6_5{
        margin-left:54.16666666667%;
    }
    .col-sm-offset-7_5{
        margin-left:62.5%;
    }
    .col-sm-offset-8_5{
        margin-left:70.833333333333%;
    }
    .col-sm-offset-9_5{
        margin-left:79.16666666667%;
    }
    .col-sm-offset-10_5{
        margin-left:87.5%;
    }
    .col-sm-offset-11_5{
        margin-left:95.833333333333%;
    }
    /**ar**/
    .ar .col-sm-offset-1_5{
      margin-right: 12.5%;
    }
    .ar .col-sm-offset-2_5{
      margin-right:20.833333335%;
    }
    .ar .col-sm-offset-3_5{
      margin-right:29.1666666667%;
    }
    .ar .col-sm-offset-4_5{
      margin-right:37.5%;
    }
    .ar .col-sm-offset-5_5{
      margin-right:45.8333333333%;
    }
    .ar .col-sm-offset-6_5{
        margin-right:54.16666666667%;
    }
    .ar .col-sm-offset-7_5{
        margin-right:62.5%;
    }
    .ar .col-sm-offset-8_5{
        margin-right:70.833333333333%;
    }
    .ar .col-sm-offset-9_5{
        margin-right:79.16666666667%;
    }
    .ar .col-sm-offset-10_5{
        margin-right:87.5%;
    }
    .ar .col-sm-offset-11_5{
        margin-right:95.833333333333%;
    }
    .ar .col-sm-offset-12 {
        margin-right: 100%;
        margin-left: 0;
    }
    .ar .col-sm-offset-11 {
        margin-right: 91.66666667%;
        margin-left: 0;
    }
    .ar .col-sm-offset-10 {
        margin-right: 83.33333333%;
        margin-left: 0;
    }
    .ar .col-sm-offset-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .ar .col-sm-offset-8 {
        margin-right: 66.66666667%;
        margin-left: 0;
    }
    .ar .col-sm-offset-7 {
        margin-right: 58.33333333%;
        margin-left: 0;
    }
    .ar .col-sm-offset-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .ar .col-sm-offset-5 {
        margin-right: 41.66666667%;
        margin-left: 0;
    }
    .ar .col-sm-offset-4 {
        margin-right: 33.33333333%;
        margin-left: 0;
    }
    .ar .col-sm-offset-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .ar .col-sm-offset-2 {
        margin-right: 16.66666667%;
        margin-left: 0;
    }
    .ar .col-sm-offset-1 {
        margin-right: 8.33333333%;
        margin-left: 0;
    }
    .ar .col-sm-offset-0 {
        margin-right: 0%;
        margin-left: 0;
    }
	/****** PADDING ******/
	.sm-nopaddingtop{
	  padding-top: 0 !important;
	}
	.sm-nopaddingright{
	  padding-right: 0 !important;
	}
	.sm-nopaddingbottom{
	  padding-bottom: 0 !important;
	}
	.sm-nopaddingleft{
	  padding-left: 0 !important;
	}
	.sm-nopaddingall{
	  padding:0 !important;
	}
	.sm-xspaddingall{
	  padding:5px !important;
	}
	.sm-smpaddingall{
	  padding:10px !important;
	}
	.sm-mdpaddingall{
	  padding:15px !important;
	}
	.sm-lgpaddingall{
	  padding: 30px !important
	}
	.sm-xlpaddingall{
	  padding:50px !important;
	}

	/*xs*/
	body .sm-xspaddingtop{
	  padding-top:5px !important;
	}
	body .sm-xspaddingright{
	  padding-right:5px !important;
	}
	body .sm-xspaddingbottom{
	  padding-bottom:5px !important;
	}
	body .sm-xspaddingleft{
	  padding-left:5px !important;
	}
	/*sm*/
	.sm-smpaddingtop{
	  padding-top:10px !important;
	}
	.sm-smpaddingright{
	  padding-right:10px !important;
	}
	.sm-smpaddingbottom{
	  padding-bottom:10px !important;
	}
	.sm-smpaddingleft{
	  padding-left:10px !important;
	}
	/*md*/
	body .sm-mdpaddingtop{
	  padding-top:15px !important;
	}
	body .sm-mdpaddingright{
	  padding-right:15px !important;
	}
	body .sm-mdpaddingbottom{
	  padding-bottom:15px !important;
	}
	body .sm-mdpaddingleft{
	  padding-left:15px !important;
	}
	/*lg*/
	.sm-lgpaddingtop{
	  padding-top:30px !important;
	}
	.sm-lgpaddingright{
	  padding-right:30px !important;
	}
	.sm-lgpaddingbottom{
	  padding-bottom:30px !important;
	}
	.sm-lgpaddingleft{
	  padding-left:30px !important;
	}
	/*xlg*/
	.sm-xlgpaddingtop{
	  padding-top:50px !important;
	}
	.sm-xlgpaddingright{
	  padding-right:50px !important;
	}
	.sm-xlgpaddingbottom{
	  padding-bottom:50px !important;
	}
	.sm-xlgpaddingleft{
	  padding-left:50px !important;
	}



	/****** MARGIN ******/
	.sm-nomargintop{
	  margin-top: 0 !important;
	}
	.sm-nomarginright{
	  margin-right: 0 !important;
	}
	.sm-nomarginbottom{
	  margin-bottom: 0 !important;
	}
	.sm-nomarginleft{
	  margin-left: 0 !important;
	}
	.sm-nomarginall{
	  margin:0 !important;
	}
	.sm-xsmarginall{
	  margin:5px !important;
	}
	.sm-smmarginall{
	  margin:10px !important;
	}
	.sm-mdmarginall{
	  margin:15px !important;
	}
	.sm-lgmarginall{
	  margin: 30px !important
	}
	.sm-xlmarginall{
	  margin:50px !important;
	}

	/*xs*/
	.sm-xsmargintop{
	  margin-top:5px !important;
	}
	.sm-xsmarginright{
	  margin-right:5px !important;
	}
	.sm-xsmarginbottom{
	  margin-bottom:5px !important;
	}
	.sm-xsmarginleft{
	  margin-left:5px !important;
	}
	/*sm*/
	.sm-smmargintop{
	  margin-top:10px !important;
	}
	.sm-smmarginright{
	  margin-right:10px !important;
	}
	.sm-smmarginbottom{
	  margin-bottom:10px !important;
	}
	.sm-smmarginleft{
	  margin-left:10px !important;
	}
	/*md*/
	body .sm-mdmargintop{
	  margin-top:15px !important;
	}
	body .sm-mdmarginright{
	  margin-right:15px !important;
	}
	body .sm-mdmarginbottom{
	  margin-bottom:15px !important;
	}
	body .sm-mdmarginleft{
	  margin-left:15px !important;
	}
	/*lg*/
	.sm-lgmargintop{
	  margin-top:30px !important;
	}
	.sm-lgmarginright{
	  margin-right:30px !important;
	}
	.sm-lgmarginbottom{
	  margin-bottom:30px !important;
	}
	.sm-lgmarginleft{
	  margin-left:30px !important;
	}
	/*xlg*/
	.sm-xlgmargintop{
	  margin-top:50px !important;
	}
	.sm-xlgmarginright{
	  margin-right:50px !important;
	}
	.sm-xlgmarginbottom{
	  margin-bottom:50px !important;
	}
	.sm-xlgmarginleft{
	  margin-left:50px !important;
	}
}

/****** xs ******/
@media (max-width: 480px) {
	body .xs-col-centered,
	body.ar .xs-col-centered{
	  float: none;
	  margin: 0 auto;
	}
    .col-xs-1_5,
    .col-xs-2_5,
    .col-xs-3_5,
    .col-xs-4_5,
    .col-xs-5_5,
    .col-xs-6_5,
    .col-xs-7_5,
    .col-xs-8_5,
    .col-xs-9_5,
    .col-xs-10_5,
    .col-xs-11_5{
        float:left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .ar .col-xs-1_5,
    .ar .col-xs-2_5,
    .ar .col-xs-3_5,
    .ar .col-xs-4_5,
    .ar .col-xs-5_5,
    .ar .col-xs-6_5,
    .ar .col-xs-7_5,
    .ar .col-xs-8_5,
    .ar .col-xs-9_5,
    .ar .col-xs-10_5,
    .ar .col-xs-11_5{
        float:right;
    }
    .ar .col-xs-1, 
    .ar .col-xs-2, 
    .ar .col-xs-3, 
    .ar .col-xs-4, 
    .ar .col-xs-5, 
    .ar .col-xs-6, 
    .ar .col-xs-7,
    .ar .col-xs-8,
    .ar .col-xs-9,
    .ar .col-xs-10, 
    .ar .col-xs-11, 
    .ar .col-xs-12 {
        float: right;
    }
    .col-xs-1_5{
      width:12.5%;
    }
    .col-xs-2_5{
      width:20.833333335%;
    }
    .col-xs-3_5{
      width:29.1666666667%;
    }
    .col-xs-4_5{
      width:37.5%;
    }
    .col-xs-5_5{
      width:45.8333333333%;
    }
    .col-xs-6_5{
        width:54.16666666667%;
    }
    .col-xs-7_5{
        width:62.5%;
    }
    .col-xs-8_5{
        width:70.833333333333%;
    }
    .col-xs-9_5{
        width:79.16666666667%;
    }
    .col-xs-10_5{
        width:87.5%;
    }
    .col-xs-11_5{
        width:95.833333333333%;
    }
    .col-xs-offset-1_5,
    .col-xs-offset-2_5,
    .col-xs-offset-3_5,
    .col-xs-offset-4_5,
    .col-xs-offset-5_5,
    .col-xs-offset-6_5,
    .col-xs-offset-7_5,
    .col-xs-offset-8_5,
    .col-xs-offset-9_5,
    .col-xs-offset-10_5,
    .col-xs-offset-11_5{
        float:left;
    }
    .ar .col-xs-offset-1_5,
    .ar .col-xs-offset-2_5,
    .ar .col-xs-offset-3_5,
    .ar .col-xs-offset-4_5,
    .ar .col-xs-offset-5_5,
    .ar .col-xs-offset-6_5,
    .ar .col-xs-offset-7_5,
    .ar .col-xs-offset-8_5,
    .ar .col-xs-offset-9_5,
    .ar .col-xs-offset-10_5,
    .ar .col-xs-offset-11_5{
        float:right;
    }
    .col-xs-offset-1_5{
      margin-left: 12.5%;
    }
    .col-xs-offset-2_5{
      margin-left:20.833333335%;
    }
    .col-xs-offset-3_5{
      margin-left:29.1666666667%;
    }
    .col-xs-offset-4_5{
      margin-left:37.5%;
    }
    .col-xs-offset-5_5{
      margin-left:45.8333333333%;
    }
    .col-xs-offset-6_5{
        margin-left:54.16666666667%;
    }
    .col-xs-offset-7_5{
        margin-left:62.5%;
    }
    .col-xs-offset-8_5{
        margin-left:70.833333333333%;
    }
    .col-xs-offset-9_5{
        margin-left:79.16666666667%;
    }
    .col-xs-offset-10_5{
        margin-left:87.5%;
    }
    .col-xs-offset-11_5{
        margin-left:95.833333333333%;
    }
    /**ar**/
    .ar .col-xs-offset-1_5{
      margin-right: 12.5%;
    }
    .ar .col-xs-offset-2_5{
      margin-right:20.833333335%;
    }
    .ar .col-xs-offset-3_5{
      margin-right:29.1666666667%;
    }
    .ar .col-xs-offset-4_5{
      margin-right:37.5%;
    }
    .ar .col-xs-offset-5_5{
      margin-right:45.8333333333%;
    }
    .ar .col-xs-offset-6_5{
        margin-right:54.16666666667%;
    }
    .ar .col-xs-offset-7_5{
        margin-right:62.5%;
    }
    .ar .col-xs-offset-8_5{
        margin-right:70.833333333333%;
    }
    .ar .col-xs-offset-9_5{
        margin-right:79.16666666667%;
    }
    .ar .col-xs-offset-10_5{
        margin-right:87.5%;
    }
    .ar .col-xs-offset-11_5{
        margin-right:95.833333333333%;
    }
	.xs-relative{
		position:relative;
	}
    
    .ar .col-xs-offset-12 {
        margin-right: 100%;
        margin-left: 0;
    }
    
    .ar .col-xs-offset-11 {
        margin-right: 91.66666667%;
        margin-left: 0;
    }
    .ar .col-xs-offset-10 {
        margin-right: 83.33333333%;
        margin-left: 0;
    }
    .ar .col-xs-offset-9 {
        margin-right: 75%;
        margin-left: 0;
    }
    .ar .col-xs-offset-8 {
        margin-right: 66.66666667%;
        margin-left: 0;
    }
    .ar .col-xs-offset-7 {
        margin-right: 58.33333333%;
        margin-left: 0;
    }
    .ar .col-xs-offset-6 {
        margin-right: 50%;
        margin-left: 0;
    }
    .ar .col-xs-offset-5 {
        margin-right: 41.66666667%;
        margin-left: 0;
    }
    .ar .col-xs-offset-4 {
        margin-right: 33.33333333%;
        margin-left: 0;
    }
    .ar .col-xs-offset-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .ar .col-xs-offset-2 {
        margin-right: 16.66666667%;
        margin-left: 0;
    }
    .ar .col-xs-offset-1 {
        margin-right: 8.33333333%;
        margin-left: 0;
    }
    .ar .col-xs-offset-0 {
        margin-right: 0%;
        margin-left: 0;
    }
	/****** PADDING ******/
	body .xs-nopaddingtop,
    body.ar .xs-nopaddingtop{
	  padding-top: 0 !important;
	}
	body .xs-nopaddingright,
    body.ar .xs-nopaddingright{
	  padding-right: 0 !important;
	}
	body .xs-nopaddingbottom,
    body.ar .xs-nopaddingbottom{
	  padding-bottom: 0 !important;
	}
	body .xs-nopaddingleft,
    body.ar .xs-nopaddingleft{
	  padding-left: 0 !important;
	}
	body .xs-nopaddingall,
    body.ar .xs-nopaddingall{
	  padding:0 !important;
	}
	body .xs-xspaddingall,
    body.ar .xs-xspaddingall{
	  padding:5px !important;
	}
	body .xs-smpaddingall,
    body.ar .xs-smpaddingall{
	  padding:10px !important;
	}
	body .xs-mdpaddingall,
    body.ar .xs-mdpaddingall{
	  padding:15px !important;
	}
	body .xs-lgpaddingall,
    body.ar .xs-lgpaddingall{
	  padding: 30px !important
	}
	body .xs-xlpaddingall,
    body.ar .xs-xlpaddingall{
	  padding:50px !important;
	}

	/*xs*/
	.xs-xspaddingtop,
    .ar .xs-xspaddingtop{
	  padding-top:5px !important;
	}
	.xs-xspaddingright,
    .ar .xs-xspaddingright{
	  padding-right:5px !important;
	}
	.xs-xspaddingbottom,
    .ar .xs-xspaddingbottom{
	  padding-bottom:5px !important;
	}
	.xs-xspaddingleft,
    .ar .xs-xspaddingleft{
	  padding-left:5px !important;
	}
	/*sm*/
	.xs-smpaddingtop,
    .ar .xs-smpaddingtop{
	  padding-top:10px !important;
	}
	.xs-smpaddingright,
    .ar .xs-smpaddingright{
	  padding-right:10px !important;
	}
	.xs-smpaddingbottom,
    .ar .xs-smpaddingbottom{
	  padding-bottom:10px !important;
	}
	.xs-smpaddingleft,
    .ar .xs-smpaddingleft{
	  padding-left:10px !important;
	}
	/*md*/
	.xs-mdpaddingtop,
    .ar .xs-mdpaddingtop{
	  padding-top:15px !important;
	}
	.xs-mdpaddingright,
    .ar .xs-mdpaddingright{
	  padding-right:15px !important;
	}
	.xs-mdpaddingbottom,
    .ar .xs-mdpaddingbottom{
	  padding-bottom:15px !important;
	}
	.xs-mdpaddingleft,
    .ar .xs-mdpaddingleft{
	  padding-left:15px !important;
	}
	/*lg*/
	.xs-lgpaddingtop,
    .ar .xs-lgpaddingtop{
	  padding-top:30px !important;
	}
	.xs-lgpaddingright,
    .ar .xs-lgpaddingright{
	  padding-right:30px !important;
	}
	.xs-lgpaddingbottom,
    .ar .xs-lgpaddingbottom{
	  padding-bottom:30px !important;
	}
	.xs-lgpaddingleft,
    .ar .xs-lgpaddingleft{
	  padding-left:30px !important;
	}
	/*xlg*/
	.xs-xlgpaddingtop,
    .ar .xs-xlgpaddingtop{
	  padding-top:50px !important;
	}
	.xs-xlgpaddingright,
    .ar .xs-xlgpaddingright{
	  padding-right:50px !important;
	}
	.xs-xlgpaddingbottom,
    .ar .xs-xlgpaddingbottom{
	  padding-bottom:50px !important;
	}
	.xs-xlgpaddingleft,
    .ar .xs-xlgpaddingleft{
	  padding-left:50px !important;
	}



	/****** MARGIN ******/
	.xs-nomargintop{
	  margin-top: 0 !important;
	}
	.xs-nomarginright{
	  margin-right: 0 !important;
	}
	.xs-nomarginbottom{
	  margin-bottom: 0 !important;
	}
	.xs-nomarginleft{
	  margin-left: 0 !important;
	}
	.xs-nomarginall{
	  margin:0 !important;
	}
	.xs-xsmarginall{
	  margin:5px !important;
	}
	.xs-smmarginall{
	  margin:10px !important;
	}
	.xs-mdmarginall{
	  margin:15px !important;
	}
	.xs-lgmarginall{
	  margin: 30px !important
	}
	.xs-xlmarginall{
	  margin:50px !important;
	}

	/*xs*/
	body .xs-xsmargintop{
	  margin-top:5px !important;
	}
	body .xs-xsmarginright{
	  margin-right:5px !important;
	}
	body .xs-xsmarginbottom{
	  margin-bottom:5px !important;
	}
	body .xs-xsmarginleft{
	  margin-left:5px !important;
	}
	/*sm*/
	body .xs-smmargintop{
	  margin-top:10px !important;
	}
	body .xs-smmarginright{
	  margin-right:10px !important;
	}
	body .xs-smmarginbottom{ 
	  margin-bottom:10px !important;
	}
	body .xs-smmarginleft{
	  margin-left:10px !important;
	}
	/*md*/
	body .xs-mdmargintop{
	  margin-top:15px !important;
	}
	body .xs-mdmarginright{
	  margin-right:15px !important;
	}
	body .xs-mdmarginbottom{
	  margin-bottom:15px !important;
	}
	body .xs-mdmarginleft{
	  margin-left:15px !important;
	}
	/*lg*/
	body .xs-lgmargintop{
	  margin-top:30px !important;
	}
	body .xs-lgmarginright{
	  margin-right:30px !important;
	}
	body .xs-lgmarginbottom{
	  margin-bottom:30px !important;
	}
	body .xs-lgmarginleft{
	  margin-left:30px !important;
	}
	/*xlg*/
	body .xs-xlgmargintop{
	  margin-top:50px !important;
	}
	body .xs-xlgmarginright{
	  margin-right:50px !important;
	}
	body .xs-xlgmarginbottom{
	  margin-bottom:50px !important;
	}
	body .xs-xlgmarginleft{
	  margin-left:50px !important;
	}
}

/****** xxs ******/
@media (max-width: 320px) {	
	/****** PADDING ******/
	.xxs-nopaddingtop{
	  padding-top: 0 !important;
	}
	.xxs-nopaddingright{
	  padding-right: 0 !important;
	}
	.xxs-nopaddingbottom{
	  padding-bottom: 0 !important;
	}
	.xxs-nopaddingleft{
	  padding-left: 0 !important;
	}
	.xxs-nopaddingall{
	  padding:0 !important;
	}
	.xxs-xspaddingall{
	  padding:5px !important;
	}
	.xxs-smpaddingall{
	  padding:10px !important;
	}
	.xxs-mdpaddingall{
	  padding:15px !important;
	}
	.xxs-lgpaddingall{
	  padding: 30px !important
	}
	.xxs-xlpaddingall{
	  padding:50px !important;
	}

	/*xs*/
	.xxs-xspaddingtop{
	  padding-top:5px !important;
	}
	.xxs-xspaddingright{
	  padding-right:5px !important;
	}
	.xxs-xspaddingbottom{
	  padding-bottom:5px !important;
	}
	.xxs-xspaddingleft{
	  padding-left:5px !important;
	}
	/*sm*/
	.xxs-smpaddingtop{
	  padding-top:10px !important;
	}
	.xxs-smpaddingright{
	  padding-right:10px !important;
	}
	.xxs-smpaddingbottom{
	  padding-bottom:10px !important;
	}
	.xxs-smpaddingleft{
	  padding-left:10px !important;
	}
	/*md*/
	.xxs-mdpaddingtop{
	  padding-top:15px !important;
	}
	.xxs-mdpaddingright{
	  padding-right:15px !important;
	}
	.xxs-mdpaddingbottom{
	  padding-bottom:15px !important;
	}
	.xxs-mdpaddingleft{
	  padding-left:15px !important;
	}
	/*lg*/
	.xxs-lgpaddingtop{
	  padding-top:30px !important;
	}
	.xxs-lgpaddingright{
	  padding-right:30px !important;
	}
	.xxs-lgpaddingbottom{
	  padding-bottom:30px !important;
	}
	.xxs-lgpaddingleft{
	  padding-left:30px !important;
	}
	/*xlg*/
	.xxs-xlgpaddingtop{
	  padding-top:50px !important;
	}
	.xxs-xlgpaddingright{
	  padding-right:50px !important;
	}
	.xxs-xlgpaddingbottom{
	  padding-bottom:50px !important;
	}
	.xxs-xlgpaddingleft{
	  padding-left:50px !important;
	}



	/****** MARGIN ******/
	.xxs-nomargintop{
	  margin-top: 0 !important;
	}
	.xxs-nomarginright{
	  margin-right: 0 !important;
	}
	.xxs-nomarginbottom{
	  margin-bottom: 0 !important;
	}
	.xxs-nomarginleft{
	  margin-left: 0 !important;
	}
	.xxs-nomarginall{
	  margin:0 !important;
	}
	.xxs-xsmarginall{
	  margin:5px !important;
	}
	.xxs-smmarginall{
	  margin:10px !important;
	}
	.xxs-mdmarginall{
	  margin:15px !important;
	}
	.xxs-lgmarginall{
	  margin: 30px !important
	}
	.xxs-xlmarginall{
	  margin:50px !important;
	}

	/*xs*/
	.xxs-xsmargintop{
	  margin-top:5px !important;
	}
	.xxs-xsmarginright{
	  margin-right:5px !important;
	}
	.xxs-xsmarginbottom{
	  margin-bottom:5px !important;
	}
	.xxs-xsmarginleft{
	  margin-left:5px !important;
	}
	/*sm*/
	.xxs-smmargintop{
	  margin-top:10px !important;
	}
	.xxs-smmarginright{
	  margin-right:10px !important;
	}
	.xxs-smmarginbottom{
	  margin-bottom:10px !important;
	}
	.xxs-smmarginleft{
	  margin-left:10px !important;
	}
	/*md*/
	.xxs-mdmargintop{
	  margin-top:15px !important;
	}
	.xxs-mdmarginright{
	  margin-right:15px !important;
	}
	.xxs-mdmarginbottom{
	  margin-bottom:15px !important;
	}
	.xxs-mdmarginleft{
	  margin-left:15px !important;
	}
	/*lg*/
	.xxs-lgmargintop{
	  margin-top:30px !important;
	}
	.xxs-lgmarginright{
	  margin-right:30px !important;
	}
	.xxs-lgmarginbottom{
	  margin-bottom:30px !important;
	}
	.xxs-lgmarginleft{
	  margin-left:30px !important;
	}
	/*xlg*/
	.xxs-xlgmargintop{
	  margin-top:50px !important;
	}
	.xxs-xlgmarginright{
	  margin-right:50px !important;
	}
	.xxs-xlgmarginbottom{
	  margin-bottom:50px !important;
	}
	.xxs-xlgmarginleft{
	  margin-left:50px !important;
	}	
}

/** VERTICAl SETTINGS **/
.en .vcenter,
.ar .vcenter {
    display: inline-block;
    vertical-align: middle;
    /*float: none;*/
}
body .col-centered,
body .el-centered,
body.ar .col-centered,
body.ar .el-centered{
  float: none;
  margin: 0 auto;
}
.vertical-wr{
	display:table;
	width:100%;
}
.vertical-full-wr{
	display:table;
	width:100%;
	height:100%;
}
.inline-top {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.inline-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.inline-bottom{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vertical-top{
	display: table-cell;
	vertical-align: top;
	float:none;
}
.vertical-middle{
	display: table-cell;
	vertical-align: middle;
	float:none;
}
.vertical-bottom {
	display: table-cell;
	vertical-align: bottom;
	float: none;
}

/** vertical v2 **/
.row-height,.ar .row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%
}
.col-height,.ar .col-height {
    display: table-cell;
    float: none;
    height: 100%
}
.col-top,.ar .col-top {
    vertical-align: top
}
.col-middle,.ar .col-middle {
    vertical-align: middle
}
.col-bottom,.ar .col-bottom {
    vertical-align: bottom
}
@media(min-width:480px) {
    .row-xs-height,.ar .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%
    }
    .col-xs-height,.ar .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%
    }
    .col-xs-top,.ar .col-xs-top {
        vertical-align: top
    }
    .col-xs-middle,.ar .col-xs-middle {
        vertical-align: middle
    }
    .col-xs-bottom,.ar .col-xs-bottom {
        vertical-align: bottom
    }
}
@media(min-width:768px) {
    .row-sm-height,.ar .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%
    }
    .col-sm-height,.ar .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%
    }
    .col-sm-top,.ar .col-sm-top {
        vertical-align: top
    }
    .col-sm-middle,.ar .col-sm-middle {
        vertical-align: middle
    }
    .col-sm-bottom,.ar .col-sm-bottom {
        vertical-align: bottom
    }
}
@media(min-width:992px) {
    .row-md-height,.ar .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%
    }
    .col-md-height,.ar .col-md-height {
        display: table-cell;
        float: none;
        height: 100%
    }
    .col-md-top,.ar .col-md-top {
        vertical-align: top
    }
    .col-md-middle,.ar .col-md-middle {
        vertical-align: middle
    }
    .col-md-bottom,.ar .col-md-bottom {
        vertical-align: bottom
    }
}
@media(min-width:1200px) {
    .row-lg-height,.ar .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%
    }
    .col-lg-height,.ar .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%
    }
    .col-lg-top,.ar .col-lg-top {
        vertical-align: top
    }
    .col-lg-middle,.ar .col-lg-middle {
        vertical-align: middle
    }
    .col-lg-bottom,.ar .col-lg-bottom {
        vertical-align: bottom
    }
}
/** VERTICAl SETTINGS END **/
.inside-full-height {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}