@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ql63xc');
    src:  url('../fonts/icomoon.eot?ql63xc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ql63xc') format('truetype'),
        url('../fonts/icomoon.woff?ql63xc') format('woff'),
        url('../fonts/icomoon.svg?ql63xc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.logo-wr {
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
}
.icon-logo .path1:before {
    content: "\e900";
    color: rgb(255, 255, 255);
}
.icon-logo .path2:before {
    content: "\e901";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path3:before {
    content: "\e902";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path4:before {
    content: "\e903";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path5:before {
    content: "\e904";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path6:before {
    content: "\e905";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path7:before {
    content: "\e906";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path8:before {
    content: "\e907";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path9:before {
    content: "\e908";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path10:before {
    content: "\e909";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path11:before {
    content: "\e90a";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path12:before {
    content: "\e90b";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path13:before {
    content: "\e90c";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path14:before {
    content: "\e90d";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path15:before {
    content: "\e90e";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path16:before {
    content: "\e90f";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path17:before {
    content: "\e910";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path18:before {
    content: "\e911";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path19:before {
    content: "\e912";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path20:before {
    content: "\e913";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path21:before {
    content: "\e914";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path22:before {
    content: "\e915";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path23:before {
    content: "\e916";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path24:before {
    content: "\e917";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path25:before {
    content: "\e918";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path26:before {
    content: "\e919";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path27:before {
    content: "\e91a";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path28:before {
    content: "\e91b";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path29:before {
    content: "\e91c";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path30:before {
    content: "\e91d";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path31:before {
    content: "\e91e";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path32:before {
    content: "\e91f";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path33:before {
    content: "\e920";
    margin-left: -3.8173828125em;
    color: rgb(255, 255, 255);
}
.icon-logo .path34:before {
    content: "\e921";
    margin-left: -3.8173828125em;
    color: rgb(243, 116, 33);
}
.icon-logo .path35:before {
    content: "\e922";
    margin-left: -3.8173828125em;
    color: rgb(243, 116, 33);
}
.icon-carets:before {
    content: "\e923";
    /*color: #f37421;*/
}
.icon-caret:before {
    content: "\e924";
    color: #f37421;
}

@-webkit-keyframes chevron-pulse {
    0% {
        opacity: 0; }
    40% {
        opacity: 1; }
    80% {
        opacity: 0; }
    100% {
        opacity: 0; } }

@keyframes chevron-pulse {
    0% {
        opacity: 0; }
    40% {
        opacity: 1; }
    80% {
        opacity: 0; }
    100% {
        opacity: 0; } }

.tcon-svgchevron {
    height: 40px;
    width: 40px; }

.tcon-svgchevron path {
    -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    stroke: black;
    stroke-width: 1px; }

.tcon-svgchevron path.a1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }

.tcon-svgchevron path.a2 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }


.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.tcon > * {
    display: block;
}
.tcon:hover, .tcon:focus {
    outline: none;
}
.tcon::-moz-focus-inner {
    border: 0;
}

.tcon-menu__lines {
    display: inline-block;
    height: 3px;
    width: 40px;
    border-radius: 2.85714px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #f37421;
    position: relative;
    top:-3px;
}
.tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 3px;
    width: 40px;
    border-radius: 2.85714px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #f37421;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%;
}
.tcon-menu__lines::before {
    top: 10px;
}
.tcon-menu__lines::after {
    top: -10px;
}
.tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xcross {
    width: auto;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 40px;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.tcon-plus {
    height: 40px;
    position: relative;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    width: 40px; }
.tcon-plus::before, .tcon-plus::after {
    content: "";
    border-radius: 2px;
    display: block;
    width: 85%;
    height: 25%;
    position: absolute;
    top: 37%;
    left: 8%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: black; }
.tcon-plus:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.tcon-plus--minus.tcon-transform::before {
    -webkit-transform: rotate(180deg) translate(0, 0);
    transform: rotate(180deg) translate(0, 0);
    width: 62%; }

.tcon-plus--minus.tcon-transform::after {
    -webkit-transform: rotate(-180deg) translate(-37.5%, 0);
    transform: rotate(-180deg) translate(-37.5%, 0);
    width: 62%; }

@-webkit-keyframes chevron-pulse {
    0% {
        opacity: 0; }
    40% {
        opacity: 1; }
    80% {
        opacity: 0; }
    100% {
        opacity: 0; } }

@keyframes chevron-pulse {
    0% {
        opacity: 0; }
    40% {
        opacity: 1; }
    80% {
        opacity: 0; }
    100% {
        opacity: 0; } }

.tcon-svgchevron {
    height: 40px;
    width: 40px; }

.tcon-svgchevron path {
    -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    stroke: #f27422;
    stroke-width: 2px; }

.tcon-svgchevron path.a1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }

.tcon-svgchevron path.a2 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }

.tcon-search__item {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
    position: relative;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.tcon-search__item::before, .tcon-search__item::after {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto; }
.tcon-search__item::before {
    height: 4px;
    left: 0;
    background: black;
    border-radius: 2.85714px; }
.tcon-search__item::after {
    right: 0;
    background: white;
    border-radius: 50%;
    width: 12.00012px;
    height: 12.00012px;
    border: 2px solid black;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }

.tcon-search--xcross.tcon-transform {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
.tcon-search--xcross.tcon-transform .tcon-search__item::before, .tcon-search--xcross.tcon-transform .tcon-search__item::after {
    border-radius: 2.85714px;
    background: black; }
.tcon-search--xcross.tcon-transform .tcon-search__item::after {
    height: 4px;
    width: 100%;
    top: 0;
    right: 0;
    border: 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg); }




@font-face {
    font-family: 'Helveticaneue';
    src: url('../fonts/helveticaneue_light.ttf');
    src: url('../fonts/helveticaneue_light.eot') format('embedded-opentype'),
        url('../fonts/helveticaneue_light.woff2') format('woff2'),
        url('../fonts/helveticaneue_light.woff') format('woff'),
        url('../fonts/helveticaneue_light.ttf') format('truetype'),
        url('../fonts/helveticaneue_light.svg#helveticaneue_light') format('svg');
    font-weight: 300;/*Light*/
    font-style: normal;
}
@font-face {
    font-family: 'Helveticaneue';
    src: url('../fonts/helveticaneue_medium.eot');
    src: url('../fonts/helveticaneue_medium.eot') format('embedded-opentype'),
        url('../fonts/helveticaneue_medium.woff2') format('woff2'),
        url('../fonts/helveticaneue_medium.woff') format('woff'),
        url('../fonts/helveticaneue_medium.ttf') format('truetype'),
        url('../fonts/helveticaneue_medium.svg#helveticaneue_medium') format('svg');
    font-weight: 400;/*normal*/
    font-style: normal;
}
@font-face {
    font-family: 'Helveticaneue';
    src: url('../fonts/HelveticaNeue_bold.eot');
    src: url('../fonts/HelveticaNeue_bold.eot') format('embedded-opentype'),
        url('../fonts/HelveticaNeue_bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeue_bold.woff') format('woff'),
        url('../fonts/HelveticaNeue_bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeue_bold.svg#HelveticaNeue_bold') format('svg');
    font-weight: 600;/*Medium*/
    font-style: normal;
}
.fx {
    opacity: 0;
}
.fx2 {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 5s;
}
.animated {
    opacity: 1;
}
html,body {
    -webkit-backface-visibility: hidden;
}
.font-light,
body .post-type-data h2.font-light,
body .post-type-data h2.font-light:last-child{
    font-weight:300;
}
.font-regular,
body .font-regular,
body .post-type-data h4.font-regular,
body .post-type-data h4.font-regular:last-child{
    font-weight:400;
}
.font-medium,
body .font-medium,
body .post-type-data h4.font-medium,
body .post-type-data h4.font-medium:last-child{
    font-weight:500;
}
.font-bold,
body .font-bold,
body .post-type-data h4.font-bold,
body .post-type-data h4.font-bold:last-child{
    font-weight:700;
}
body h1,body h2,body h3,body h4,body h5,body h6{
    line-height:1.2;
    font-family: 'Helveticaneue' !important;
}
body{
    font-family: 'Helveticaneue';
}
body h1{
    font-size:60px;
}
body h2{
    font-size:28px;
    margin-bottom:20px;
}
body h3{
    font-size:25px;
}
body h4,
body .entry-content h4:first-child,
body .entry-content h4:last-child{
    font-size:19px;
    margin-bottom:20px;
}
body .post-type-data h2,
body .post-type-data h2:last-child,
body .post-type-data .row .data-bottom-row div h2{
    font-size:22px;
    font-weight:500;
    color:#00a651;
}

body .post-type-data h2.font-light,
body .post-type-data h2.font-light:last-child,
body .post-type-data .row .data-bottom-row div h2.font-light{
    font-weight:300;
}
body h5{
    font-size:18px;
}
body h6{
    font-size:16px;
}
body a,
body a:hover{
    color: #0d3fe7;
}
body p {
    line-height: 1.25;
    margin-bottom:15px;
}
body p:last-child:not(:first){
    margin:0;
}
body .main-content-row p{
    margin-bottom:20px;
}
body .btn{
    border-radius:2px;
    transition:all .3s;
}
.btn .icon-carets {
    vertical-align: middle;
    display: inline-block;
    top: -2px;
    position: relative;
}

.border-primary{
    border: 1px solid #f37421;
}
input.btn-primary::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input.btn-primary::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
input.btn-primary:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
input.btn-primary:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
input.btn-primary:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f37421;
}
input.btn-primary:hover::-moz-placeholder { /* Firefox 19+ */
    color: #f37421;
}
input.btn-primary:hover:-ms-input-placeholder { /* IE 10+ */
    color: #f37421;
}
input.btn-primary:hover:-moz-placeholder { /* Firefox 18- */
    color: #f37421;
}

body .text-primary{
    color:#f37421 !important;
}
.primary-wr{
    background:#f37421;
    color:#fff;
}
.primary-outline-wr{
    background:#fff;
    color:#0623BF;
    border:1px solid #f37421;
    border-radius:2px;
}
body :focus{
    outline:none !important;
}
body .btn-primary,
.bootstrap-select .btn-primary:focus,
.btn-primary.active, .btn-primary:active,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus{
    background:#f37421;
    color:#fff;
    border-color:#f37421;
    outline:none !important;
    border-radius:2px;
}
body .btn-secondary, .bootstrap-select .btn-secondary:focus, .btn-secondary.active, .btn-secondary:active, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active.focus, .btn-secondary:active:focus, .btn-secondary:active:hover, .open>.dropdown-toggle.btn-secondary.focus, .open>.dropdown-toggle.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:hover, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active.focus, .btn-secondary:active:focus, .btn-secondary:active:hover, .open>.dropdown-toggle.btn-secondary.focus, .open>.dropdown-toggle.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:hover, .btn-secondary.focus, .btn-secondary:focus{
    background: #0C3EE7;
    color: #fff;
    border-color: #0C3EE7;
    outline: none !important;
    border-radius: 2px;
}
body .btn-secondary:hover{
    background: #fff;
    color: #0C3EE7;
    border-color: #0C3EE7;
}

body > header {

    position: absolute;
    z-index: 99999;
    left: 0;
    right: 0;

}
a.text-link {
    color: #f37421;
}
a.text-link-light {
    color: #fff;
}
a.text-link-light i{
    color: #f37421;
}
body a:focus{
    outline:none;
}
.btn-primary:hover {
    color: #f37421;
    background-color: #fff;
    border-color: #fff;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary{
    color:#fff;
    margin:0;
    border-radius:2px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary.active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary{
    color: #f37421;
    background-color: #fff;
    border-color: #fff;
    outline:none !important;
    border-radius:2px;
    margin:0;
}
.startup-options .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group,
.bootstrap-select .dropdown-toggle.btn-primary{
    border-radius:2px;
    margin:0;
}
body .btn-primary-full {
    color:#f37421;
    color: #fff;
    background: #f37421;
    border-color: #f37421;
}
body .btn-primary-full.focus,
body .btn-primary-full:focus,
body .btn-primary-full:hover{
    border: 1px solid #f37421;
    background: none;
    color: #f37421;
}
body .btn-outline-primary-full {
    border: 1px solid #f37421;
    background: none;
    color: #f37421;
}
body .btn-outline-primary-full.focus,
body .btn-outline-primary-full:focus,
body .btn-outline-primary-full:hover{
    color:#f37421;
    color: #fff;
    background: #f37421;
    border-color: #f37421;
}
body .btn-outline-primary {
    border: 1px solid #f37421;
    background: none;
    color: #fff;
}
body .btn-outline-primary.focus,
body .btn-outline-primary:focus,
body .btn-outline-primary:hover{
    color:#f37421;
    color: #fff;
    background: #f37421;
    border-color: #f37421;
}
body .btn-outline-light {
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
body .btn-outline-light.focus,
body .btn-outline-light:focus,
body .btn-outline-light:hover{
    color:#f37421;
    color: #fff;
    background: #0C3EE7;
    border-color: #0C3EE7;
}
body .btn-outline-light-primary {
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
body .btn-outline-light-primary.focus,
body .btn-outline-light-primary:focus,
body .btn-outline-light-primary:hover{
    color:#f37421;
    color: #fff;
    background: #f37421;
    border-color: #f37421;
}
body .btn-outline-secondary {
    border: 1px solid #0C3EE7;
    background: none;
    color: #0C3EE7;
}
body .btn-outline-secondary.focus,
body .btn-outline-secondary:focus,
body .btn-outline-secondary:hover{
    color:#f37421;
    color: #fff;
    background: #0C3EE7;
    border-color: #0C3EE7;
}
.startup-options label.error {
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;
    font-size: 14px;
    color: #f00;
}
.startup-options .dropdown-menu {
    border-radius: 0;
    margin: 0;
    left: -1px;
    right: -1px;
}
body .btn.active.focus,
body .btn.active:focus,
body .btn.focus,
body .btn:active.focus,
body .btn:active:focus,
body .btn:focus,
.form-control:focus{
    outline: none;
    box-shadow:none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f37421;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #f37421;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #f37421;
}
:-moz-placeholder { /* Firefox 18- */
    color: #f37421;
}
.text-indent {
    text-indent: -9999999px;
    display: block;
    height: 0;
    margin: 0;
}
/*custom starts here*/

body {
    /*min-height: 2000px;
    padding-top: 70px;*/
}
main.wrapper {
    /* margin-top: -74px;*/
}

span.svg-wr {
    display: block;
}
.navbar>.container a.navbar-brand.logo-link {
    display: block;
    height: auto;
    padding: 15px;
    -webkit-backface-visibility: hidden;
    margin:0;
}
.logo-svg{
    display:block;
}
.navbar-default {
    background: rgba(6, 35, 191, 0.7);
    background: none;
    border: none;
    margin: 0;
    border-radius: 0;
    z-index: 999;
}
.navbar-default > .container{
    background:none;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

.nav-main,.nav-login{
    float:right;
}
.megamenu .nav-main {
    padding: 0 7.5px;
}
.nav-login {
    padding: 0 7.5px 0 20px;
}
.container>nav.nav-main {
    padding: 0;
    margin-right: -10px;
}
.menu-search-wr{
    padding:0;
}
.menu-search-wr .input-group{
    width:100%;
}
.megamenu .contain-menu-right .dropdown-menu {
    left: auto;
    right: 0;
}
.menu-search-wr .input-group input{
    background:transparent;
    color:#fff;
    border-color: #f37421;
    border-right:0;
}
.menu-search-wr .input-group .btn{
    background:transparent;
    color:#fff;
    border-color: #f37421;
    border-left:0;
}

.navbar-btn,.navbar-toggle,.navbar-form{
    margin-top: 20px;
    margin-bottom: 19px;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
    border: none;
    padding: 4px 10px;
    padding: 4px 7.5px;
    background:none;
    margin: 20px -10px 20px 0;
    margin: 20px 0;
}

.navbar-default .btn-outline-primary.navbar-toggle,
.navbar-default .btn-outline-primary.navbar-toggle:focus,
.navbar-default .btn-outline-primary.navbar-toggle:hover{
    border: 1px solid #f37421;
    background: none;
    color: #fff;
    padding: 6px 12px;
}
.navbar-default .megamenu-fw .navbar-toggle:hover {
    background: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f37421;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 8px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    border-radius: 1px;
}

.menu-search-wr .input-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.menu-search-wr .input-group input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.menu-search-wr .input-group input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.menu-search-wr .input-group input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
    background: #0623bf;
    color: #fff;
    padding: 50px;
    border-color: #0623bf;
    background: #0019a2;
    border-color:#0019a2;
}
.megamenu-fw .dropdown-menu nav ul {
    list-style: none;
    padding: 0;
}
.megamenu-fw .dropdown-menu nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height:2;
}
.megamenu-fw .dropdown-menu nav.secondary-menu ul li a {
    font-size: 18px;
    position: relative;
    transition: all .35s;
}
.megamenu-fw .dropdown-menu nav.secondary-menu > ul li a:hover {
    text-decoration: none;
    color: #0035e6;
}
.megamenu-fw .dropdown-menu nav.secondary-menu > ul li a:before {
    content: "\e924";
    color: #0623bf;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    font-size: 14px;
    position: absolute;
    left: -10px;
    top: 5px;
    transition: opacity ease-in-out .3s;
}
.megamenu-fw .dropdown-menu nav.secondary-menu > ul li a:hover:before {
    opacity:0;
}

.megamenu-fw .dropdown-menu nav.main-menu ul li a {
    font-size:40px;
    font-weight:400;
    line-height:1.5;
    position:relative;
    transition:all .4s;
}
.megamenu-fw .dropdown-menu nav.main-menu ul li a:hover {
    text-decoration: none;
    color: #f37421;
}
.megamenu-fw .dropdown-menu nav.main-menu > ul li a:before {
    content: "\e924";
    color: #f37421;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    font-size: 20px;
    position: absolute;
    left: -18px;
    top: 14px;
    transition: opacity ease-in-out .3s;
}
.megamenu-fw .dropdown-menu nav.main-menu > ul li a:hover:before {
    opacity:0;
}

.social-article-share-wr ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-links-wr,
.social-article-share-wr {
    margin: 20px 0 0;
}
.megamenu-fw .dropdown-menu nav.main-menu .social-links-wr ul li,
.social-links-wr ul li{
    margin: 0 5px;
    float: left;
}
.social-article-share-wr ul li {
    margin: 0 5px;
    float: none;
    display:inline-block;
}
.social-article-share-wr ul li:first-child{
    margin-left:0;
}
.megamenu-fw .dropdown-menu nav.main-menu .social-links-wr ul li:first-child,
.social-links-wr ul li:first-child,
.social-article-share-wr ul li:first-child{
    margin: 0 5px 0 0;
}
.megamenu-fw .dropdown-menu nav.main-menu .social-links-wr ul li a ,
.social-links-wr ul li a,
.social-article-share-wr ul li a {
    font-size: 20px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #f37421;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    transition: all .35s;
}
.megamenu-fw .dropdown-menu nav.main-menu .social-links-wr ul li a:hover,
.social-links-wr ul li a:hover,
.social-article-share-wr ul li a:hover {
    background: #fff;
    color: #f37421;
}
.secondary-menu-wr .title {
    margin: 0 0 10px;
}
.secondary-menu-wr p{
    /*color:#0035e6;*/
    font-size:14px;
    margin:0;
}
.navbar-nav>li> ul.dropdown-menu.login-register-wr {
    background: #0623bf;
    color: #fff;
    padding: 15px;
    border-color: #0623bf;
    background: #0019a2;
    border-color:#0019a2;
}
.login-register-wr h3{
    margin:0 0 10px;
}
.login-register-wr > li {
    margin: 0;
}
.social-separator-wr {
    margin: 15px 0 0px;
}
.login-tools-wr{
    font-size:13px;
}
span.or-text {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 40px;
    width: 150px;
    text-align: center;
    background: #0623bf;
    font-size: 18px;
    background: #0019a2;
}
ul.social-sign-in-links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 15px 0 0;
}
ul.social-sign-in-links li {
    display: inline-block;
    margin: 0 5px;
}
a.btn.btn-block-.btn-social {
    border-radius: 50%;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-color: #0623bf;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
a.btn.btn-block-.btn-social i {
    line-height: 31px;
}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}



.outline-primary-box {
    border: 1px solid #f37421;
    border-radius: 2px;
}
.outline-secondary-box {
    border: 1px solid #f37421;
    border-radius: 2px;
    background: #0035E6;
}
.outline-box{
    padding:15px;
}
.outline-box .title{
    margin-top:0;
    line-height:1;
}
.tool-boxes-wr section:first-child {
    margin-bottom: 18px;
    margin-bottom: 10px;
}

section,article{
    position: relative;
}
.group-nav-wr{
    padding:20px 15px;
    height:100%;
}
.secondary-menu header,
.secondary-menu .title-wr {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.bg-wr-white{
    /*color: #0C3EE7;*/
}
.bg-wr-white section-title,
.bg-wr-white h3,
.bg-wr-white p{
    color: #0C3EE7;
    color: #3a3a3a;
}
.bg-wr-white .update-info-wr >*{
    color: #f37421;
    color: #3a3a3a;
}

/*banner*/
.section-hero {
    height: 600px;
    color:#fff;
}

.bg-wr {
    height: 100%;
    background-size: cover;
    position: relative;
}
.bg-overlay-secondary {
    background-color: rgba(14, 36, 152,0.9 );
    top:0;
    height: 100%;
    width: 100%;
    opacity: 0.85;
    position: absolute;
}
.bg-overlay-secondary-light {
    background-color:   #f2f3f9;
    top:0;
    height: 100%;
    width: 100%;
    opacity: 0.85;
    position: absolute;
}
.no-bg-img .bg-overlay-secondary{
    background-color: #0e2498;
}
.bg-overlay-primary-light {
    background-color: rgba(243, 116, 33, 0.10);
    background: rgba(0, 25, 162, 0.050980392156862744);
    top:0;
    height: 100%;
    width: 100%;
    /*opacity: 0.85;*/
    position: absolute;
}
.bg-wr-primary-light{
    /*background-color: rgba(243, 116, 33, 0.10);*/
}
.section-hero .title {
    color: #fff;
    font-size: 40px;
    margin:0 0 10px;
}
.section-hero .sub-title {
    color: #f37421;
    font-size: 40px;
    font-weight:100;
    margin:0;
}
.section-page-hero .title {
    color: #fff;
    font-size: 36px;
    margin: 0 0 10px;
}
.section-page-hero .sub-title {
    font-size: 30px;
}
body .section-hero p {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
body .section-page-hero-forum {
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body .section-page-hero-forum {
        display: block;
    }
}
body .section-page-hero .bg-wr {
    flex: 1;
    background-attachment: fixed;
    background-position: center center;
}
body .section-page-hero-content{
    display: block;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body .section-page-hero-forum .bg-wr .vertical-full-wr>.vertical-middle {
    padding-top: 110px;
}
.page-hero-nav{
    margin:20px 0 0;
}
body .section-page-hero .tool-title{
    margin:0 0 10px;
    line-height:1;
    font-size: 22px;
}
body .section-page-hero .outline-box p{
    font-weight:100;
}

/*slider*/
body .banner-slider{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body .banner-slider .slick-track{
    /* width:100vw !important; */
}
body .banner-slider .slick-dots{
    width: 1170px;
    margin: auto;
    text-align: left;
    left: 0;
    right: 0;
    bottom:50px;
}
body .banner-slider .slick-dots li,
body .banner-slider .slick-dots li button{
    width:10px;
}
body .banner-slider .slick-dots li button::before {
    font-size: 12px;
    color:#fff;
    opacity: 1;
}
body .banner-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color:#ED6B06;
}
body .banner-slider .slick-dots li.slick-active:first-child:last-child{
    display: none;
}
body .banner-slider .section-page-hero-content{
    /* width:100vw !important; */
    height: 600px;
    position: relative;
    background-size: cover;
}
.banner-slider .slick-arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 69px;
    width: 69px;
    margin: auto;
    z-index: 999;
    display: flex !important;
    justify-content: center;
}
.banner-slider .slick-arrow.slick-prev-arrow {
    left:0;
}
.banner-slider .slick-arrow.slick-next-arrow {
    right:0;
}
/*
.section-aboutus .section-feeds-cols > div {
  margin-bottom: 25px;
}
.events-articles-wr img {
  width: 100%;
}*/




.startup-options label {
    font-size: 18px;
    margin: 0 0 15px;
}
.startup-options {
    margin: 50px 0 0 0;
}
.startup-options label span.icon-caret {
    font-size:14px;
    line-height: 17px;
    vertical-align: middle;
}
.startup-options.form-inline .input-group.selectpicker-wr{
    width:80%;
}
.startup-options .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    font-size:20px;
}
.startup-options span.icon-carets {
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
}
.btn-primary .icon-carets:before {
    color: #fff;
    transition:all .3s;
}
.btn-primary:hover .icon-carets:before {
    color: #f37421;
}
body .btn-outline-primary .icon-carets:before {
    color: #fff;
}
.startup-options .btn-outline-primary,
.startup-options .btn-wr .btn-primary {
    padding: 9.5px 15px;
    transition:all .3s;
}
.startup-options .btn-outline-primary:hover {
    color: #FFF !important;
    border-color: #fff;
    color: #FFF !important;
    border-color: #f37421;
    background: #f37421;
}
.startup-options .btn-outline-primary span:before{
    transition:all .3s;
}
.startup-options .btn-outline-primary:hover span:before{
    color:#fff;
}
.startup-options .btn-wr .btn-primary:hover span:before{
    color:#f37421;
}


.icon-caret-down{
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display:inline-block;
    font-size:20px;
}
.icon-carets-left{
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.banner-scroll-to-wr {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
}
.banner-scroll-to-inner-wr{
    display:inline-block;
    pointer-events: all;
}
a.scroll-to {
    display: inline-block;
    padding: 0 15px;
}

.section-feeds .bg-wr{
    padding: 40px 0;
}
footer .bg-wr{
    padding: 50px 0;
}
.section-partners .bg-wr{
    padding: 50px 0 70px;
}
.section-feeds .section-title,
section .section-title,
aside .section-title{
    margin: 0 0 40px;
    text-transform: capitalize;
    color: #0623BF;
    color: #3a3a3a;
    font-weight: 600;
}
.section-feeds article h3 {
    line-height: 1;
    margin: 18px 0 10px;
}
.ellipsis{
    height:51px;
    overflow: hidden !important;
}
.ellipsis.is-truncated p:first-child{
    margin-bottom: 0;
}
.ellipsis:not(.is-truncated) p:first-child{
    margin-bottom: 10px;
}
.events-articles-wr article {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 53, 230, 0.33);
}
.single-event .events-articles-wr article{
    border-bottom:0;
    margin:0;
    padding:0;
}
.article-action-wr {
    background-color: #0035e6;
    background-color: #0019a2;
}
.single-event figure img.img-responsive {
    width: 100%;
}
.single-event .article-action-wr .action-label{
    font-size:16px;
    margin:0;
}
.article-action-btn-wr {
    padding: 30px 20px;
    padding:  20px;
}
.section-events aside.social-article-share-wr {
    padding: 0;
    margin: 15px 0;
}
.article-main-action-wr {
    margin: 30px 0;
    margin: 20px 0;
}
.article-main-action-wr a {
    font-size: 18px;
    font-weight: 100;
    margin: 0 0 10px;
    display: inline-block;
}
.article-main-action-wr .col-sm-12:last-child a {
    margin: 0;
}
.dummy-label {
    line-height: 1;
    margin: 15px 0 30px;
    font-size: 25px;
    color: #0C3EE7;
    color: #3a3a3a;
}
.single-event-content-wr p{
    color:#0C3EE7;
    color: #3a3a3a;
}
.article-content-wr{
    overflow-y:auto;
}
.tags-wr ul li {
    display: inline-block;
}
article footer.tags-wr ul li a {
    padding: 5px 5px;
    font-size: 12px;
}
article footer ul li a {
    color: #f37522;
    text-transform: capitalize;
    padding: 5px 10px;
}
article footer ul li a:hover{
    color: #f37522;
    text-decoration:underline;
}
article.single-event footer {
    border-top: 1px solid rgba(0, 53, 230, 0.33);
    padding: 10px 0 0;
    margin: 30px 0 0;
}


aside.signup-toolbox {
    width: 100%;
    padding: 30px 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 4;
    background-color: rgba(0,0,0,.8);
    border: 0;
    color:#999;
}
aside.signup-toolbox h3 {
    color: #fff;
    margin: 0;
    font-size: 20px;
}
.signup-toolbox a{
    color:#fff;
}
.close-sign-up{
    position: absolute;
    right: 0;
    top: -20px;
}
.signup-toolbox-content-rw{
    display: flex;
    justify-content: center;
    align-items: center;
}




.signup-toolbox .container{
    position: relative;
}
footer ul.article-tags{
    display:inline-block;
}
footer ul.article-tags li {
    display: inline-block;
}
.single-event .main-article-wr aside {
    padding: 20px 20px;
    margin: 30px 0;
}
.single-event .main-article-wr aside.primary-wr h3.aside-title {
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.single-event .events-articles-wr article {
    border-bottom: 0;
    margin: 20px 0 25px;
    padding: 0px 0 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.single-event .events-articles-wr article:last-child {
    border-bottom: 0px;
    margin-bottom: 0;
    padding-bottom: 15px;
}
.main-article-wr aside .event-info-wr >* {
    display: inline-block;
    margin: 0;
    color: #ffeee3;
    font-weight: 100;
}
.section-feeds.single-event aside article h3 {
    font-size: 20px;
    margin: 0 0 15px;
}
.article-tags-wr .tags-label {
    display: inline-block;
    font-weight: 600;
    margin: 0 0 0 5px;
}




.jquery-modal .modal.modal-error {
    max-width: 460px;
    padding: 15px;
    padding:0;
}
.jquery-modal .modal.modal-error .alert{
    margin:0;
    text-align:center;
}
.jquery-modal .modal.modal-error .alert p:first-child:not(:last-child){
    margin:0 0 15px;
}
.jquery-modal .modal {
    width: 98%;
    max-width: 100%;
    padding: 0;
    border-radius: 5px;
    overflow:visible;
}
.modal a.close-modal {
    z-index: 999999;
    background: #f37421;
    text-indent: 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 17px;
    font-weight: 100;
    border-radius: 50%;
    opacity:0.8;
    transition:all .4s;
}
.modal a.close-modal:hover{
    opacity:1;
}
.close-text{

}
.modal .section-feeds .bg-wr {
    padding: 30px 0;
}
.jquery-modal .container {
    width: 96%;
}


.event-info-wr >* {
    display: inline-block;
    margin: 0;
    color: #f37421;
    font-weight: 100;
}
.event-info-wr > time {
    font-weight: 400;
}
.section-events header, .section-events article p {
    color: #0C3EE7;
    color: #3a3a3a;
}
.section-events article p {
    font-weight:100;
}
.section-events article p:last-child{
    margin-bottom:0;
}

.section-events aside {
    height: 100%;
    padding: 30px 20px;
}
.section-feeds aside article {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
.section-events aside .title {
    margin: 0 0 15px;
    text-transform: capitalize;
}
.section-feeds aside article h3 {
    font-size: 16px;
    margin: 0 0 10px;
}
.section-events aside header, .section-events aside article p {
    color: #fff;
}
aside .meet-info-wr >* {
    display: inline-block;
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 11px;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
    color: #fff;
    background-color: #f17421;
    border-color: #f27421;
}
.section-feeds-cols-3 article {
    margin-bottom:30px;
}
.section-feeds-cols article {
    border: 1px solid #f37421;
}
.section-feeds .bg-wr-secondary {
    color: #fff;
}
.section-feeds .bg-wr-secondary .section-title {
    color: #fff;
}
.section-feeds .bg-wr-secondary article h3 {
    color: #f37421;
    margin: 5px 0 15px;
}
.update-info-wr >* {
    display: inline-block;
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size:13px;
}
.update-info-wr > time {
    font-weight: 400;
}
.updates-info-wr {
    padding: 10px 15px;
}

.section-feeds .primary-outline-wr {
    padding: 15px;
}
.section-socialmedia .title{
    margin:10px 0 20px;
}
.section-socialmedia .title a {
    color:#0623BF;
    text-decoration: none;
}
.same-col-social section:first-child{
    margin-bottom:30px;
}
.social-feed-twitter-wr {
    overflow-y: scroll;
    max-height: 605px !important;
}

.section-testimonials .bg-wr{
    position:relative;
    padding:70px 0;
    color:#0623BF;
}
.section-testimonials cite{
    display:block;
    color:#f37421;
}
.section-testimonials blockquote{
    border:0;
    margin:0;
    padding:0;
}
.section-testimonials blockquote h3 {
    margin: 0 0 20px;
}
.section-testimonials blockquote p {
    font-weight: 100;
}
.section-testimonials blockquote footer {
    border-top: 1px solid rgba(0, 53, 230, 0.33);
    margin: 20px 0 0;
    padding: 15px 0 0;
}
.section-testimonials blockquote .small:before,
.section-testimonials blockquote footer:before,
.section-testimonials blockquote small:before{
    display:none;
}
.testimonials-info-wr > * {
    display: inline-block;
    margin: 0;
    color: #0623BF;
    font-weight: 100;
    font-size: 13px;
}

.slider-nav-wr {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 33%;
    padding: 0 15px;
    height: 17px;
}
.slider-nav-wr .slick-dots li button{
    width: 15px;
    height: 15px;
}
.slider-nav-wr .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    transition: all .5s;
}
.slider-nav-wr .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #f37421;
    background: #f37421;
}
.slider-nav-wr .slick-custom-arrow {
    bordeR: 0;
    background: none;
}
.slider-nav-wr .slick-dots {
    position: relative;
    display: inline-block !important;
    width: auto;
    bottom: 9px;
    margin: 0 20px;
}

aside .slick-slider.slider-testimonials {
    margin: 0;
}

.section-partners .slick-slide img {
    max-height: 100px;
    margin: auto;
}

body .blocker {
    /*background-color: #0623bf;*/
    z-index: 99999;
}
.modal-spinner {
    background-color: #111;
    height: 44px;
}

.bg-wr-secondary-full {
    background: #0623bf;
    color: #fff;
}
.footer-logo {
    margin: 0 0 15px;
}
footer h4{
    margin-top:0;
}
footer ul {
    list-style: none;
    padding: 0;
    margin:0;
}
footer ul li a,
footer nav ul li a,
footer .quick-links ul li a{
    color:#fff;
    transition:all .4s;
}

footer ul li a:hover,
footer nav ul li a:hover,
footer .quick-links ul li a:hover,
footer ul li a:focus,
footer nav ul li a:focus,
footer .quick-links ul li a:focus {
    color: #f37522;
    text-decoration: none;
}

/*************** SIMPLE INNER SCROLLBAR ***************/
.scroll-element.scroll-x {
    display: none !important;
}
/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 8px 0 0 !important;
    padding: 0 20px 0 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    transition:all .5s;
}

.scrollbar-inner > .scroll-element:hover .scroll-element_track,
.scrollbar-inner > .scroll-element:hover .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.scrollbar-inner > .scroll-element:hover .scroll-bar {
    background-color: #0035E6;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e7eeff; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #488EFF; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #0035E6; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #0035E6; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }



table.user-list {
    display: block;
}
.user-list img {
    border-radius: 50%;
}
.user-list tr {
    display: block;
    overflow: auto;
    clear: left;
    margin-bottom: 10px;
}
.user-list tr:last-child {
    margin-bottom: 0;
}
.user-list td {
    display: block;
    width: 170px;
}
.user-list td:first-child {
    float: left;
    width: auto;
}
.user-list td:nth-child(2) {
    margin-left: 60px;
    padding: 5px 0 0;
    font-size: 12px;
}
.user-list td:nth-child(3) {
    margin-left: 60px;
    padding: 0px 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 12px;
    color: #F37421;
}


.forum-list {
    margin-bottom: 30px;
}
.forum-list .panel-group {
    margin: 0 0 15px;
}
.forum-list .panel-group .panel {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-top: 0;
}
.forum-list .panel-group .panel .panel-heading {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 7px 10px 10px;
}
.forum-list .panel-title a {
    display: block;
    position: relative;
    font-weight: 600;
    text-decoration: none;
    font-size: 19px;
}
.forum-list .panel-title a small{
    font-weight: 400;
}
.forum-list .panel-group .panel .list-group-item:first-child{
    border-top: 0;
}
.forum-list .panel-group .panel ul.list-group {
    border-top: 0;
}
.forum-list .panel-group .panel .list-group-item{
    background: transparent;
    padding: 10px;
    border-color:rgba(255, 255, 255, 0.5);
    border-bottom: 0;
}
.forum-list .panel-group .panel .list-group-item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.forum-list .panel-group .panel .list-group-item .post-list-title a {
    color: rgb(255, 255, 255);
    display: table;
    width: 100%;
}
.forum-list .panel-group .panel .list-group-item .post-list-title a small{
    color: rgb(255, 255, 255);
}
.forum-list .panel-title a span.icon-caret {
    display: inline-block;
    float: none;
    position: absolute;
    top: 5px;
    bottom: 0;
    right: 8px;
}
.forum-list .panel-title a.collapsed span.icon-caret-down {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
}
.forum-list .panel-title a span.icon-caret-down {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-1)";
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right:-2px;
    transition: all .3s;
}

.forum-list .desc {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.post-list-title {
    margin: 0;
    font-size: 16px;
}
.post-list-title a {
    color: rgb(0, 0, 0);
}
.post-info {
    line-height: 12px;
    font-size: 12px;
    text-align: center;
}
.post-info small {
    font-size: 12px;
    font-weight: 300;
}

.forum-list li.list-group-item .post-list-title [class^="col-"]:first-child{
    padding-right: 0;
}


.forum-post > .media {
    background: #0019a20d;
    padding: 0;
}
.media-main {
    padding: 15px 0;
    margin: auto;
}
.media-inner-wr {
    display: inline-block;
    text-align: center;
}

.forum-post .media-object {
    /*border-radius: 50%;*/
    width: 60px;
}
.forum-post .media-inner-wr .media-object {
    margin: 0 auto 10px;
    width: 90px;
}
.forum-post-title {
    margin: 0 0 5px;
    line-height: 1;
}
.forum-post .media-heading {
    line-height: 1;
}
.forum-post .media-heading small {
    font-size: 13px;
}
.forum-post-content {
    border-left: 1px solid #abacb0;
    padding: 15px;
}
.forum-post span.category {
    display: inline-block;
    padding: 0 10px 0 0;
}
.post-action-wr {
    margin: 0 0 10px;
}
.media-main p {
    margin-bottom: 0;
}
.forum-post-content .ellipsis {
    height: 70px;
}
.forum-post .media-body .media .media-heading {
    font-size: 16px;
    margin: 0;
    line-height: 15px;
}
.forum-post .media-body .media .media-body p {
    margin: 0;
}
.commentor-info {
    border-bottom: 1px solid #abacb0;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.forum-post .media-body .media .media-body .comment-content-wr p {
    margin-bottom: 10px;
}
.comment-feedback-wr .help-label {
    padding-right: 10px;
}
.comment-feedback-wr {
    color: #0c3ee7;
    font-weight: 600;
    font-size:13px;
}
.comment-feedback-wr a {
    color: #f37421;
}

.hiddenRow {
    padding: 0 !important;
}




.forum-more .circle,
.btn-new-comment .circle {
    position: relative;
    width: 15px;
    height: 12px;
    margin: 0 0 0 5px;
    display: inline-block;
}

.btn .circle .horizontal,
.btn .circle .vertical{
    background-color: #fef8f4;
    transition: all .4s;
}
.btn:hover .circle .horizontal,
.btn:hover .circle .vertical,
.btn:active .circle .horizontal,
.btn:active .circle .vertical,
.btn:focus .circle .horizontal,
.btn:focus .circle .vertical{
    background-color: #f37421;
}
.forum-more .circle .horizontal,
.btn-new-comment .circle .horizontal{
    position: absolute;
    width: 11px;
    height: 3px;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: 0px;
}

.forum-more .circle .vertical,
.btn-new-comment .circle .vertical{
    position: absolute;
    width: 3px;
    height: 11px;
    left: 50%;
    margin-left: -3px;
    top: 50%;
    margin-top: -4px;
}
.new-comment {
    margin-top: 15px;
}
.comment-title{
    margin: 0 0 5px 0;
}
.bg-wr-white .forum-post {
    color: #3a3a3a;
}


.closed .vertical,
.forum-more .vertical{
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
}
.closed .horizontal,
.forum-more .horizontal{
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.opened {
    opacity: 1;
}
.opened .vertical,
.minus .vertical{
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}
.opened .horizontal,
.minus .horizontal{
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}

.add-comment-textarea-wr .checkbox {
    margin-top: 7px;
    margin-bottom: 0;
}
.add-comment-textarea-wr {
    display: none;
    border: solid 1px #e7e7e7;
    margin: 0;
    padding: 15px;
    background: #0019a20d;
    margin: 20px 0 10px;
}
.add-comment-textarea-wr textarea {
    min-height: 70px;
    resize: vertical;
}


.jquery-modal .modal-convo {
    max-width: 800px;
    padding: 15px;
}
.modal-convo .media-main {
    padding: 0;
}
.modal-convo .media-inner-wr .media-object {
    margin: 0 auto 10px;
    width: 90px;
}
.modal .bootstrap-select>.dropdown-toggle.bs-placeholder,
.modal .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.modal .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.modal .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    background: none;
    border-color: #ccc;
    outline: none !important;
    outline-offset: 0;
}
.modal .bootstrap-select .dropdown-toggle,
.modal .bootstrap-select .dropdown-toggle:focus{
    background: none;
    border-color: #ccc;
    outline: none !important;
    outline-offset: 0;
}
.form-control:focus{
    border-color: #ccc;
}

.bg-wr-white .form-user-profile p label {
    color: #333;
    display: block;
    margin-top:5px;
}

.login-panel {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 3px rgb(0, 0, 0);
    margin: 0 auto 15px;
    padding: 15px;
    position: relative;
    text-align: center;
}
.avatar-img-wr {
    margin: 0 auto 15px;
}
.avatar-img-wr img {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #f1f1f1;
    border-radius: 75px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    height: 145px;
    width: 145px;
}
.avatar-wr{
    text-align: center;
}


body .section-page-hero .col-contactus .tool-title{
    line-height: 1.2;
}


span.list-label {
    font-weight: 600;
}

section .col-contact-details .sub-title {
    color: #0C3EE7;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0;
}
.col-contact-details .title {
    margin: 15px 0 10px;
}
.col-contact-details p{
    line-height: 1.42857143;
}
.col-contact-details .child-title{
    margin: 15px 0 0;
}

.col-contact-details address{
    margin-bottom: 0;
}
.map-wr {
    position: relative;
    text-align: center;
}
.view-gmap-wr {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .4s;
}
.map-wr:hover .view-gmap-wr{
    opacity: 1;
}
.space-wr{
    padding: 15px;
}
.space-wr .title{
    margin: 0 0 15px;
}
.space-wr p:last-child{
    margin-bottom: 0;
}

span.error-404 {
    font-size: 160px;
    line-height: 1;
}

body .main-title {
    font-size: 40px;
    line-height: 1;
    margin: 0 0 40px;
}
.sitemap-nav-wr > div {
    margin-bottom: 20px;
}
.sitemap-nav-title {
    margin: 0 0 10px;
}

.section-hero .col-sm-8 .title {
    color: #fff;
    font-size: 40px;
    margin: 0 0 10px;
}
.section-hero .col-sm-8 .sub-title {
    color: #f37421;
    font-size: 40px;
    font-weight: 100;
    margin: 0;
}

@media print{
    .section-hero,.article-action-btn-wr,footer{
        display: none;
    }
    .article-content-wr{
        height: auto !important;
    }
}

.response-msg {
    padding: 15px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.5);
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text
{
    text-transform: capitalize;
}

body .profile_pic .btn-dropdown {
    opacity:0;
    width:100%;
    height:100%;
}

.megamenu .contain-menu-right .profile_pic ul.dropdown-menu {
    right: -72px;
}

.section-page-hero-content .outline-primary-box {
    padding-bottom:3px !important;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-hero .flex-center .title {
    font-size: 54px;
}

.section-hero .flex-center .sub-title {
    font-size: 46px;
}

#imageHoldr {
    width:50%;
    margin-top:10px;
}

.registrationbox #imageHoldr {
    width:100%;
}

.registrationbox .delete-profile-pic {
    margin:10px 0;
}

.img-holder-upload {
    display:none;
}

.delete-profile-pic {
    display:none;
    margin:10px 5px;
}

.profile-pic-wrapper {
    margin-bottom:15px;
}

.profile-pic-wrapper p.err_msg {
    color: #ff0000;
    padding: 10px 0;

}

.img-upload-wr .sub-info {
    margin: 0 0 5px;
}

.home-btn-wr {
    margin:10px 0;
}

.startConversation  {
    margin-bottom:15px;
}

.megamenu-fw .dropdown-menu nav.main-menu .social-links-wr ul li a .fa {
    line-height: 34px;
}

.test-title {
    text-indent: 0;
    margin-bottom:15px;
    height:auto;
}

.signup-toolbox .btn-register, .signup-toolbox .btn-login-ft{
    margin: 5px;
}

.signup-toolbox .close-sign-up {
    position: absolute;
    top:10%;
    right: 2%;
}

.signup-toolbox  .btn-group-wr {
    text-align: right;
}

.ellips {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.error404 .section-page-hero .bg-wr {
    background-image: url(/dubaistartuphub/wp-content/themes/startuphub_v1/images/banners/banner-404.jpg) !important;
    background-attachment: unset !important;
}

.err-file {
    border: 1px solid #ff0000;
    padding: 5px;
}

.section-programmes header h3 {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #3a3a3a;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    border: 1px solid #f27421;
    text-transform: uppercase;;
}

.section-programmes .btn-secondary {
    line-height:2.3;
    width:100%;
    position:relative;
    text-align:left;
}

.section-programmes .btn-secondary:hover {
    cursor:pointer;
    background: #0d3fe7;
    color: #fff;
    opacity: .9;
}

.section-programmes .btn-secondary i {
    position: absolute;
    right: 5px;
    top: 12px;
}

.padrow {
    padding:10px 0;
}


.startup-collapsable.panel-group .panel {
    border: 1px solid #f37421 !important;
    border-radius: 0;
    margin-bottom: 25px;
    padding: 25px 20px;
    padding: 5px 10px;
}
.startup-collapsable .panel-default > .panel-heading {
    border: 0;
}


.section-feeds .startup-collapsable  article h3{
    font-size: 30px;
    font-weight: 700;
    color:#0E1D9C !important;
    margin: 10px 0 15px;
}
.startup-collapsable .panel-title,
.startup-collapsable .panel-title a,
.startup-collapsable .panel-default > .panel-heading a,
.startup-collapsable .panel-default > .panel-heading a:hover{
    font-size: 30px;
    font-weight: 700;
    color:#0E1D9C !important;
}
.startup-collapsable h5,
.startup-collapsable h6{
    color:#0E1D9C !important;
    font-weight: 700;
    margin-top: 0;
    text-transform: capitalize;
}
.startup-collapsable .panel-body {
    padding: 15px 20px 10px;
}

.main-desc {
    margin: -20px 0 35px;
}

.apply-here-wr .form-control {
    border-radius:0;
}

.apply-here-wr span.required {
    color:#FF0000;
}

.apply-here-wr .wpcf7-submit.btn {
    background-color: #0623bf;
    color: #fff;
    padding: 10px 15px;
}

.apply-here-wr .wpcf7-response-output {
    clear:both;
    position:relative;
}

.apply-here-wr .form-group:after {
    content: "";
    clear: both;
    display: block;
    margin-bottom: 20px;
}

.fig-bg {
    background-size: cover;
    background-position: center;
}

.user-list .fig-bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.media-left .media-inner-wr .fig-bg {
    width: 90px;
    height: 90px;
    margin:0 auto;
}

.media-left .fig-bg {
    width: 60px;
    height: 60px;
    margin:0 auto;
}


.user-list .fig-bg img, .media-inner-wr .fig-bg img, .media-left .fig-bg img{
    opacity:0;
    height:0;
}

.collapse-comments .media:first-child {
    margin-top: 10px;
}

body div.bbp-template-notice {
    background-color: #14b116a8;
    border-color: #3c763d;
}

.tml-login > p.message {
    background: #0bab0e2e;
    border-color: #9ed49f;
}

.ellip {
    height: 51px;
    overflow: hidden !important;
}

.autoheight {
    height:auto;
    transition: 1s;
}

#updateuser .error {
    color: #C00;
    font-size: 11px;
}

.megamenu-fw .dropdown-menu nav.main-menu > ul li.forum-menu-item> a.live:before {
    content: "live";
    display: inline-block;
    line-height: 1;
    opacity: 1;
    font-size: 14px;
    font-family: 'Helveticaneue' !important;
    top: 0;
    left: 95px;
    color:#fff;
}

#forum-live-wr {
    position:fixed;
    bottom:0;
    right:0;
}

.forum-live-inner-wr svg {
    height:20px;
    width:auto;
}

.forum-live-inner-wr .tcon-svgchevron path {
    stroke:#fff;
}

.forum-live-inner-wr .tcon-indicator {
    display:inline-block;
    vertical-align:middle;
}

.forum-live-inner-wr .r-arrow svg{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari 3-8 */
    transform: rotate(270deg);
}

.forum-live-inner-wr .l-arrow svg{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

.forum-live-inner-wr .btn-primary:hover {
    background:#f37421;
    color:#fff;
}

.forum-menu-item > a.live{
    position:relative;
    display:inline-block;
}

.forum-menu-item {
    position:relative;
}

.form-user-profile .form-control.error {
    margin:0;
}

.btn-live {
    padding:10px;
}

/** MARKET ACCESS **/

.text-white {
    color:#fff !important;
}

.width100 {
    width:100%;
}

.market-access .social-article-share-wr {
    text-align: center;
    margin-bottom: 20px;
}

.market-access .single-event-content-wr .nav-tabs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.market-access .single-event-content-wr .nav-tabs li  {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.market-access .single-event-content-wr .nav-tabs li a {
    width: 100%;
    text-align: center;
    color:#555;
}

.market-access .single-event-content-wr .nav-tabs li.active a {
    color:#0019a2;
}

.market-access .bg {
    background: /* top, transparent #020202, faked with gradient */ linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), /* bottom, image */ url(http://www.dubaichamber.com/marketaccess/images/inner-bg.jpg);
    background-size: cover;
    background-position: top center;
    display: table;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.market-access .img-fig {
    padding:20px;
    max-width:100%;
}

.market-access .single-event figure img.img-responsive {
    padding:10px;
}

.market-access .content {
    padding-top:15px;
    padding-bottom:15px;
}

.market-access .content ul li {
    padding: 5px 0;
}

.market-access .updates-info-wr a {
    color:#555;
}

.market-access .updates-info-wr ul {
    padding:0;
}

.market-access .grey-bg {
    background-color:#f6f6f7;
}

.panel-secondary

{   border-radius: 0;   background-color: #e8e8e8; }
.panel-secondary .panel-heading

{   background: #093f5e;   color: #fff;   font-size: 20px;   text-align: center;   text-transform: uppercase;   border-radius: 0; }

.page-template-market-access-inner img.attachment-post-thumbnail {
    width:300px;
    height:auto !important;
}

.page-template-market-access-inner .single-event figure img.img-responsive {
    padding: 10px;
}
.page-template-market-access-inner .member-details-wr {
    margin: 30px 0;
}
.page-template-market-access-inner .single-event .cont-min {
    min-height: 72px;
}

.navbar-header .welcome-btn a {
    color:#fff;
}

.education article
{
    border: 3px solid #f37421;
    border-radius: 15px;
}

.education article figure img
{
    border-radius: 12px 12px 0px 0px;
}
.education article .text
{
    min-height: 45px;
}
.education article .readmore
{
    padding-top: 10px;
}

.page-template-market-access-inner .panel-secondary .panel-heading, .page-template-education-inner-page .panel-secondary .panel-heading
{
    background: #0019a2;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}

.page-template-market-access-inner .panel-secondary, .page-template-education-inner-page .panel-secondary
{   border-radius: 0;
    background-color: #0019a2;
}
.apply-member-cta{
    font-size: 18px;
}

.page-template-education-inner .wp-post-image
{
    width: 300px;
    height: auto;
}

.education-inner img
{
    width: auto;
    height: 160px;
}
.site-footer
{
    clear: both;
}
.co-founder .cofounder-header .row:first-child{
    border-bottom: 2px solid #e3e3e3;
}
.co-founder h2{
    font-size:35px;
    color:#3a3a3a;
}
.co-founder p{
    font-size: 21px;
    color:#3a3a3a;
}
.co-founder .cofounder-header p{

}
.cofounder-banner p{
    font-size: 35px !important;
}
.cofounder-banner a{
    display:inline-block;
    text-align:center;
    padding: 15px 20px;
    font-size: 18px;
    border: 2px solid #ff8300;
    color:#fff;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.cofounder-banner a:hover{
    color: #3a3a3a;
    text-decoration: none;
    background-color: #ff8300;
}


.smartpreneur-4-banner a{
    display:inline-block;
    text-align:center;
    padding: 15px 20px;
    font-size: 18px;
    border: 2px solid #ff8300;
    color:#fff;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
	width: 200px;
	background: #ff8300;
}
.smartpreneur-4-banner a:hover{
    color: #3a3a3a;
    text-decoration: none;
    background-color: #ff8300;
}


.co-founder .programme-options{
    margin:0;
}
.co-founder .programme-option{
    padding: 20px;
    font-size: 21px;
    border: 1px solid #898989;
}
.co-founder .programme-option:first-child{
    background-color: #f6f6f6;
    border-bottom: 1px solid #bebebe;
}
.co-founder .programme-option:second-child{
    border-top: 1px solid #bebebe;
}
.co-founder .programme-option .option-hint{
    color:#f07330;
    font-weight: bold;
}
.co-founder .programme-option:first-child .option-hint{
    color:#27388e;
}
.co-founder .img-fig{
    max-width: 100%;
}
.co-founder .content {
    padding-top: 15px;
    padding-bottom: 15px;
}
.co-founder .option-link{
    font-size:19px;
}
.co-founder .option-link a{
    margin:0 !important;
}
.co-founder .comptetition-cyle{
    padding:25px 0;
    text-align: center;
}
.co-founder .comptetition-cyle h2{
    margin-bottom: 40px;
}
.co-founder .submitapplication{
    font-size:19px;
    padding: 10px 40px;
    display:inline-block;
    color: #3a3a3a;
    border: 2px solid #f17430;
    text-align: center;
    font-weight: bold;
    margin:40px 0;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.co-founder .disabledlink{
    font-size:19px;
    padding: 10px 40px;
    display:inline-block;
    color: #c4c4c4;
    border: 2px solid #fbd5c0;
    text-align: center;
    font-weight: bold;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;

}
.co-founder .disabledlink:hover{
    color: #c4c4c4;
    text-decoration: none;
}
.co-founder .submitapplication:hover{
    color: #fff;
    text-decoration: none;
    background-color: #f17430;
}
.co-founder .panel-secondary .panel-heading,.co-founder .panel-body{
    background-color:#05229f;
}
.co-founder .cofounder-about p{
    font-size: 15px;
}
.co-founder .cofounder-about a{
    font-size:19px;
    padding: 10px 50px;
    display:inline-block;
    color: #f07330;
    border: 2px solid #f07330;
    text-align: center;
    font-weight: bold;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.co-founder .cofounder-about a:hover{
    text-decoration: none;
    color:#fff;
    background-color:#f07330;
}
.co-founder .cofounder-about div p:first-child{
    min-height: 130px;
    display: block;
}
.co-founder .factbg{
    background-position: left top;
    background-image: url(../images/co-founder-fact-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 60px;
}
.cofounder-banner img{
    max-width: 100%;
    height:auto;
}

.co-founder #whoapply{
    margin-bottom:40px;
}
.co-founder #whoapply .card:first-child h5, .co-founder #whoapply .card:first-child #collapseOne .card-body{
    background-color: #27388e;
}
.co-founder #whoapply h5{
    padding:15px 30px 25px;
    background-color:#f07330;
    margin:0;
}
.co-founder #whoapply h5 .btn{
    position: relative;
    width: 100%;
    text-align: left;
    text-decoration: none;
}
.co-founder #whoapply h5:hover,.co-founder #whoapply h5 .btn:hover,.co-founder #whoapply h5 btn span:hover{
    text-decoration: none;
}.co-founder #whoapply .card{
    margin-bottom: 1px;
}
.co-founder #whoapply h5 .btn span{
    font-size:24px;
    color:#fff;
    text-decoration: none;
}
.co-founder #whoapply h5 .btn span:nth-child(2){
    float:right;
    margin-right: 100px;
    text-decoration: none;
}
.co-founder #whoapply h5 .collapseicon{
    position: absolute;
    right: 0px;
    top: 15px;
    -webkit-transition: transform 0.5s; /* Safari */
    transition: transform 0.5s;
    width:100%;
    max-width: 41px;
    display: block;
}
.co-founder #whoapply h5 .collapseicon img{
    width:100%;
}
.co-founder #whoapply .card-body{
    padding: 15px 50px 25px 30px;
    background-color: #f07330;
}
.co-founder #whoapply .card-body img{
    width:100%;
    max-width: 511px;
}
.collapse{
    display: none !important;
}
.collapse.in{
    display: block !important;
}
.co-founder #whoapply li{
    font-size:19px;
    color:#fff;
}
.cycle-steps-mobile{
    display:none;
}

@media (max-width: 1199px){
    .co-founder .factbg{
        padding: 35px;
    }
    .co-founder .cofounder-about div p:first-child {
        min-height: 160px;
    }
}
@media (max-width: 991px){
    .co-founder .factbg{
        background-size: auto 100%;
    }
    .co-founder h2{
        font-size:30px;
    }
    .cofounder-banner p{
        font-size: 30px !important;
    }
    .co-founder p,.co-founder .cofounder-about p{
        font-size:15px;
    }
    .co-founder .cofounder-about a{
        font-size:16px;
        padding:10px 30px;
    }
    .co-founder .programme-option{
        font-size: 13px;
    }
    .co-founder .submitapplication, .co-founder .disabledlink{
        font-size:13px;
        padding: 10px 20px;
    }
    .co-founder #whoapply h5 .btn span:nth-child(2){
        margin-right: 50px;
    }
    .co-founder #whoapply li{
        font-size:17px;
    }
    .co-founder .cycle-steps{        
        height: 220px;
    }
    .co-founder .cofounder-about div p:first-child {
        min-height: 200px;
    }
}
@media (max-width: 767px){
    .cycle-steps-mobile{
        display:block;
    }
    .cycle-steps-desktop{
        display:none;
    }
    .co-founder .programme-option,.co-founder .content{
        padding:10px;
    }
    .co-founder p, .co-founder .cofounder-about p{
        font-size:14px;
    }
    .co-founder .cofounder-about a {
        font-size: 14px;
        padding: 10px 20px;
    }
    .co-founder #whoapply h5{
        padding: 10px;
    }
    .co-founder #whoapply h5 .btn span{
        font-size:17px;
    }
    .co-founder #whoapply h5 .collapseicon{
        top:5px;
        width:20px;
    }
    .co-founder #whoapply .card-body img{
        display: block;
        margin: auto;
    }
    .co-founder .cofounder-about div p:first-child {
        min-height: auto;
    }
}
@media (max-width: 480px){

    .co-founder #whoapply h5 .btn span{
        font-size:14px;
    }
    .co-founder #whoapply li{
        font-size:14px;
    }
    .co-founder #whoapply h5 .btn span:nth-child(2){
        margin-right: 25px;
    }
    .co-founder #whoapply h5 .btn{
        padding:0;
    }
    .cofounder-banner p{
        font-size: 19px !important;
    }
    .co-founder .submitapplication{
        margin:10px 0;
    }
}
button.btn.col-centered.block.btn-block.btn-primary.apply-now-smrt {
    height: 59px;
}

/* for market access 2019 */
.market-access .cofounder-header .row:first-child{
    /*border-bottom: 2px solid #e3e3e3;*/
}
.market-access h2{
    font-size:35px;
    color:#3a3a3a;
}
.market-access p{
    font-size: 21px;
    color:#3a3a3a;
}
.market-access .cofounder-header p{

}
.cofounder-banner p{
    font-size: 35px !important;
}
.cofounder-banner a{
    display:inline-block;
    text-align:center;
    padding: 15px 20px;
    font-size: 18px;
    border: 2px solid #ff8300;
    color:#fff;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.cofounder-banner a:hover{
    color: #3a3a3a;
    text-decoration: none;
    background-color: #ff8300;
}

.market-access .programme-options{
    margin:0;
}
.market-access .programme-option{
    padding: 20px;
    font-size: 21px;
    border: 1px solid #898989;
}
.market-access .programme-option:first-child{
    background-color: #f6f6f6;
    border-bottom: 1px solid #bebebe;
}
.market-access .programme-option:second-child{
    border-top: 1px solid #bebebe;
}
.market-access .programme-option .option-hint{
    color:#f07330;
    font-weight: bold;
}
.market-access .programme-option:first-child .option-hint{
    color:#27388e;
}
.market-access .img-fig{
    max-width: 100%;
}
.market-access .content {
    padding-top: 15px;
    padding-bottom: 15px;
}
.market-access .option-link{
    font-size:19px;
}
.market-access .option-link a{
    margin:0 !important;
}
.market-access .comptetition-cyle{
    padding:25px 0;
    text-align: center;
}
.market-access .comptetition-cyle h2{
    margin-bottom: 40px;
}
.market-access .submitapplication{
    font-size:19px;
    padding: 10px 40px;
    display:inline-block;
    color: #3a3a3a;
    border: 2px solid #f17430;
    text-align: center;
    font-weight: bold;
    margin:40px 0;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    min-width: 210px;
}
.market-access .disabledlink{
    font-size:19px;
    padding: 10px 40px;
    display:inline-block;
    color: #c4c4c4;
    border: 2px solid #fbd5c0;
    text-align: center;
    font-weight: bold;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
    min-width: 210px;

}
.market-access .disabledlink:hover{
    color: #c4c4c4;
    text-decoration: none;
}
.market-access .submitapplication:hover{
    color: #3a3a3a;
    text-decoration: none;
    background-color: #f17430;
}
.market-access .panel-secondary .panel-heading,.market-access .panel-body{
    background-color:#05229f;
}
.market-access .cofounder-about p{
    font-size: 15px;
}
.market-access .cofounder-about a{
    font-size:19px;
    padding: 10px 50px;
    display:inline-block;
    color: #f07330;
    border: 2px solid #f07330;
    text-align: center;
    font-weight: bold;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.market-access .cofounder-about a:hover{
    text-decoration: none;
    color:#fff;
    background-color:#f07330;
}
.market-access .cofounder-about div p:first-child{
    min-height: 130px;
    display: block;
}
.market-access .factbg{
    background-position: left top;
    background-image: url(../images/co-founder-fact-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 60px;
}
.cofounder-banner img{
    max-width: 100%;
    height:auto;
}

.market-access #whoapply{
    margin-bottom:40px;
}
.market-access #whoapply .card:first-child h5, .market-access #whoapply .card:first-child #collapseOne .card-body{
    background-color: #27388e;
}
.market-access #whoapply h5{
    padding:15px 30px 25px;
    padding:15px 30px 10px;
    background-color:#f07330;
    margin:0;
}
.market-access #whoapply h5 .btn{
    position: relative;
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-size: 24px;
}
.market-access #whoapply h5:hover,.market-access #whoapply h5 .btn:hover,.market-access #whoapply h5 btn span:hover{
    text-decoration: none;
}.market-access #whoapply .card{
    margin-bottom: 1px;
}
.market-access #whoapply h5 .btn span{
    font-size:24px;!important
    color:#fff;!important
    text-decoration: none;!important
}
.market-access #whoapply h5 .btn span:nth-child(2){
    float:right;
    margin-right: 100px;
    text-decoration: none;
}
.market-access #whoapply h5 .collapseicon{
    position: absolute;
    right: 0px;
    top: 15px;
    top: 5px;
    -webkit-transition: transform 0.5s; /* Safari */
    transition: transform 0.5s;
    width:100%;
    max-width: 41px;
    display: block;
}
.market-access #whoapply h5 .collapseicon img{
    width:100%;
}
.market-access #whoapply .card-body{
    padding: 15px 50px 25px 30px;
    background-color: #f07330;
}
.market-access #whoapply .card-body img{
    width:100%;
    max-width: 511px;
}
.collapse{
    display: none !important;
}
.collapse.in{
    display: block !important;
}
.market-access #whoapply li{
    font-size:19px;!important
    color:#fff;!important
}
.cycle-steps-mobile{
    display:none;
}

@media (max-width: 1199px){
    .market-access .factbg{
        padding: 35px;
    }
    .market-access .cofounder-about div p:first-child {
        min-height: 160px;
    }
}
@media (max-width: 991px){
    .market-access .factbg{
        background-size: auto 100%;
    }
    .market-access h2{
        font-size:30px;
    }
    .cofounder-banner p{
        font-size: 30px !important;
    }
    .market-access p,.market-access .cofounder-about p{
        font-size:15px;
    }
    .market-access .cofounder-about a{
        font-size:16px;
        padding:10px 30px;
    }
    .market-access .programme-option{
        font-size: 13px;
    }
    .market-access .submitapplication, .market-access .disabledlink{
        font-size:13px;
        padding: 10px 20px;
    }
    .market-access #whoapply h5 .btn span:nth-child(2){
        margin-right: 50px;
    }
    .market-access #whoapply li{
        font-size:17px;
    }
    .market-access .cycle-steps{        
        height: 220px;
    }
    .market-access .cofounder-about div p:first-child {
        min-height: 200px;
    }
}
@media (max-width: 767px){
    .cycle-steps-mobile{
        display:block;
    }
    .cycle-steps-desktop{
        display:none;
    }
    .market-access .programme-option,.market-access .content{
        padding:10px;
    }
    .market-access p, .market-access .cofounder-about p{
        font-size:14px;
    }
    .market-access .cofounder-about a {
        font-size: 14px;
        padding: 10px 20px;
    }
    .market-access #whoapply h5{
        padding: 10px;
        padding: 10px 10px 5px;
    }
    .market-access #whoapply h5 .btn span{
        font-size:17px;
    }
    .market-access #whoapply h5 .collapseicon{
        top:0px;
        width:20px;
    }
    .market-access #whoapply .card-body img{
        display: block;
        margin: auto;
    }
    .market-access .cofounder-about div p:first-child {
        min-height: auto;
    }
}
@media (max-width: 480px){

    .market-access #whoapply h5 .btn span{
        font-size:14px;
    }
    .market-access #whoapply li{
        font-size:14px;
    }
    .market-access #whoapply h5 .btn span:nth-child(2){
        margin-right: 25px;
    }
    .market-access #whoapply h5 .btn{
        padding:0;
        font-size: 16px;
    }
    .cofounder-banner p{
        font-size: 19px !important;
    }
    .market-access .submitapplication{
        margin:10px 0;
    }
}


.title-link{
    display: flex;
    justify-content: space-between;
}
.title-link:hover{
    text-decoration: none;
}
.title-link span{
    font-size: 30px;
    color: #000000;
    line-height: 38px;
    font-weight: 700;
}
.title-content
{
    font-size: 14px;
    font-weight: normal;
    padding-top: 15px;
    text-transform: none;
}
.title-link i{
    color: #f37421;
    font-size: 32px;
    width:auto;
}

.blue-blocks{
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-bottom: 33px;
}

.blue-blocks .box {
    background: #12289D;
    padding:50px 33px 60px;
    height:100%;
}
.blue-blocks .box .svg-wr{
    margin-bottom: 37px;
}
.blue-blocks .box .desc{
    color:#fff;
    font-size: 25px;
    line-height: 38px;
    font-weight: 300;
}
.blue-blocks .box .desc:last-child{
    margin-bottom:0;
}
.sep-hr{
    border-color:#D8D8D8;
}
@media (max-width:480px){
    .blue-blocks {
        align-items: flex-start;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .blue-blocks .box {
        margin-bottom:15px;
        padding:30px 33px 40px;
    }
    .blue-blocks .box .desc {
        font-size: 18px;
        line-height: 2;
    }
}